{% if article.template == 'documentaire' %}
<div class="home-item" data-type="{{article.template}}" data-category="{{article.category}}">
	<img src="images/{{article.cover}}" alt="">
	<a class="item-title" href="{{article.url}}">Documentaire - {{article.title}}</a>
</div>

{% elif article.template == 'court-metrage' %}
<div class="home-item" data-type="{{article.template}}" data-category="{{article.category}}">
	<img src="images/{{article.cover}}" alt="">
	<a href="{{ article.url }}">{{article.title}}</a>
</div>

{% elif article.template == 'podcast' %}
<div class="home-item" data-type="{{article.template}}" data-category="{{article.category}}">
	<a href="{{ article.url }}">{{article.title}}</a>
</div>

{% elif article.template == 'lexique' %}

<div class="home-item" data-type="{{article.template}}" data-category="{{article.category}}">
	<a href="{{ article.url }}">{{article.title}}</a>
</div>

{% elif article.template == 'ressource' %}

<div class="home-item" data-type="{{article.template}}" data-category="{{article.category}}">
	<a href="{{ article.url }}">{{article.title}}</a>
</div>

{% endif %}
