// @mixin grid($verti, $horiz) {
//
// 	grid-template-columns: repeat($verti, 1fr);
// 	grid-template-rows: repeat($horiz, 1fr);
// 	grid-column-gap: 0px;
// 	grid-row-gap: 0px;
// 	display: grid;
//
// }
@mixin grid($verti, $horiz) {

		grid-template-columns: repeat($verti, 1fr);
		grid-template-rows: repeat($horiz, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		display: grid;

		@for $i from 4 through $verti { 
			.box-infos-#{$i} {
				width: percentage($i / $verti);
			}
		}
		@for $i from 3 through $horiz {
			.box-infos-#{$i} {
				width: percentage($i / $horiz);
			}
}
}
