@import 'grid';
@import 'variables';

body, main {
  position: relative;
  margin: 0;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  .item {
    margin: 0;
    width: 100vw;
    height: 100vh;
    @include grid (10,40);

    [class^='box-infos-'] {
        border: 1px solid;
        box-sizing: border-box;
        display:grid;
        padding: 0em 0;
        text-align: center;
.box-infos-{
      border-radius: 1px; 
      height: auto !important;
      overflow-x: hidden;
      overflow-y: auto;
      transform-origin: top left;
      border: 1px solid black;
      background: red;
}

      header{
        padding: 1vw;
      }

      &:nth-of-type(odd){
        background: yellow;
      }

      //   &:nth-child(5){
      //   grid-column: 32/22;
      //
      // }
      h1,h2 {
        margin-bottom: 1vh;
        font-family: "HKGrotesk-Bold";
      }
    }
  }
}
