body, main {
  position: relative;
  margin: 0;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh; }
  body .item, main .item {
    margin: 0;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(40, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    display: grid; }
    body .item .box-infos-4, main .item .box-infos-4 {
      width: 40%; }
    body .item .box-infos-5, main .item .box-infos-5 {
      width: 50%; }
    body .item .box-infos-6, main .item .box-infos-6 {
      width: 60%; }
    body .item .box-infos-7, main .item .box-infos-7 {
      width: 70%; }
    body .item .box-infos-8, main .item .box-infos-8 {
      width: 80%; }
    body .item .box-infos-9, main .item .box-infos-9 {
      width: 90%; }
    body .item .box-infos-10, main .item .box-infos-10 {
      width: 100%; }
    body .item .box-infos-3, main .item .box-infos-3 {
      width: 7.5%; }
    body .item .box-infos-4, main .item .box-infos-4 {
      width: 10%; }
    body .item .box-infos-5, main .item .box-infos-5 {
      width: 12.5%; }
    body .item .box-infos-6, main .item .box-infos-6 {
      width: 15%; }
    body .item .box-infos-7, main .item .box-infos-7 {
      width: 17.5%; }
    body .item .box-infos-8, main .item .box-infos-8 {
      width: 20%; }
    body .item .box-infos-9, main .item .box-infos-9 {
      width: 22.5%; }
    body .item .box-infos-10, main .item .box-infos-10 {
      width: 25%; }
    body .item .box-infos-11, main .item .box-infos-11 {
      width: 27.5%; }
    body .item .box-infos-12, main .item .box-infos-12 {
      width: 30%; }
    body .item .box-infos-13, main .item .box-infos-13 {
      width: 32.5%; }
    body .item .box-infos-14, main .item .box-infos-14 {
      width: 35%; }
    body .item .box-infos-15, main .item .box-infos-15 {
      width: 37.5%; }
    body .item .box-infos-16, main .item .box-infos-16 {
      width: 40%; }
    body .item .box-infos-17, main .item .box-infos-17 {
      width: 42.5%; }
    body .item .box-infos-18, main .item .box-infos-18 {
      width: 45%; }
    body .item .box-infos-19, main .item .box-infos-19 {
      width: 47.5%; }
    body .item .box-infos-20, main .item .box-infos-20 {
      width: 50%; }
    body .item .box-infos-21, main .item .box-infos-21 {
      width: 52.5%; }
    body .item .box-infos-22, main .item .box-infos-22 {
      width: 55%; }
    body .item .box-infos-23, main .item .box-infos-23 {
      width: 57.5%; }
    body .item .box-infos-24, main .item .box-infos-24 {
      width: 60%; }
    body .item .box-infos-25, main .item .box-infos-25 {
      width: 62.5%; }
    body .item .box-infos-26, main .item .box-infos-26 {
      width: 65%; }
    body .item .box-infos-27, main .item .box-infos-27 {
      width: 67.5%; }
    body .item .box-infos-28, main .item .box-infos-28 {
      width: 70%; }
    body .item .box-infos-29, main .item .box-infos-29 {
      width: 72.5%; }
    body .item .box-infos-30, main .item .box-infos-30 {
      width: 75%; }
    body .item .box-infos-31, main .item .box-infos-31 {
      width: 77.5%; }
    body .item .box-infos-32, main .item .box-infos-32 {
      width: 80%; }
    body .item .box-infos-33, main .item .box-infos-33 {
      width: 82.5%; }
    body .item .box-infos-34, main .item .box-infos-34 {
      width: 85%; }
    body .item .box-infos-35, main .item .box-infos-35 {
      width: 87.5%; }
    body .item .box-infos-36, main .item .box-infos-36 {
      width: 90%; }
    body .item .box-infos-37, main .item .box-infos-37 {
      width: 92.5%; }
    body .item .box-infos-38, main .item .box-infos-38 {
      width: 95%; }
    body .item .box-infos-39, main .item .box-infos-39 {
      width: 97.5%; }
    body .item .box-infos-40, main .item .box-infos-40 {
      width: 100%; }
    body .item [class^='box-infos-'], main .item [class^='box-infos-'] {
      border: 1px solid;
      box-sizing: border-box;
      display: grid;
      padding: 0em 0;
      text-align: center; }
      body .item [class^='box-infos-'] .box-infos-, main .item [class^='box-infos-'] .box-infos- {
        border-radius: 1px;
        height: auto !important;
        overflow-x: hidden;
        overflow-y: auto;
        transform-origin: top left;
        border: 1px solid black;
        background: red; }
      body .item [class^='box-infos-'] header, main .item [class^='box-infos-'] header {
        padding: 1vw; }
      body .item [class^='box-infos-']:nth-of-type(odd), main .item [class^='box-infos-']:nth-of-type(odd) {
        background: yellow; }
      body .item [class^='box-infos-'] h1, body .item [class^='box-infos-'] h2, main .item [class^='box-infos-'] h1, main .item [class^='box-infos-'] h2 {
        margin-bottom: 1vh;
        font-family: "HKGrotesk-Bold"; }

/*# sourceMappingURL=style.css.map */
