//COLORS
$color-txt: #3e0a51;
$color-txt-b: #f0d4fd;
$color-fond:papayawhip;
$color-podcast:#00dab0;
$color-courts: #f0d4fd;
$color-docu: #3e0a51;
$color-lexique: #f0d4fd;
$color-edito:#f0d4fd;

$size: 1.2em;
$u: 20px;
$box-shadow: 0 0.5rem 1rem rgba($color-lexique, 0.15) !default;
$box-shadow-variation:1 0.5rem 2rem rgba($color-lexique, 0.25) !default;
