
  <div class="close" onclick="boxmenu('menu-edito')">✕</div>
  <ul class="EditoNav">
    <li class="bouton" onclick="show('edito2')"><a href="#">Édito</a></li>
    <li class="bouton" onclick="show('apropos')"><a href="#">À propos</a></li>
    <li class="bouton" onclick="show('colophon')"><a href="#">Colophon</a></li>
  </ul>
  <ul class="reseau">
    <li><a target="_blank" href="https://www.facebook.com/nosfutursnet">facebook</a></li>
    <li><a target="_blank" href="https://twitter.com/nosfuturs_net">twitter</a></li>
    <li><a target="_blank" href="https://www.instagram.com/nosfutursnet/">instagram</a></li>
    <li><a target="_blank" href="https://www.linkedin.com/company/centre-vidéo-de-bruxelles/">linkedin</a></li>
    <li><a target="_blank" href="https://deeb7882.sibforms.com/serve/MUIEAK0jpcYh_KSgsCqkrxo3a0lUetKLUdOdDCHmxV7FsnnvnM_EElGPqiwSCz-fSdW9z023gd4vLBGW6zmnH3mxnwOXdsnmgHBkzoGWGPwVQZFDljzgw1_dkrczUeTA9R-cV9OD9mVp8eSKtL-0yFAw2YRuckZah2fu0McFvP92pL7BSdJE4NEM1gVaEZSiwNNFZfPotIEq2dyf">newsletter</a></li>
  </ul>
  <div id="edito" class="text">
    {% include 'edito_nf.html' %}
  </div>
  <div id="apropos" class="text" style="display:none">
    {% include 'apropos.html' %}
   </div>
   <div id="edito2" class="text" style="display:none">
     {% include 'edito_nf.html' %}
  </div>
  <div id="colophon" class="text" style="display:none">
    {% include 'colophon.html' %}
  </div>
