/* jaune : ffe55dff */
/* bleu : 20d1eaff */
/* rouge : ff4033ff */

@font-face {
  font-family: "Redaction_10-Bold-CVB";
  src: url("../../theme/static/font/redaction/webfonts/Redaction35-Bold-CVB.ttf");
}

@font-face {
  font-family: "HKGrotesk-Medium";
  src: url("../../theme/static/font/HKGrotesk-Medium.ttf");
}

@font-face {
  font-family: "HKGrotesk-Bold";
  src: url("../../theme/static/font/HKGrotesk-Bold.otf");
}

body{
  margin: 0;
}

/* NOSFUTURS.NET */

body .menu {
  width: 100%;
  background: transparent;
  font-family: "Redaction_10-Bold-CVB";
  font-weight: normal;
  color: #00dab0;
  font-size: 5em;
  -webkit-text-stroke: 0.004em #3e0a51;
  text-shadow: -0.05em 0.05em #3e0a51;
  transition: all 0.25s ease-in-out;
  /* display: flex; */
  display: none;
  flex-wrap: wrap;
  height: 100%;
  position: absolute;
  z-index: 10;

}
body .menu:hover {
  text-shadow: 0 0 #3e0a51;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
body .menu-bottom,
body .menu-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .menu-top {
  align-items: start;
  height: 50%;
}
body .menu-bottom {
  align-items: flex-end;
  height: 50%;
}
body .menu-shadow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

body .title {
  padding: 0 0.3em;
  z-index: 1;
}
body .title:nth-of-type(2) {
  text-align: right;
}


/* FIN NOSFUTURS.NET */

.containerTemporaryHome{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  font-family: "HKGrotesk-Medium";
}

.containerTemporaryHome #editoLeTravailQuiVient,
.containerTemporaryHome #editioNosFuturs,
.containerTemporaryHome #editoAutogestion{
    width: 33.33%;
    height: 100%;
}

.containerTemporaryHome #editoLeTravailQuiVient{
  background: #f0d4fd;
}

.containerTemporaryHome #editoLeTravailQuiVient .textEdito,
.containerTemporaryHome #editoAutogestion .textEdito,
.containerTemporaryHome #editioNosFuturs .textEdito{
  padding: 5%;
}

.containerTemporaryHome #editoLeTravailQuiVient .imgLTQV{
  object-fit: cover;
  height: 100%;
  position: fixed;
  /* z-index: -1; */
  mix-blend-mode: screen;
}

.containerTemporaryHome #editioNosFuturs{
  background: white;
}

.containerTemporaryHome #editoAutogestion {
  background: #ffe55d;
}

.containerTemporaryHome #editoLeTravailQuiVient .textEdito,
.containerTemporaryHome #editoAutogestion .textEdito {
  display: none;
}

.containerTemporaryHome #editoAutogestion .imgAutoGestion{
  object-fit: contain;
  /* object-position: 50% 50%; */
  height: 100%;
  mix-blend-mode: screen;
}

.containerTemporaryHome #editoLeTravailQuiVient:hover .imgLTQV{
  display: none;
  transition: ease-in-out 0.2s;
}

.containerTemporaryHome #editoAutogestion:hover .imgAutoGestion{
  display: none;
  transition: ease-in-out 0.2s;
}

.containerTemporaryHome #editoLeTravailQuiVient:hover .textEdito{
  display: block;
}

.containerTemporaryHome #editoAutogestion:hover .textEdito{
  display: block;
}
