{% if article %}

<div class="player player_{{article.type}}">

  <h1>{{ article.title }}</h1>
  {{ article.content }}
  <iframe width="100%" src="https://www.youtube.com/embed/{{ article.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endif %}
