{% if article %}

<div class="background-content background-content_{{ article.type }}">
	<div class="player reader_{{article.type}}">

		<div class="header">
			<h1>
				{{ article.title }}
			</h1>
			{% if article.subtitle %}
			<h2>
				{{ article.subtitle }}
			</h2>
			{% endif %}

			<span class="date" >
				{{ article.date }}
			</span>
		</div>

		<div class="info-primaires">
			<iframe style="display:none" width="100%" color2="0xf0d4fd" height="500" src="https://www.youtube.com/embed/{{ article.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" rel="0" allowfullscreen></iframe>

			{{ article.content }}

		</div>

	</div>
</div>
{% endif %}
