
{% if article %}

<div class="player reader_{{article.type}}">

	<div class="header">
		<h1>
			{{ article.title }}
		</h1>
		<h2>
			{{ article.subtitle }}
		</h2> 
		<span class="date" >
			{{ article.date }}
		</span>
	</div>
	<div class="flex-box">
	<div class="info-primaires">
		{{ article.content }}

	</div>
	<!-- <div class="iframe_box"> -->
		<iframe id="iframe_documentaire" style="transform-origin: 100% 0;" width="640" height="360" allowfullscreen="true" allow="encrypted-media" scrolling="no" src="https://iframe.dacast.com/vod/affcee6a-fb4e-d06f-e78b-02ff8ab4cd8e/ed34a878-6a94-7bfe-6377-c89e4dfd4cda" frameborder="0"></iframe>
	<!-- </div> -->
</div>
 
{% endif %}

