
{% if article %}


<div class="player reader_{{article.type}}" data-id="{{article.slug}}">
	<div class="shadow-box btn_info">.</div>
	<div class="header">


			<audio id="player_source" controls>
				<source id="player_source_item" src="{{ article.audio }}"  type="audio/mp3">
			</audio>
			<div class="audio-player">
				<div class="timeline">
					<div class="progress"></div>
				</div>
				<div class="controls">
					<div class="play-container">
						<div class="toggle-play play">
						</div>
					</div>
					<div class="volume-container">
						<div class="volume-button">
							<div class="volume icono-volumeMedium"></div>
						</div>
						<div class="volume-slider">
							<div class="volume-percentage"></div>
						</div>
					</div>
					<div class="time">
						<div class="current">0:00</div>
						<div class="divider">/</div>
						<div class="length"></div>
					</div>
					<div class="name">{% for podcast in articles if podcast.slug == article.category %}
						{{ podcast.title}} : {% endfor %}{{ article.title }}</div>
					<div id="btn_info" class="btn_info">
						<div id="plusInfo">plus d'infos</div>
						<div id="moinsInfo">réduire</div>
					</div>
					<div id="btn_prev_next">
						<span class="prev actif">&lt;</span>
						<span class="next delete_audio actif"> > </span>
					</div>


				</div>
			</div>
	</div>
	<div class="info">
		<h1>
			<span>
				{% for podcast in articles if podcast.slug == article.category %}
					{{ podcast.title}}
				{% endfor %} : <em>{{ article.title }}</em>
			</span>
		</h1>
		<div class="link-logo">
			<a href="https://www.deezer.com/en/show/2616402" title="Deezer">
				<img src="theme/image/svgs/deezer.svg" alt="">
			</a>

			<a href="https://feeds.soundcloud.com/users/soundcloud:users:955705714/sounds.rss" title="RSS">
				<img src="theme/image/svgs/rss.svg" alt="">
			</a>
			<a href="https://soundcloud.com/nosfuturs_net" title="SoundCloud">
				<img src="theme/image/svgs/soundcloud.svg" alt="">
		</a>

		<a href="https://open.spotify.com/show/078i2NAD25BtBodly9sCS4?si=in4jLsGuTLafcrn1YehHmQ" title="spotify">
				<img src="theme/image/svgs/spotify.svg" alt="">

		</a>
		<a href="https://podcasts.apple.com/be/podcast/curriculum-futurae/id1558706037"  title="Apple-podcast">
				<img src="theme/image/svgs/apple.svg" alt="">
		</a>
		</div>
		<span class="date">
			{{ article.date }}
		</span>
	<div class="flex-box">
				<div class="part-small">
					<img src="images/{{ article.cover }}" alt="">
				</div>
				<div class="part-small">
					<div class="text-left">{{ article.content }}</div>
				</div>
				<div class="part-fat texte">
					{% for podcast in articles if podcast.slug == article.category %}
						{{ podcast.content}}
					{% endfor %}
				</div>
	</div>
</div>


{% endif %}
