{% extends "base.html" %}

{% block content %}

<section class="item scroller">
	<div id="removeBox" style="width:100%; height:100%; position: absolute"> </div>

	<div class="box-infos" id="edito_nf_mobile" onclick="boxmenu('box-edito')">

		<div class="box-content">
			<div class="header">
				<h1 data-player="edito" data-url="edito_nf.html">Bienvenue sur nosfuturs.net</h1>
			</div>
		</div>
	</div>

	<div id="{{ article.slug }}" class="box-infos edito" data-url='parts/menu.part.html' data-player="edito" >
		<div class="box-content">
			<div class="header">
				<h1>{{ article.title }}</h1>
			</div>
		</div>
	</div>



{% for art in articles %}
	{% if art.type == "lexique" and art.video %}

	<div id="lexique_{{art.slug}}" class="box-infos {{art.type}} niveau_{{art.niveau}} visible"  >

		<div class="box-content">
			<div class="header">
				<h1 class="box-click mot-lexique" id="{{art.slug}}"  data-player="right" data-url="{{ art.url }}" >{{art.title}}</h1>
			</div>
		</div>
	</div>

	{% for vid in art.video %}

	<div id="lexique_{{art.slug}}_{{ loop.index }}" class="box-infos {{art.type}} niveau_{{art.niveau}} lexique-video"  >

		<div class="box-content">
			<div class="header">
				<h1 id="{{ art.slug }}_{{ loop.index }}" class="box-click mot-lexique mot-lexique-selection" data-position="{{ loop.index }}" data-player="right" data-url="{{ art.url }}" >{{art.title}} #{{ loop.index }}</h1>
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	{% if art.type == 'ressource'%}

	<div id="{{ art.slug }}" class="box-click box-infos chrono {{art.type}} niveau_{{art.niveau}}" data-player="right" data-liens="{{ art.liens }}" data-url="{{ art.url }}" >
		<div class="forme">
			<img id="ch-1" src="theme/image/svgs/chrono-2.svg" alt="">
			<img id="ch-2" src="theme/image/svgs/aiguille.svg" alt="">
		</div>

			<div class="header">
				<div class="header-info">
					<!-- <div class="type-media">{{art.type}}</div> -->
					<!-- <div class="play">☴ </div> -->
					<h1>{{art.title}}</h1>
					</div>
				</div>
			</div>
	{% endif %}

	{% if art.category == article.slug %}

	{% if art.type == 'documentaire-primaire'%}
	<div id="{{ art.slug }}" class="box-click box-infos courbes {{art.type}} niveau_{{art.niveau}}" data-player="top" data-liens="{{ art.liens }}" data-url="{{ art.url }}">
		<div class="forme">

			<img id="c-1" src="theme/image/svgs/courbes-1-1.svg" alt="">
			<img id="c-2" src="theme/image/svgs/courbes-1-2.svg" alt="">
			<img id="c-3" src="theme/image/svgs/courbes-1-3.svg" alt="">
		</div>
		<div class="box-content">
			<div class="header">
				<div class="type-media">documentaire d'auteur·e</div>
				<h1> {{ art.title }} </h1>
			</div>
				<img class="photo_cover" src="https://cvb.be/sites/default/files/styles/extra_large/public/films/shift_jb_lesbroussart.jpg?itok=bsVIHjFS"/>
		</div>
	</div>


	{% endif %}
		{% if art.type == 'podcast'%}
		<div id="{{ art.slug }}" class="box-infos {{art.type}} camembert niveau_{{art.niveau}}"  >
			<div class="forme">
				<img id="cm-1" src="theme/image/svgs/camembert1-1.svg" alt="">
				<img id="cm-2" src="theme/image/svgs/camembert1-2.svg" alt="">
				<img id="cm-3" src="theme/image/svgs/camembert1-3.svg" alt="">
			</div>
			<div class="box-content">
				<div  class="box-click header" data-liens="{{art.liens}}" data-player="bottom" data-url="{{ art.slug }}-1.html">
					<div class="type-media">podcast</div>
					<h1> {{ art.title }} </h1>
				</div>
				<ul class="list_podcast" >
					{% for episode in articles if episode.category == art.slug %}
					<li id="{{episode.slug}}" class='box-click' data-player="bottom" data-url="{{episode.url}}" data-liens="{{episode.liens}}" >
						<span class="episode_name">#{{ loop.index }} {{ episode.title }}</span>
					</li>
					{% endfor %}
				</ul>
				{# <img class="photo_cover" src="images/{{ art.cover }}" alt=""> #}
			</div>
		</div>
		{% endif %}

		{% if art.template == "cycle-conferences" %}
		<div id="{{art.slug}}"  class="box-click box-infos here {{art.type}} niveau_{{art.niveau}}" data-player="left" data-url="{{ art.url }}" >
			<div class="forme">
				<img id="h1" src="theme/image/svgs/here-red.svg" alt="">
				<img id="h2" src="theme/image/svgs/here-small1.svg" alt="">
				<img id="h3" src="theme/image/svgs/here-small2.svg" alt="">
				<img id="h4" src="theme/image/svgs/here-small3.svg" alt="">
				<img id="h5" src="theme/image/svgs/here-small4.svg" alt="">
			</div>
			<div class="box-content">
				<div class="header">

					<div class="type-media">conférences</div>
					<h1> {{ art.title }} </h1>
				</div>
					<ul class="list_off" >
						{% for episode in articles if episode.category == art.slug %}
						<li class='box-click' data-player="bottom" data-url="{{episode.url}}" >
							<span class="episode_name">#{{ loop.index }} {{ episode.title }}</span>
							<span class="play">›</span>
						</li>
						{% endfor %}
					</ul>
			</div>
		</div>
		{% endif %}

		{% if art.type == 'court-metrage'%}
		<div id="{{ art.slug }}" class="box-click box-infos equalizer {{art.template}} niveau_{{art.niveau}}" data-liens="{{ art.liens }}" data-player="left" data-url="{{ art.url }}">
			<div class="forme">
				<img id="eq-1" src="theme/image/svgs/equalizer-1.svg" alt="">
				<img id="eq-2" src="theme/image/svgs/equalizer-2.svg" alt="">
				<img id="eq-3" src="theme/image/svgs/equalizer-3.svg" alt="">
				<img id="eq-4" src="theme/image/svgs/equalizer-4.svg" alt="">
				<img id="eq-5" src="theme/image/svgs/equalizer-5.svg" alt="">
			</div>
			<div class="box-content">
				<div class="header">
					<div class="type-media">court-métrage</div>
					<h1> {{ art.title }} </h1>
				</div>
			</div>
		</div>
		{% endif %}
<!-- ici court metrage  -->
		{% if art.type == 'court-metrage-2'%}
		<div id="{{ art.slug }}" class="box-click box-infos communs {{art.template}} niveau_{{art.niveau}}" data-liens="{{ art.liens }}" data-player="left" data-url="{{ art.url }}">
			<div class="forme">
				<img id="co-1" src="theme/image/svgs/commun-1.svg" alt="">
				<img id="co-2" src="theme/image/svgs/commun-2.svg" alt="">
				<img id="co-3" src="theme/image/svgs/commun-3.svg" alt="">
				<img id="co-3" src="theme/image/svgs/commun-4.svg" alt="">
			</div>
			<div class="box-content">
				<div class="header">
					<div class="type-media">court-métrage</div>
					<h1> {{ art.title }} </h1>
				</div>
			</div>
		</div>
		{% endif %}
<!-- ici fin court metrage -->
		{% if art.type == 'texte'%}
		<div id="{{ art.slug }}" class="box-click box-infos {{art.type}} niveau_{{art.niveau}}" data-player="left" data-url="{{ art.url }}">
			<div class="box-content">
				<div class="header">
					<h1> {{ art.title }} </h1>
				</div>
			</div>
		</div>
		{% endif %}

		{% if art.type == 'outil-pedagogique'%}

		<div id="{{ art.slug }}" class="box-click box-infos house {{art.type}} niveau_{{art.niveau}}" data-player="left" data-url="{{art.url}}" data-liens="{{ art.liens }}">
			<div class="forme">
				<img id="ho-1" src="theme/image/svgs/houses-1.svg" alt="">
				<img id="ho-2" src="theme/image/svgs/houses-2.svg" alt="">
				<img id="ho-3" src="theme/image/svgs/houses-3.svg" alt="">
				<img id="ho-4" src="theme/image/svgs/houses-4.svg" alt="">
				<img id="ho-5" src="theme/image/svgs/houses-5.svg" alt="">
				<img id="ho-6" src="theme/image/svgs/houses-6.svg" alt="">
				<img id="ho-7" src="theme/image/svgs/houses-7.svg" alt="">
			</div>

			<div class="box-content">
				<div class="header">
					<div class="type-media">moyen-métrage</div>
					<h1> {{ art.title }} </h1>
				</div>
				<ul class="list" style="display: none;">
						{% for episode in articles if episode.category == art.slug %}
							<li class='box-click' data-player="left" data-url="{{episode.url}}" >
								<img class="photo_cover" src="https://cvb.be/sites/default/files/styles/extra_large/public/photo_principale_8.jpg?itok=wYdLM_5B"/>
								<span class="episode_name">{{ episode.title }}</span>
							</li>
						{% endfor %}
				</ul>
					<img class="photo_cover" src="https://cvb.be/sites/default/files/styles/extra_large/public/photo_newsletter.jpg?itok=gIls_z-v"/>
			</div>
		</div>
		{% endif %}

	{% endif %}
{% endfor %}


</section>

<div class="category">
	<div class="introduction">
		<div class="header">
		<div class="head_close"><div class="close">✕</div></div>
		<h1>{{ article.title }}</h1>
		</div>
			{% include 'edito-saison.html' %}
	</div>
</div>

{% endblock %}
