{% if article %}

<div class="reader_lexique">
	 <div class="box-mot">
	<h1 class="titreLexique">{{ article.title }}</h1>
	<div class="intro">
		{{ article.content }}
	</div>
		 {% if article.video %}
		 {% for video in article.video %}
		 {% set id = video.split(':')[0] %}
		 <iframe src="https://www.youtube.com/embed/{{ id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		 {% endfor %}
		 {% endif %}
	</div>
</div>


{% endif %}
