  {% if article %}

<div class="background-content background-content_{{ article.type }}">
  <div class="player reader_{{article.type}}">

  	<div class="header">
  		<h1>
  			{{ article.title }}
  		</h1>
  		<span class="date" >
  			{{ article.date }}
  		</span>
  	</div>

  	<div class="info-primaires">
  		{{ article.content }}
  	</div>
  </div>
</div>
  {% endif %}
