<html>
<head>
  <meta charset="utf-8" />
  <title>nos futurs</title>
  <link rel="stylesheet" type="text/css" href="theme/css/responsive-mobile.css">
  <link rel="shortcut icon" type="image/png" href="theme/image/favicon.png" />

  <meta name="description" content="nosfuturs.net est un site de créations documentaires et transmédia pour mieux comprendre les mondes qui viennent." />
  <meta name="author" content="Centre Vidéo de Bruxelles" />
  <meta name="generator" content="Pelican" />
  <meta property="og:image" content="images/coverfb.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="627">
  <meta property="og:type" content="websbite" />
  <meta property="og:description" content="nosfuturs.net est un site de créations documentaires et transmédia pour mieux comprendre les mondes qui viennent.">

   <meta property="twitter:card" content="summary_large_image"></meta>
   <meta name="twitter:site" content="@nosfuturs.net" />
   <meta property="twitter:title" content="nosfuturs.net" />
   <meta property="twitter:description" content="nosfuturs.net est un site de créations documentaires et transmédia pour mieux comprendre les mondes qui viennent." />
   <meta name="twitter:alt" content="nosfuturs.net" />
   <meta property="twitter:url" content="https://nosfuturs.net/" />
   <meta property="twitter:image" content="images/coverfb.png" />


  <!--

          _           _        _            _               _    _        _            _       _                _                  _            _
         / /\        /\ \     /\ \         /\ \            / /\ /\ \     /\_\         _\ \    /\_\             /\_\               / /\         /\ \
        / /  \       \ \ \    \_\ \       /  \ \          / /  \\ \ \   / / /        /\__ \  / / /         _  / / /         _    / /  \       /  \ \
       / / /\ \__    /\ \_\   /\__ \     / /\ \ \        / / /\ \\ \ \_/ / /        / /_ \_\ \ \ \__      /\_\\ \ \__      /\_\ / / /\ \__   / /\ \ \
      / / /\ \___\  / /\/_/  / /_ \ \   / / /\ \_\      / / /\ \ \\ \___/ /        / / /\/_/  \ \___\    / / / \ \___\    / / // / /\ \___\ / / /\ \_\
      \ \ \ \/___/ / / /    / / /\ \ \ / /_/_ \/_/     / / /\ \_\ \\ \ \_/        / / /        \__  /   / / /   \__  /   / / / \ \ \ \/___// /_/_ \/_/
       \ \ \      / / /    / / /  \/_// /____/\       / / /\ \ \___\\ \ \        / / /         / / /   / / /    / / /   / / /   \ \ \     / /____/\
   _    \ \ \    / / /    / / /      / /\____\/      / / /  \ \ \__/ \ \ \      / / / ____    / / /   / / /    / / /   / / /_    \ \ \   / /\____\/
  /_/\__/ / /___/ / /__  / / /      / / /______     / / /____\_\ \    \ \ \    / /_/_/ ___/\ / / /___/ / /    / / /___/ / //_/\__/ / /  / / /______
  \ \/___/ //\__\/_/___\/_/ /      / / /_______\   / / /__________\    \ \_\  /_______/\__\// / /____\/ /    / / /____\/ / \ \/___/ /  / / /_______\
   \_____\/ \/_________/\_\/       \/__________/   \/_____________/     \/_/  \_______\/    \/_________/     \/_________/   \_____\/   \/__________/


-->
		<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.luuse.fun/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</head>

<body>
  <div class="flexdetout">

		<section class="box-reader reader-top" id="box-top">
			<div class="head_close"><span class="fullscreen">⤡</span><span class="coda">|</span><span class="close">✕</span></div>
			<div class="content"></div>
		</section>

    <section class="flexcentre">

      <div class="main">
          <main>
          {% block content %}{% endblock content %}
        </main>
        <header class="menu" onclick="boxmenu('box-edito')">
          <div class="menu-top">
            <div class="menu-shadow">
            	<span class="title top_left">nos</span>
            	<span class="title top_right">futurs</span>
            </div>
          </div>
					<div class="menu-bottom">
						<div class="menu-shadow">
							<span class="title bottom_left">.</span>
							<span class="title bottom_right">net</span>
						</div>
					</div>
        </header>

				<div id="box-edito" class="box-reader reader-edito intro open scroller">
				<div class="head_close"><div class="close">✕</div></div>
            <div class="contener">
              <div class="content_edito">
	           {% include 'parts/menu.part.html' %}
              </div>
           </div>
        </div>
      </div>

      <div class="box-reader reader-left scroller" id="box-left">
				<div class="head_close"><div class="fullscreen">⤡</div><span class="coda">|</span><div class="close">✕</div></div>
        <div class="content"></div>
      </div>

			<div class="box-reader reader-right scroller" id="box-right">
				<div class="head_close"><div class="fullscreen">⤡</div><span class="coda">|</span><div class="close">✕</div></div>
				<div class="content"></div>
			</div>

    </section>

    <section class="box-reader reader-bottom scroller" id="box-bottom">
			<div class="head_close"><span class="prev actif"><</span>  <span class="next delete_audio actif"> ></span><span class="close delete_audio">✕</span></div>
			<div class="content">
      </div>
    </section>


  </div>
</body>

<script src="theme/js/placement.js"></script>
<script src="theme/js/player.js"></script>
<script src="theme/js/mobile.js"></script>
<script src="theme/js/main.js"></script>

</html>
