
{% if article %}


<div class="player reader_{{article.type}}" data-id="{{article.slug}}">
	<div class="header">

			<audio id="player_source" controls>
				<source id="player_source_item" src="{{ article.audio }}"  type="audio/mp3">
			</audio>
			<div class="audio-player">
				<div class="timeline">
					<div class="progress"></div>
				</div>
				<div class="controls">
					<div class="play-container">
						<div class="toggle-play play">
						</div>
					</div>
					<div class="volume-container">
						<div class="volume-button">
							<div class="volume icono-volumeMedium"></div>
						</div>
						<div class="volume-slider">
							<div class="volume-percentage"></div>
						</div>
					</div>
					<div class="time">
						<div class="current">0:00</div>
						<div class="divider">/</div>
						<div class="length"></div>
					</div>
					<div class="name">{% for podcast in articles if podcast.slug == article.category %}
						{{ podcast.title}} : {% endfor %}{{ article.title }}</div>
					<!-- <div class="btn_info">infos</div> -->
					<!-- <div class="btn_down">↓</div> -->
					<div id="btn_info">
						<div id="plusInfo">plus d'infos</div>
						<!-- <div id="moinsInfo">moins d'infos</div> -->
						<div id="moinsInfo">réduire</div>
					</div>

				</div>
			</div>
	</div>
	<div class="info">
		<h1>
			{% for podcast in articles if podcast.slug == article.category %}
				{{ podcast.title}}
			{% endfor %} : <em>{{ article.title }}</em>
		</h1>
		<div class="link-logo">
			<a href="https://www.deezer.com/en/show/2616402" title="Deezer">
				<svg class="deezer" viewBox="0 0 100 100">
					<path
					 d="M48.875,0C21.883,0,0,21.882,0,48.875S21.883,97.75,48.875,97.75S97.75,75.868,97.75,48.875S75.867,0,48.875,0z    M25.676,69.248H12.365v-4.033h13.311V69.248z M25.676,64.006H12.365V59.97h13.311V64.006z M25.676,58.762H12.365v-4.035h13.311   V58.762z M25.676,53.516H12.365v-4.033h13.311V53.516z M25.676,48.271H12.365v-4.034h13.311V48.271z M40.604,69.248H27.291v-4.033   h13.313V69.248z M40.604,64.006H27.291V59.97h13.313V64.006z M40.604,58.762H27.291v-4.035h13.313V58.762z M55.531,69.248H42.219   v-4.033h13.313L55.531,69.248L55.531,69.248z M55.531,64.006H42.219V59.97h13.313L55.531,64.006L55.531,64.006z M55.531,58.762   H42.219v-4.035h13.313L55.531,58.762L55.531,58.762z M55.531,53.516H42.219v-4.033h13.313L55.531,53.516L55.531,53.516z    M55.531,48.271H42.219v-4.034h13.313L55.531,48.271L55.531,48.271z M55.531,43.026H42.219v-4.034h13.313L55.531,43.026   L55.531,43.026z M55.531,37.783H42.219v-4.035h13.313L55.531,37.783L55.531,37.783z M70.457,69.248H57.145v-4.033h13.313   L70.457,69.248L70.457,69.248z M70.457,64.006H57.145V59.97h13.313L70.457,64.006L70.457,64.006z M70.457,58.762H57.145v-4.035   h13.313L70.457,58.762L70.457,58.762z M70.457,53.516H57.145v-4.033h13.313L70.457,53.516L70.457,53.516z M70.457,48.271H57.145   v-4.034h13.313L70.457,48.271L70.457,48.271z M85.385,69.248H72.072v-4.033h13.312V69.248z M85.385,64.006H72.072V59.97h13.312   V64.006z M85.385,58.759H72.072v-4.034h13.312V58.759z M85.385,53.516H72.072V49.48h13.312V53.516z M85.385,48.271H72.072v-4.037   h13.312V48.271z M85.385,43.025H72.072v-4.033h13.312V43.025z M85.385,37.78H72.072v-4.033h13.312V37.78z M72.072,32.536v-4.034   h13.312v4.034H72.072z"/>
				</svg>
			</a>

		<a href="https://feeds.soundcloud.com/users/soundcloud:users:955705714/sounds.rss" title="RSS">
			<svg class="rss" viewBox="0 0 512 512">
				<path d="M201.8 347.2c0 20.3-16.5 36.8-36.8 36.8 -20.3 0-36.8-16.5-36.8-36.8s16.5-36.8 36.8-36.8C185.3 310.4 201.8 326.8 201.8 347.2zM128.2 204.7v54.5c68.5 0.7 124 56.3 124.7 124.7h54.5C306.7 285.3 226.9 205.4 128.2 204.7zM128.2 166.6c57.9 0.3 112.3 22.9 153.2 63.9 41 41 63.7 95.5 63.9 153.5h54.5c-0.3-149.9-121.7-271.4-271.6-271.9V166.6L128.2 166.6z"/>
			</svg>
		</a>
			<a href="https://soundcloud.com/nosfuturs_net" title="SoundCloud">
				<svg class="soundcloud"  viewBox="0 0 512 512">
					<path d="M443.5 273.1c0 25.1-20.4 45.5-45.5 45.5H271.5V162.3c4.8-1.8 9.9-3.1 15.1-3.9 4.1-0.6 8.3-1 12.5-1 42.3 0 77 32.7 80.3 74.1 5.7-2.5 11.9-4 18.6-4C423.1 227.6 443.5 248 443.5 273.1zM224.2 193.2v125.4h15.1v-134.5c-3.4 3.7-6.4 7.8-9 12.1C228.4 195 226.3 194.1 224.2 193.2zM247.6 318.6h15.1v-152.4c-5.4 2.7-10.5 6.1-15.1 9.9V318.6zM151.8 208.9v109.7h15.1V196.9C161.3 200.2 156.2 204.2 151.8 208.9zM106.5 231.6v86.5c1.9 0.2 3.7 0.4 5.7 0.4h7.9v-86.6c-2.6-0.5-5.2-0.7-7.9-0.7C110.3 231.3 108.4 231.4 106.5 231.6zM86.5 310.2c3.4 2.5 7.2 4.5 11.3 5.9v-82.4c-4.1 1.4-7.9 3.4-11.3 5.9V310.2zM128.4 234.4v84.2h15.1v-98.7c-3.4 5.6-6 11.8-7.5 18.4C133.6 236.8 131.1 235.5 128.4 234.4zM175.9 318.6h15.1V188.8c-5.3 0.7-10.3 2-15.1 3.8V318.6zM200.1 318.6h15.1v-128.3c-4.8-1.2-9.9-1.9-15.1-1.9V318.6L200.1 318.6zM79.1 303.4v-56.9c-6.6 7.6-10.6 17.6-10.6 28.5C68.5 285.8 72.5 295.7 79.1 303.4z"/>
			</svg>
		</a>

		<a href="https://open.spotify.com/show/078i2NAD25BtBodly9sCS4?si=in4jLsGuTLafcrn1YehHmQ" title="spotify">
			<svg class="spoty" viewBox="0 0 512 512">
				 <path d="M256 78c-98.3 0-178 79.7-178 178 0 98.31 79.7 178 178 178 98.31 0 178-79.69 178-178 0-98.3-79.69-178-178-178zm81.63 256.73a11.09 11.09 0 0 1-15.26 3.68c-41.8-25.53-94.4-31.31-156.37-17.16a11.1 11.1 0 0 1-4.93-21.64c67.8-15.49 125.96-8.82 172.88 19.86a11.1 11.1 0 0 1 3.68 15.26zm21.79-48.47a13.88 13.88 0 0 1-19.1 4.57c-47.84-29.4-120.77-37.92-177.36-20.74a13.9 13.9 0 0 1-17.32-9.25 13.9 13.9 0 0 1 9.25-17.3c64.65-19.62 145.01-10.12 199.96 23.64a13.87 13.87 0 0 1 4.56 19.08zm1.87-50.47c-57.37-34.07-152.02-37.2-206.8-20.58a16.65 16.65 0 1 1-9.66-31.87c62.88-19.08 167.4-15.4 233.45 23.81a16.63 16.63 0 0 1 5.82 22.82 16.63 16.63 0 0 1-22.8 5.82h-.01z"/>
			</svg>

		</a>
		<a href="https://podcasts.apple.com/be/podcast/curriculum-futurae/id1558706037"  title="Apple-podcast">
			<svg class="apple" viewBox="0 0 600 600">
				<path d="M380.844 297.529c.787 84.752 74.349 112.955 75.164 113.314-.622 1.988-11.754 40.191-38.756 79.652-23.343 34.117-47.568 68.107-85.731 68.811-37.499.691-49.557-22.236-92.429-22.236-42.859 0-56.256 21.533-91.753 22.928-36.837 1.395-64.889-36.891-88.424-70.883-48.093-69.53-84.846-196.475-35.496-282.165 24.516-42.554 68.328-69.501 115.882-70.192 36.173-.69 70.315 24.336 92.429 24.336 22.1 0 63.59-30.096 107.208-25.676 18.26.76 69.517 7.376 102.429 55.552-2.652 1.644-61.159 35.704-60.523 106.559M310.369 89.418C329.926 65.745 343.089 32.79 339.498 0 311.308 1.133 277.22 18.785 257 42.445c-18.121 20.952-33.991 54.487-29.709 86.628 31.421 2.431 63.52-15.967 83.078-39.655"/>
			</svg>
		</a>
		</div>
		<span class="date">
			{{ article.date }}
		</span>
	<div class="flex-box">
				<div class="part-small">
					<img src="images/{{ article.cover }}" alt="">
				</div>
				<div class="part-small">
					<div class="text-left">{{ article.content }}</div>
				</div>
				<div class="part-fat texte">
					{% for podcast in articles if podcast.slug == article.category %}
						{{ podcast.content}}
					{% endfor %}
				</div>
	</div>
</div>


{% endif %}
