@font-face {
 font-family: "Redaction_10-Bold";
 src: url("../font/redaction/webfonts/Redaction_10-Bold.woff2") format("woff2")
}
@font-face {
 font-family: "Redaction-Regular";
 src: url("../font/redaction/webfonts/Redaction-Regular.woff2") format("woff2")
}
@font-face {
 font-family: "Redaction_100-Regular";
 src: url("../font/redaction/webfonts/Redaction_100-Regular.woff2") format("woff2")
}
@font-face {
 font-family: "Redaction_70-Regular";
 src: url("../font/redaction/webfonts/Redaction_70-Regular.woff2") format("woff2")
}
@font-face {
 font-family: "Redaction_70-Italic";
 src: url("../font/redaction/webfonts/Redaction_70-Italic.woff2") format("woff2")
}
@font-face {
 font-family: "Redaction_20-Italic";
 src: url("../font/redaction/webfonts/Redaction_20-Italic.woff2") format("woff2")
}
@font-face {
 font-family: "Oswald-Medium";
 src: url("../font/Oswald-Medium.ttf");
}

$base-color: white;
$border-dark: black;
$color: lightgrey;
$color-titre: #00dab0;
$color-stroke: #3e0a51;
$font-text: Arial, Helvetica, sans-serif;
$font-titre: "Times New Roman", Georgia, serif;
$font-sous-titre:"Redaction-Bold";
$fontspecimen-txt:"Redaction-Regular";
$font80:"Redaction-Regular";
$font100:"Redaction_100-Regular";
$fontitalic:"Redaction_70-Italic";
$fontitalic20:"Redaction_20-Italic";
$size: 1em;
$box-shadow: 0 0.5rem 1rem rgba($border-dark, 0.15) !default;

body{
  font-family: $font80;
  background: #f0d4fc;
}

.logo{
	position: fixed;
	width: 20%;
	padding: 1em;
  top:0;
  left:0;
}

p, h2 {
  width: 50%;
	margin: 0 auto;
}

p {
  font-size: ($size*5)/3;
  color:#3e0a51;
	margin-top: 1em;
}

p.horloge {
	margin: 0 auto;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
	font-family: "Oswald-Medium";
	font-size: 2em;

	span {
		outline: 2px solid #3e0a51;
		padding: 2px 4px;
		color: #3e0a51;
	}
}

img {
	width: 100%;
}

.titre, a {
	font-family: "Redaction-Bold";
}
.annonce {
	text-transform: uppercase;
	text-align: center;
	font-size: 2.4em;
}

a {
	text-decoration: none;
	color: $color-titre;
}

section {
	margin-bottom: 8em;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	text-align: right;
}

footer ul {
	list-style: none;
}

footer ul li {
	margin: 1em;
}

footer ul li a {
	background: $color-titre;
  color: $color-stroke;
	position: relative;
	padding: .2em;
	letter-spacing: 1px;
	&:hover {
		background: $color-stroke;
		color: $color-titre;
	}
}


// RESPONSIVE
@media screen and (min-width: 0px) and (max-width: 1000px) {

	p {
  	font-size: ($size*5)/2.5;
	}

	p, h2 {
		width: 100%;
		margin-top: 1em;
	}

	.logo {
		width: calc(100vw - 20%);
		padding: 1em 10%;
		margin: 0 auto;
		background: #f0d4fc;
		box-shadow: 10px 10px 15px #f0d4fc;
	}

	section {
		margin-top: 30%;
	}

	section, footer {
		padding: 0 10%;
	}

	footer {
		position: relative;
		bottom: auto;
		right: auto;
		font-size: 1.5em;

		ul {
			text-align: center;
			display: flex;
			flex-flow: column;

			li {
				margin: .5em;
			}

		}

	}
}
