.niveau_1 {
  order: 1; }
  .niveau_1 .box-content .type-media {
    font-size: 1.2em;
    margin-top: 38%;
    color: white;
    background: #3e0a51;
    line-height: 4.5rem; }

.niveau_2 {
  order: 2; }

.niveau_3 {
  order: 5; }

.niveau_3-1 {
  order: 5; }

.niveau_3-2 {
  order: 6; }

.niveau_3-3 {
  order: 7; }

.niveau_3-4 {
  order: 8; }

.niveau_4 {
  order: 9; }

#curriculum-futurae .forme {
  display: block !important;
  transform: scale(6);
  transform-origin: bottom left;
  width: auto !important;
  text-align: center;
  margin-left: auto;
  margin-left: 25%;
  z-index: -2;
  width: auto; }

.camembert .forme #cm-1 {
  transform: rotate(-180deg);
  z-index: 1;
  position: absolute;
  transform-origin: center;
  transition: all 0.7s ease-in-out;
  top: -10; }

.camembert .forme #cm-2 {
  transform: rotate(20deg);
  z-index: 2;
  position: absolute;
  transform-origin: center;
  transition: all 0.6s ease-in-out;
  top: -10; }

.camembert .forme #cm-3 {
  transform: rotate(-240deg);
  z-index: 3;
  position: absolute;
  transform-origin: center;
  transition: all 1s ease-in-out;
  top: -10; }

.courbes .forme {
  display: block;
  transform: scale(0.5);
  transform-origin: bottom left;
  width: auto !important;
  text-align: center;
  margin: 0 auto;
  margin-left: 15%; }

.courbes .forme #c-1 {
  z-index: 1;
  position: absolute; }

.courbes .forme #c-2 {
  z-index: 1;
  position: absolute; }

.courbes .forme #c-3 {
  z-index: 3;
  position: absolute;
  transform-origin: bottom right; }

/*# sourceMappingURL=animations.css.map */
