@charset "UTF-8";
@font-face {
  font-family: "Redaction_10-Bold-CVB";
  src: url("../font/redaction/webfonts/Redaction35-Bold-CVB.ttf");
}
@font-face {
  font-family: "Redaction-Bold";
  src: url("../font/redaction/webfonts/Redaction-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction-Italic";
  src: url("../font/redaction/webfonts/Redaction-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction-Regular";
  src: url("../font/redaction/webfonts/Redaction-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "HKGrotesk-Medium";
  src: url("../font/HKGrotesk-Medium.ttf");
}
@font-face {
  font-family: "HKGrotesk-MediumItalic";
  src: url("../font/HKGrotesk-MediumItalic.otf");
}
@font-face {
  font-family: "HKGrotesk-Bold";
  src: url("../font/HKGrotesk-Bold.otf");
}
@font-face {
  font-family: "HKGrotesk-BoldItalic";
  src: url("../font/HKGrotesk-BoldItalic.otf");
}
.player_podcast h1 {
  font-family: "HKGrotesk-Bold";
}

.btn_info:hover {
  color: white;
  cursor: pointer;
}

#next {
  opacity: 0.5;
  cursor: normal;
}

.audio-player {
  height: 50px;
  /* width: 100vw; */
  /* font-family: arial; */
  /* color: white; */
  font-size: 0.75em;
  /* overflow: hidden; */
  display: grid;
  /* grid-template-rows: 6px auto; */
  /* top: 95vh; */
  /* background: #00dab0; */
}
.audio-player sup {
  display: none;
}
.audio-player .timeline {
  background: white;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.audio-player .timeline .progress {
  background: #3e0a51;
  width: 0%;
  height: 100%;
  transition: 0.25s;
}
.audio-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
  color: #3e0a51;
  width: 90vw;
}
.audio-player .controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-player .controls .toggle-play.play {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 7px solid #0000;
  border-left: 13px solid #3e0a51;
}
.audio-player .controls .toggle-play.play:hover {
  transform: scale(1.1);
  border-left: 13px solid white;
}
.audio-player .controls .toggle-play.pause {
  height: 15px;
  width: 20px;
  cursor: pointer;
  position: relative;
}
.audio-player .controls .toggle-play.pause:before {
  position: absolute;
  top: 0;
  left: 0px;
  background: #3e0a51;
  content: "";
  height: 15px;
  width: 3px;
}
.audio-player .controls .toggle-play.pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: #3e0a51;
  content: "";
  height: 15px;
  width: 3px;
}
.audio-player .controls .toggle-play.pause:hover {
  transform: scale(1.1);
}
.audio-player .controls .toggle-play.pause:hover:before, .audio-player .controls .toggle-play.pause:hover:after {
  background: white;
}
.audio-player .controls .time {
  display: flex;
}
.audio-player .controls .time > * {
  padding: 2px;
}
.audio-player .controls .name {
  font-weight: bold;
}
.audio-player .controls .volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.audio-player .controls .volume-container .volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}
.audio-player .controls .volume-container .volume-button .volume {
  transform: scale(0.7);
}
.audio-player .controls .volume-container .volume-slider {
  position: absolute;
  left: -3px;
  top: 18px;
  z-index: -1;
  width: 80px;
  height: 5px;
  background: white;
  transition: 0.25s;
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
  background: #3e0a51;
  height: 100%;
  width: 75%;
}
.audio-player #btn_info {
  background: white;
  border-radius: 10px;
  border: 1px solid #3e0a51;
  box-shadow: -2px 2px #3e0a51;
  color: #3e0a51;
  margin-top: 7px;
  padding: 0.5em;
  height: 30%;
  font-family: "HKGrotesk-Bold";
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.audio-player #btn_info:hover {
  transition: all ease-in-out 0.2s;
  box-shadow: 0px 0px #3e0a51;
  color: #00dab0;
}
.audio-player #moinsInfo {
  display: none;
}

.player {
  font-family: "HKGrotesk-Bold";
}

body {
  background: #d9e8ff;
  width: 100vw;
  height: 100%;
  font-family: "Redaction-Regular";
  font-size: 1.15em;
  margin: 0;
  padding: 0;
  color: #3e0a51;
  font-size: 2rem;
  font-weight: normal;
}
body ::selection {
  background: white;
  color: #00dab0;
}
body .flexdetout {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
}

.open_bottom .title,
.open_left .title,
.open_right .title,
.open_top .title {
  transform: scale(0.7);
}

.reader_documentaire-primaire .info-primaires details[open] {
  background: white !important;
  border-radius: 10px;
  border: 1px solid #00dab0;
  box-shadow: -2px 2px #00dab0;
  color: #3e0a51 !important;
  padding: 1em;
}

.reader_documentaire-primaire .info-primaires details:nth-of-type(1)[open], .reader_documentaire-primaire .info-primaires details[open] summary {
  border: 0px solid #00dab0;
  box-shadow: 0px 0px #00dab0;
}

#alter_echo_article {
  display: none;
}

.mobile .menu .title {
  display: block !important;
  height: auto !important;
  font-size: 10rem;
  color: #00dab0;
  -webkit-text-stroke: 0.004em #3e0a51;
  text-shadow: -0.05em 0.05em #3e0a51;
  padding: 0 0.3em;
}

.menu {
  display: block !important;
  height: auto !important;
  z-index: 10000 !important;
  width: 100%;
  background: transparent;
  font-family: "Redaction_10-Bold-CVB";
  font-weight: normal;
  color: #00dab0;
  -webkit-text-stroke: 0.004em #3e0a51;
  text-shadow: -0.05em 0.05em #3e0a51;
  transition: all 0.25s ease-in-out;
  position: relative;
}
.menu:hover {
  text-shadow: 0 0 #3e0a51;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.menu-shadow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-bottom,
.menu-top {
  position: fixed;
  left: 0;
  height: auto !important;
  z-index: 1;
  width: 100%;
}

.menu-top {
  top: 0 !important;
}
.menu-top .title {
  z-index: 1;
  left: 0;
  top: 0;
}
.menu-top .title:nth-of-type(2) {
  right: 0;
  text-align: right;
}

.menu-bottom {
  bottom: 0 !important;
}
.menu-bottom .title {
  padding: 0 0.3em;
  z-index: 1;
  bottom: 0;
  left: 0;
  position: fixed;
}
.menu-bottom .title:nth-of-type(2) {
  right: 0;
  text-align: right;
}

body #box-edito {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  backdrop-filter: grayscale(1);
  height: 100%;
  overflow: auto;
  font-size: 3rem;
}
body #box-edito.open {
  display: block;
}
body #box-edito .contener .content_edito {
  font-size: 0.9583333333em;
  line-height: 1.4em;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  background: #00dab0;
  width: 100%;
  height: 100%;
  overflow: auto;
  cursor: default;
  padding-top: 35%;
}
body #box-edito .text {
  padding-bottom: 45%;
  margin-right: 3vw;
  margin-left: 3vw;
}
body #box-edito .text h2 {
  font-family: "Redaction-Italic";
  margin-top: 0;
  font-size: 2em;
  font-weight: normal;
}
body #box-edito .reseau {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  line-height: 1em;
  position: fixed;
  bottom: 0;
  padding-bottom: 2.5vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  list-style: none;
  background: #00dab0;
  margin-bottom: 0px;
  padding-left: 0;
  height: 240px;
}
body #box-edito .reseau li {
  padding-left: 0.15em;
  margin: 0.25em;
}
body #box-edito .intro {
  display: none;
}

.item {
  font-family: "HKGrotesk-Medium";
  z-index: 1;
  overflow: hidden;
  display: flex;
  width: 100%;
  margin-left: 0;
  position: relative;
  flex-wrap: wrap;
  padding-top: 20% !important;
  padding-bottom: 20% !important;
}
.item #edito_nf_mobile h1 {
  text-align: center;
  font-family: "Redaction-Bold";
  line-height: 1em;
  text-decoration: underline;
}
.item .box-infos {
  width: 100%;
  height: auto;
  justify-content: center;
  align-self: auto;
  overflow: hidden;
  font-size: 1.15em;
  line-height: 1.265em;
  font-family: "HKGrotesk-Medium";
}
.item .box-infos h1 {
  font-size: 1.15em;
}
.item .forme {
  display: none;
  position: absolute;
}

.item #edito_nf_mobile {
  overflow-x: hidden;
  background: #00dab0;
  transition: all 0.2s ease-in-out;
  display: flex !important;
  align-content: center;
  font-size: 1em;
}
.item #edito_nf_mobile h1 {
  font-weight: normal;
  text-align: center;
  text-decoration: underline;
}

.item .documentaire-primaire {
  background: #3e0a51;
  color: white;
  text-align: center;
}
.item .documentaire-primaire .box-content {
  margin: 30px -45px;
}
.item .documentaire-primaire .type-media {
  font-size: 1.2em;
}
.item .documentaire-primaire h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0px;
}

.item #le-travail-qui-vient {
  overflow-x: hidden;
  background: linear-gradient(90deg, #00dab0 30%, #f0d4fd 70%);
  transition: all 0.2s ease-in-out;
  width: 100%;
  display: flex !important;
  align-content: center;
}

.item .texte .box-content {
  background: #00dab0;
}
.item .texte .header {
  text-align: center;
  padding: 2em 1em;
  background: url("../../theme/image/svgs/back_svg/cercle.svg") center center no-repeat;
  background-size: 100% 100%;
}
.item .texte h1 {
  margin: 0px;
}

.item .podcast .box-content {
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
}
.item .podcast h1 {
  margin: 0px;
}
.item .podcast ul {
  list-style: none;
}

.item .cycle-conferences {
  background: #00dab0;
}
.item .cycle-conferences .header {
  vertical-align: middle;
  padding: 2em 0;
  cursor: pointer;
  background: url("../../theme/image/svgs/back_svg/cercle.svg") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.item .cycle-conferences .type-media {
  font-size: 0.8em;
}
.item .cycle-conferences h1 {
  font-size: 1.15em;
  margin-bottom: 1vh;
  font-family: "hkgrotesk-bold";
  word-break: break-word;
  margin: 0px;
}
.item .cycle-conferences ul {
  display: none;
}

.item .outil-pedagogique .header {
  cursor: pointer;
  background: url("../../theme/image/svgs/back_svg/square.svg") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding: 1em;
}
.item .outil-pedagogique h1 {
  margin: 0;
}

.item .court-metrage .header {
  cursor: pointer;
  background: url("../../theme/image/svgs/back_svg/square.svg") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding: 1em;
}
.item .court-metrage h1 {
  margin: 0;
}

.item .lexique {
  transition: all 3s ease-in-out;
  color: #3e0a51;
  margin: 0 !important;
  transform: rotate(0deg) !important;
  font-size: 1.65em !important;
  align-content: center;
  width: 50% !important;
  background: transparent;
  height: auto;
}
.item .lexique .header {
  background: url("../../theme/image/svgs/back_svg/square.svg") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.item .lexique h1 {
  font-size: 0.6em;
}

.item .lexique-video {
  display: none;
}

.item #removeBox {
  display: none;
}

.box-reader {
  font-size: 1.15em;
  background: transparent;
  overflow: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  z-index: 3;
}
.box-reader.open {
  display: block;
}

.category {
  width: 100%;
  height: 100%;
  position: fixed;
  background: green;
}
.category.open {
  display: block;
}

main .item .box-infos img.photo_cover {
  display: none;
}

main .item .edito .header {
  text-align: center;
}

#le-travail-qui-vient h1 {
  background: linear-gradient(90deg, #00dab0 30%, #f0d4fd 70%);
  cursor: pointer;
}

#box-left .reader_cycle-conferences,
#box-left .reader_outil-pedagogique,
.mobile #box-left .reader_court-metrage {
  height: auto;
  padding-bottom: 25%;
  overflow: auto;
}

#box-left h1 {
  width: 100%;
  font-family: "HKGrotesk-Bold";
  font-size: 2em;
  text-decoration: underline 0.07em white;
  line-height: normal;
  margin-bottom: 0;
  font-weight: normal;
  padding-top: 20%;
}

#box-top h1 {
  font-size: 2em;
  width: 96%;
  background: #3e0a51;
  padding-bottom: 0;
  text-decoration: underline 0.07em #00dab0;
  line-height: normal;
  margin-bottom: 0;
  font-weight: normal;
}

#box-top .header {
  position: sticky;
  padding-top: 15%;
  top: 0%;
  background: #3e0a51 !important;
  margin-bottom: 5%;
  z-index: 1;
}

#box-top .head_close {
  width: auto;
  position: fixed;
  color: white;
  right: 5%;
}

#box-top {
  padding-bottom: 20%;
}

.mobile #box-right.box-reader.reader-right {
  animation: none;
  margin-top: -2vh;
  padding-bottom: 2vh;
}

.reader_documentaire-primaire .info-primaires ul li {
  display: inline;
}

.reader_documentaire-primaire .info-primaires ul li::after {
  content: " | ";
}

#box-bottom {
  background: #00dab0;
  transition: all 1s ease-in-out;
  z-index: 2;
}
#box-bottom .link-logo .deezer {
  width: 9.25%;
  height: 10%;
  margin-top: -10%;
}
#box-bottom .link-logo .apple {
  width: 11%;
  height: auto;
  margin-top: -15%;
}
#box-bottom .link-logo .spoty, #box-bottom .link-logo .soundcloud, #box-bottom .link-logo .rss {
  width: 15%;
  height: 6%;
}
#box-bottom .link-logo svg {
  fill: #3e0a51;
  padding-left: 0;
}
#box-bottom .link-logo svg:hover {
  fill: white;
}
#box-bottom .header {
  width: 100%;
  padding-top: 20%;
  position: relative !important;
  background: #00dab0;
}
#box-bottom h1 {
  position: fixed;
  top: 0%;
  margin-left: 0em;
  background: #00dab0;
  width: 100%;
  padding-bottom: 6%;
  z-index: 0;
  height: 11%;
}
#box-bottom .reader_episode-podcast .info h1 {
  padding-left: 0.575em;
  text-decoration: underline 0.07em;
  text-decoration-color: white !important;
  line-height: normal;
}
#box-bottom .reader_episode-podcast .info .part-small img {
  width: 100%;
  position: sticky;
  top: 0;
}
#box-bottom .reader_episode-podcast .audio-player {
  width: 100%;
  top: 28%;
  padding-top: 0%;
  background: #00dab0;
  position: fixed;
  font-size: 1em;
  height: auto;
  border-bottom: 6px solid white;
  z-index: 2;
  padding-left: 0.575em;
  padding-right: 0.575em;
}
#box-bottom .reader_episode-podcast .audio-player .controls > * {
  align-items: normal;
}
#box-bottom .reader_episode-podcast .audio-player .controls {
  display: flex;
  align-items: stretch;
  padding: 1rem 3rem;
  color: #3e0a51;
  width: auto;
  flex-wrap: wrap;
  margin-right: 15%;
}
#box-bottom .reader_episode-podcast .audio-player .controls .volume-container .volume-slider {
  display: none;
}
#box-bottom .reader_episode-podcast .audio-player .controls #next {
  margin-right: 20px;
}
#box-bottom .reader_episode-podcast .audio-player .controls .time {
  margin-left: -50px;
  margin-top: 5px;
}
#box-bottom .reader_episode-podcast .audio-player .controls .toggle-play.play {
  border: 25px solid #0000 !important;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 12px;
  border-left: 45px solid white !important;
  width: auto;
}
#box-bottom .reader_episode-podcast .audio-player .controls .toggle-play.pause:before, #box-bottom .reader_episode-podcast .audio-player .controls .toggle-play.pause:after {
  height: 45px !important;
  width: 10px !important;
}
#box-bottom .reader_episode-podcast .audio-player .controls .toggle-play.pause:before {
  left: 14px;
}
#box-bottom .reader_episode-podcast .audio-player .controls .toggle-play.pause:after {
  right: 18px;
}
#box-bottom .reader_episode-podcast .audio-player .controls .name {
  display: none;
}
#box-bottom .reader_episode-podcast .audio-player .controls #btn_info {
  display: none;
}
#box-bottom .reader_episode-podcast .audio-player .controls img {
  position: relative;
}
#box-bottom .reader_episode-podcast .flex-box {
  padding-left: 0;
  padding-top: 55%;
}
#box-bottom .reader_episode-podcast .info {
  display: block !important;
  height: auto;
  width: 100%;
}
#box-bottom .reader_episode-podcast .info .texte p strong {
  font-family: "HKGrotesk-Bold";
  font-weight: normal;
}
#box-bottom .reader_episode-podcast .info ul {
  list-style: none;
  font-family: "redaction-regular";
  margin-top: 2vh;
  line-height: 1.3em;
  font-size: 0.7666666667em;
  border-top: 1px solid #3e0a51;
  padding-top: 2vh;
  padding-left: 0px;
}
#box-bottom .reader_episode-podcast .info ul li {
  display: inline;
}
#box-bottom .reader_episode-podcast .info .part-fat {
  width: 100%;
  padding-left: 4%;
  padding-right: 1.15em;
  height: 80%;
  padding-bottom: 20%;
}
#box-bottom .reader_episode-podcast .info .part-fat p {
  width: 85%;
}
#box-bottom .reader_episode-podcast .info .part-fat details {
  width: 85%;
}
#box-bottom .reader_episode-podcast .info .info h1 {
  margin-bottom: 0.575em;
  margin-left: 1.15em;
  padding-left: 0.575em;
  margin-top: 0;
  top: -1vh;
  width: 100%;
  font-weight: normal;
  font-family: "HKGrotesk-Bold";
  font-size: 1.75em;
  text-decoration: underline 0.07em;
  text-decoration-color: currentcolor;
  text-decoration-color: white !important;
  line-height: normal;
  position: sticky;
  top: 0;
}
#box-bottom .reader_episode-podcast .info .part-small {
  height: auto;
  width: 80%;
  padding: 1.15em;
  line-height: 1.15em;
  z-index: -1;
}

#box-bottom .link-logo {
  position: fixed;
  top: 30%;
  margin: 0;
  padding: 10% 0% 0% 10%;
  background: #00dab0;
  width: 100%;
  height: auto;
  z-index: 1;
}
#box-bottom .head_close {
  cursor: pointer;
  font-family: "HKGrotesk-Bold";
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: white;
  background: #00dab0;
  text-align: right;
  position: fixed;
  font-size: 4rem !important;
  top: 22%;
  right: 0 !important;
  padding-bottom: 2%;
}
#box-bottom .head_close .close {
  margin-left: 3em;
}
#box-bottom .head_close .prev, #box-bottom .head_close .next {
  margin-left: 0.5em;
  margin-right: 2em;
}
#box-bottom .head_close .prev {
  padding-left: 0.575em;
}

.box-reader {
  font-size: 1.15em;
}
.box-reader p {
  text-indent: 2vw;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 0.9em;
}
.box-reader a {
  color: #3e0a51;
  text-decoration: underline;
}
.box-reader a:hover {
  color: white;
}

#box-bottom h1 {
  position: fixed;
  top: -8%;
  background: #00dab0;
  width: 100%;
  padding-bottom: 6%;
  z-index: 1;
  padding-top: 30%;
}

#box-left h1,
#box-top h1 {
  font-family: "HKGrotesk-Bold";
  font-size: 2em;
  text-decoration: underline 0.07em;
  text-decoration-color: currentcolor;
  line-height: normal;
  margin-bottom: 0;
  position: sticky;
  font-weight: normal;
  transition: font-size 2s;
}

.reader_texte .header h1 {
  background: white;
  text-decoration-color: #00dab0 !important;
  top: 0;
  margin-top: 0;
}

.reader_texte {
  padding: 1em;
  background: white;
}
.reader_texte .content p {
  font-family: "HKGrotesk-Medium";
  font-size: 1.15em;
  line-height: 1.25em;
  text-indent: 2em;
}
.reader_texte .header h1 {
  background: white;
  text-decoration-color: #00dab0 !important;
  top: 0;
  margin-top: 0;
}
.reader_texte .content img {
  margin-bottom: 2vh;
  margin-top: 2vh;
  width: 95%;
}
.reader_texte span {
  color: #00dab0 !important;
  font-family: "Redaction-Regular";
  font-size: 0.8em;
  line-height: 1.6em;
}

.mobile #box-left h2, .mobile #box-right h2, .mobile #box-top h2, .mobile #box-bottom h2 {
  padding-left: 0;
  padding-top: 0.56rem;
  margin: 0;
}

.reader_texte .date::before,
.reader_texte span::before {
  -webkit-text-stroke: 1px #3e0a51;
  color: #00dab0;
  content: "•";
  font-family: "HKGrotesk-Medium";
  font-size: 2em;
  padding-right: 1vw;
  text-shadow: -2px 2px #3e0a51;
}

.reader_cycle-conferences .header h2, .reader_outil-pedagogique .header h2, .reader_court-metrage .header h2, .reader_court-metrage-2 .header h2 {
  font-family: "HKGrotesk-Medium";
  width: auto;
  margin-top: 2vh;
  padding-left: 2em;
  margin-bottom: 2vh;
  padding-left: 2em;
  color: white;
  font-size: 1em;
  display: inline-flex;
}

.reader_documentaire-primaire {
  padding: 1em;
  background: #3e0a51;
  color: white;
  top: 0;
  position: absolute;
}
.reader_documentaire-primaire iframe {
  position: relative;
  width: 88vw;
  height: 49vw;
  transform: scale(1) !important;
  transform-origin: 0 0 !important;
  order: 1;
  top: 0;
  right: 0;
}
.reader_documentaire-primaire details {
  width: 85%;
  padding-left: 0.575em;
}
.reader_documentaire-primaire details summary {
  background: white;
  border-radius: 10px;
  border: 1px solid #00dab0;
  box-shadow: -2px 2px #00dab0;
  color: #3e0a51;
  padding: 0.5em;
  font-family: "HKGrotesk-Bold";
  width: 60%;
  cursor: pointer;
  list-style: none;
  padding-left: 0.575em;
}
.reader_documentaire-primaire .reader_documentaire-primaire .info-primaires details {
  font-family: "HKGrotesk-Medium";
  width: 90%;
  line-height: 1.15em;
  margin-top: 2vh;
}
.reader_documentaire-primaire details summary::after {
  content: " ↓";
  color: #00dab0;
  font-size: 1.15em;
  font-family: "HKGrotesk-bold";
}
.reader_documentaire-primaire .flex-box {
  display: flex;
  flex-wrap: wrap;
}
.reader_documentaire-primaire .flex-box .info-primaires {
  order: 2;
  padding-top: 5%;
}
.reader_documentaire-primaire .flex-box .info-primaires ul {
  font-size: 1.5rem;
  width: 80%;
  list-style: none;
  font-family: "redaction-regular";
  margin-top: 2vh;
  line-height: 1.3em;
  border-top: 1px solid #00dab0;
  color: #00dab0;
  padding-top: 2vh;
  padding-left: 0px;
  height: 100%;
}
.reader_documentaire-primaire .flex-box .info-primaires li strong {
  font-family: "Redaction-Bold";
  font-variant: small-caps;
  text-transform: lowercase;
  color: white;
  letter-spacing: 0.02em;
}
.reader_documentaire-primaire p {
  padding-left: 0.575em;
  padding-right: 0.575em;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: "HKGrotesk-Medium";
  font-size: 1.05em;
  line-height: 1.15em;
  text-indent: 2em;
}
.reader_documentaire-primaire p em {
  font-family: "HKGrotesk-MediumItalic";
  color: #f0d4fd;
  font-style: normal;
}
.reader_documentaire-primaire h2 {
  font-family: "HKGrotesk-Medium";
  width: auto;
  margin-top: 2vh;
  padding-left: 2em;
  margin-bottom: 2vh;
  color: #00dab0;
  font-size: 1em;
  display: inline-block;
}

.reader_documentaire-primaire .info-primaires details:nth-of-type(1) {
  color: white !important;
  background: #3e0a51 !important;
}

.reader_documentaire-primaire .info-primaires details:nth-of-type(1) summary {
  background: #3e0a51 !important;
  border-radius: 0px !important;
  border: 0px solid #3e0a51 !important;
  box-shadow: 0px 0px #3e0a51 !important;
  color: white !important;
}

main .item .podcast .list_podcast li {
  font-family: "HKGrotesk-Medium";
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0.1em;
  background: #f7f1e7;
  padding: 0.1em;
  align-content: center;
  line-height: 1.3em;
}

main .item .podcast .list_podcast {
  font-family: "HKGrotesk-Medium";
  font-size: 0.6em;
  padding: 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1em;
}

main .item .ressource {
  transform: scale(1);
  box-shadow: -0.4em 0.4em transparent;
  cursor: pointer;
  color: #3e0a51;
  background: #00dab0;
}
main .item .ressource .box-content {
  background: #00dab0;
}

main .item .ressource .header {
  text-align: center;
  width: 100%;
  padding: 1em 0;
  background: url("../../theme/image/svgs/back_svg/cercle.svg") center center no-repeat;
  background-size: 100% 90%;
}

#box-right h1 {
  width: 100%;
  padding-top: 20%;
}

.reader_lexique {
  right: 0;
  background: #00dab0;
  margin: 0 auto;
}
.reader_lexique iframe:nth-of-type(1) {
  margin-top: 5vh;
}
.reader_lexique iframe {
  margin-top: 15px;
  height: 50vw;
  padding-left: 0.5vw;
  width: 100%;
}
.reader_lexique .intro ul {
  list-style: none;
  font-family: "redaction-regular";
  margin-top: 2vh;
  line-height: 1.3em;
  font-size: 0.7666666667em;
  border-top: 1px solid white;
  color: #3e0a51;
  padding-top: 2vh;
  width: 100%;
  padding-left: 0;
}
.reader_lexique .intro ul li {
  display: inline;
}
.reader_lexique .intro ul li:nth-last-of-type(1)::after {
  content: " ";
}
.reader_lexique .intro ul li::after {
  content: " | ";
}
.reader_lexique .intro ul li strong {
  font-family: "Redaction-Bold";
  font-variant: small-caps;
  text-transform: lowercase;
  color: white;
  letter-spacing: 0.02em;
}
.reader_lexique .intro p {
  font-family: "HKGrotesk-Medium";
  font-size: 1em;
  line-height: 1.15em;
  margin-bottom: 0em;
  margin-top: 0;
}
.reader_lexique .intro h3 {
  font-weight: normal;
  font-family: "HKGrotesk-BoldItalic";
  color: white;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 2vh;
}
.reader_lexique h1 {
  font-family: "HKGrotesk-Bold";
  font-size: 1.2em;
  font-weight: normal;
  margin-top: 2vh;
  text-decoration: underline;
  text-decoration-color: currentcolor;
  text-decoration-color: white;
}
.reader_lexique .box-mot {
  padding: 0 1em;
}

.reader_ressource {
  background: #f7f1e7;
  z-index: 2;
  padding: 1.2em;
  line-height: 1.4em;
}
.reader_ressource h3 {
  font-weight: normal;
}
.reader_ressource .date {
  display: none;
}
.reader_ressource .header h1 {
  color: #3e0a51;
  font-size: 2em;
  line-height: normal;
  text-decoration: underline 0.07em #00dab0;
  margin-bottom: 2vh;
  margin-top: 0;
  width: auto;
  display: inline-flex;
  font-weight: normal;
}
.reader_ressource h2 {
  font-family: "Redaction-Bold";
  font-size: 1.15em;
  margin-top: 2vh;
  text-decoration: underline #00dab0;
}
.reader_ressource h2:nth-of-type(1) {
  margin-top: 2vh;
}
.reader_ressource h3 {
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-family: "Redaction-Regular";
  margin-left: 3vw;
  background: white;
  padding: 1em;
  box-shadow: -2px 2px #3e0a51;
  font-size: 0.9583333333em;
  line-height: 1.4em;
  border: 1px solid #3e0a51;
  border-radius: 5px;
  width: 80%;
}
.reader_ressource h4 {
  font-weight: normal;
  font-size: 0.9583333333em;
  font-family: "Redaction-Regular";
  margin-top: 1vh;
  padding: 0;
  margin-left: 2vw;
}
.reader_ressource h4::before {
  content: "†";
  font-family: "HKGrotesk-Medium";
  color: #f0d4fd;
  -webkit-text-stroke: 1px #3e0a51;
  text-shadow: -2px 2px #3e0a51;
  transition: ease-in-out 0.2s;
  float: left;
  padding-right: 1vw;
  font-size: 2em;
}
.reader_ressource h4:hover:before {
  content: "†";
  font-family: "HKGrotesk-Medium";
  color: #3e0a51;
  -webkit-text-stroke: 1px #f0d4fd;
  text-shadow: -2px 2px #f0d4fd;
  transition: ease-in-out 0.2s;
}
.reader_ressource h4 a {
  color: #3e0a51;
  font-family: "Redaction-Bold";
  text-decoration: underline;
  font-size: 0.9em;
}
.reader_ressource h4 a:hover {
  color: #f0d4fd;
  text-decoration: none;
}
.reader_ressource h4:nth-of-type(1) {
  margin-bottom: 0;
  margin-left: 0vw;
}
.reader_ressource ul {
  list-style: none;
  font-size: 0.9583333333em;
}
.reader_ressource ul li {
  font-family: "Redaction-Regular";
  margin-top: 1vh;
  padding: 0;
}
.reader_ressource ul li::before {
  content: "•";
  font-family: "HKGrotesk-Medium";
  color: #00dab0;
  -webkit-text-stroke: 1px #3e0a51;
  text-shadow: -2px 2px #3e0a51;
  transition: ease-in-out 0.2s;
  float: left;
  font-size: 2em;
  padding-right: 1vw;
}
.reader_ressource ul li:hover:before {
  content: "•";
  font-family: "HKGrotesk-Medium";
  color: #3e0a51;
  -webkit-text-stroke: 1px #00dab0;
  text-shadow: -2px 2px #00dab0;
  transition: ease-in-out 0.2s;
}
.reader_ressource ul li a {
  color: #3e0a51;
  font-family: "Redaction-Bold";
  text-decoration: underline;
  font-size: 0.9em;
}
.reader_ressource ul li a:hover {
  color: #00dab0;
  text-decoration: none;
}
.reader_ressource ul:nth-of-type(1) {
  padding-left: 0;
}

.reader_court-metrage,
.reader_court-metrage-2,
.reader_cycle-conferences,
.reader_outil-pedagogique {
  background: #f0d4fd;
  color: #3e0a51;
  padding: 1em;
}

.reader_court-metrage .info-primaires,
.reader_court-metrage-2 .info-primaires,
.reader_cycle-conferences .info-primaires,
.reader_outil-pedagogique .info-primaires {
  font-family: "HKGrotesk-Medium";
  margin-left: 1vw;
}

.mobile .reader_court-metrage .info-primaires p,
.mobile .reader_cycle-conferences .info-primaires p,
.mobile .reader_outil-pedagogique .info-primaires p {
  font-size: 1.15em;
  line-height: 1.25em;
  font-family: "HKGrotesk-Medium";
  width: 90%;
}

.reader_court-metrage .info-primaires p:nth-of-type(1),
.reader_court-metrage-2 .info-primaires p:nth-of-type(1),
.reader_cycle-conferences .info-primaires p:nth-of-type(1),
.reader_outil-pedagogique .info-primaires p:nth-of-type(1) {
  margin-top: 3vh;
  text-indent: 0;
}

.reader_court-metrage .info-primaires strong,
.reader_court-metrage-2 .info-primaires strong,
.reader_cycle-conferences .info-primaires strong,
.reader_outil-pedagogique .info-primaires strong {
  font-family: "HKGrotesk-Bold";
  font-weight: normal;
}

.date {
  display: none;
}

.head_close {
  position: fixed;
  top: 10%;
  right: 5% !important;
  font-size: 3rem !important;
  z-index: 10;
}
.head_close .coda,
.head_close .fullscreen {
  display: none;
}

.reader_episode-podcast .info h1 em {
  font-family: "HKGrotesk-MediumItalic";
  font-style: normal;
}

.top_left {
  transform-origin: top left;
}

.top_right {
  transform-origin: top right;
}

.bottom_left {
  transform-origin: bottom left;
}

.bottom_right {
  transform-origin: bottom right;
}

.niveau_1 {
  order: 1;
}
.niveau_1 .box-content .type-media {
  font-size: 1.2em;
  margin-top: 38%;
  color: white;
  background: #3e0a51;
  line-height: 4.5rem;
}

.niveau_2 {
  order: 2;
}

.niveau_3 {
  order: 5;
}

.niveau_3-1 {
  order: 5;
}

.niveau_3-2 {
  order: 6;
}

.niveau_3-3 {
  order: 7;
}

.niveau_3-4 {
  order: 8;
}

.niveau_4 {
  order: 9;
}

#curriculum-futurae .forme {
  display: block !important;
  transform: scale(6);
  transform-origin: bottom left;
  width: auto !important;
  text-align: center;
  margin-left: auto;
  margin-left: 25%;
  z-index: -2;
  width: auto;
}

.camembert .forme #cm-1 {
  transform: rotate(-180deg);
  z-index: 1;
  position: absolute;
  transform-origin: center;
  transition: all 0.7s ease-in-out;
  top: -10;
}

.camembert .forme #cm-2 {
  transform: rotate(20deg);
  z-index: 2;
  position: absolute;
  transform-origin: center;
  transition: all 0.6s ease-in-out;
  top: -10;
}

.camembert .forme #cm-3 {
  transform: rotate(-240deg);
  z-index: 3;
  position: absolute;
  transform-origin: center;
  transition: all 1s ease-in-out;
  top: -10;
}

.courbes .forme {
  display: block;
  transform: scale(0.5);
  transform-origin: bottom left;
  width: auto !important;
  text-align: center;
  margin: 0 auto;
  margin-left: 15%;
}

.courbes .forme #c-1 {
  z-index: 1;
  position: absolute;
}

.courbes .forme #c-2 {
  z-index: 1;
  position: absolute;
}

.courbes .forme #c-3 {
  z-index: 3;
  position: absolute;
  transform-origin: bottom right;
}

/*# sourceMappingURL=responsive-mobile.css.map */
