@font-face {
  font-family: "Redaction_10-Bold-CVB";
  src: url("../font/redaction/webfonts/Redaction35-Bold-CVB.ttf");
}
@font-face {
  font-family: "Redaction-Bold";
  src: url("../font/redaction/webfonts/Redaction-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction-Italic";
  src: url("../font/redaction/webfonts/Redaction-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction-Regular";
  src: url("../font/redaction/webfonts/Redaction-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "HKGrotesk-Medium";
  src: url("../font/HKGrotesk-Medium.ttf");
}
@font-face {
  font-family: "HKGrotesk-MediumItalic";
  src: url("../font/HKGrotesk-MediumItalic.otf");
}
@font-face {
  font-family: "HKGrotesk-Bold";
  src: url("../font/HKGrotesk-Bold.otf");
}
@font-face {
  font-family: "HKGrotesk-BoldItalic";
  src: url("../font/HKGrotesk-BoldItalic.otf");
}

/*# sourceMappingURL=variables.css.map */
