@font-face {
 font-family: "Redaction_10-Bold-CVB"; 
 src: url("../font/redaction/webfonts/Redaction35-Bold-CVB.ttf")
}

@font-face {
 font-family: "Redaction-Bold";
 src: url("../font/redaction/webfonts/Redaction-Bold.woff2") format("woff2")
}
@font-face {
 font-family: "Redaction-Italic";
 src: url("../font/redaction/webfonts/Redaction-Italic.woff2") format("woff2")
}
@font-face {
 font-family: "Redaction-Regular";
 src: url("../font/redaction/webfonts/Redaction-Regular.woff2") format("woff2")
}
@font-face {
 font-family: "HKGrotesk-Medium";
 src: url("../font/HKGrotesk-Medium.ttf");
}
@font-face {
 font-family: "HKGrotesk-MediumItalic";
 src: url("../font/HKGrotesk-MediumItalic.otf");
}

@font-face {
 font-family: "HKGrotesk-Bold";
 src: url("../font/HKGrotesk-Bold.otf");
}

@font-face {
 font-family: "HKGrotesk-BoldItalic";
 src: url("../font/HKGrotesk-BoldItalic.otf");
}


//COLORS
$color-txt: #3e0a51;
$color-txt-b: #f0d4fd;
$color-fond:#f7f1e7;
$color-podcast:#00dab0;
$color-courts: #f0d4fd;
$color-docu: #3e0a51;
$color-lexique: #f0d4fd;
$color-edito:#f0d4fd;
$color-blue:#d9e8ff;

$vert: #00dab0;
$violet: #3e0a51;
$rose: #f0d4fd;
$bleu: #000632;
$beige :#f7f1e7;


$size: 1.15em;
$u: 20px;
$box-shadow: 0 0.5rem 1rem rgba($color-lexique, 0.15) !default;
$box-shadow-variation:1 0.5rem 2rem rgba($color-lexique, 0.25) !default;

// FONTES
$fontReg: "Redaction-Regular";
$fontItal: "Redaction-Italic";
$fontBold: "Redaction-Bold";
$fontReg10: "Redaction_10-Regular";
$fontItal10: "Redaction_10-Italic";
$fontBold10: "Redaction_10-Bold";
$fontReg20: "Redaction_20-Regular";
$fontItal20: "Redaction_20-Italic";
$fontBold20: "Redaction_20-Bold";
$fontReg35: "Redaction_35-Regular";
$fontItal35: "Redaction_35-Italic";
$fontBold35: "Redaction_35-Bold";
$fontReg50: "Redaction_50-Regular";
$fontItal50: "Redaction_50-Italic";
$fontBold50: "Redaction_50-Bold";
$fontReg100: "Redaction_100-Regular";
$fontItal100: "Redaction_100-Italic";
$fontBold100: "Redaction_100-Bold";
$hkmedium: "HKGrotesk-Medium";
$hkmediumit: "HKGrotesk-MediumItalic";
$hkbold: "HKGrotesk-Bold";
$hkboldit: "HKGrotesk-BoldItalic";
