
body {
  width: 100vw;
  height: 100vh;
  font-family: $fontReg;
  font-size: $size;
  margin: 0;
  padding: 0;
  color: $color-txt;
  background: $color-fond;
  overflow: hidden;
  .flexdetout {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    .reader-top {
      min-width: 100%;
      align-self: stretch;
      min-height: 10%;
    }
    .flexcentre {
      width: 100%;
      display: flex;
      // min-height: 50%;
      align-self: stretch;

      .reader-left {
        order: 1;
        flex: 1.5 1 auto;
      }
      .reader-right {
        order: 3;
        flex: auto;
      }
      .main {
        order: 2;
        flex: 4 1 auto;
      }
    }
    .readerbot {
      width: 100%;
      min-height: 10%;
      align-self: stretch;
    }
  }


  #menu-edito {
    ::selection{
      background:$color-txt-b;
    }
    font-size: $size/1.2;
    line-height: 1.4em;
    position: absolute;
    top: 5vh;
    left: 25vw;
    background: white;
    z-index: 300;
    max-width: 50vw;
    width: 50vw;
    height: 85vh;
    border: 1px solid $color-podcast;
    box-shadow: -5px 5px $color-podcast;
    padding: 0.6vw 2vw 0.6vw 0.6vw;
    overflow: auto;
    border-radius: 10px;
    cursor: default;
    transition: all 0.25s ease-in-out;

    .text {
      margin-right: 10vw;
      margin-left: 3vw;

      h2{
        font-family: "Redaction-Bold";
        margin-top: 2vh;
      }

      p:nth-of-type(1) {
        text-indent: 0;
        margin-top: 1.4vw;
      }
      p{
        text-indent: 2vw;
        a{
          text-decoration: underline;
          &:hover{
            color: $color-podcast;
          }
        }
      }
      strong {
        font-family: "Redaction_10-Bold-CVB";
        color: $color-podcast;
        text-shadow: -2px 2px $color-txt;
        font-size: 1.2em;
      }
    }

    .colophon{
      p{
        text-indent: 0px;
      }
      img{
        display: inline-flex;
        width: 6vw;
        padding-left: 3vw;
        vertical-align: middle;
      }
    }

    .close {
      position: absolute;
      margin-left: 48vw;
      font-size: $size;

      &:hover {
        color: $color-podcast;
      }
    }

    .reseau {
      position: fixed;
      bottom: 10vh;
      right: 25vw;
      text-align: right;
      display: block;

        a {
          color: $color-txt;
          &:hover {
            color: $color-podcast;
            &:before {
              content: "●";
              color: $color-podcast;
              -webkit-text-stroke: 1px $color-txt;
              text-shadow: 2px 2px $color-txt;
              padding-right: 1vw;
              text-decoration: none;
            }
          }
        }

    }

    .EditoNav {
      margin-top: 2vh;

      li {
        color: #3e0a51;
        font-family: "Redaction-Bold";
        cursor: pointer;

        a {
          margin: 0.2em;
          padding: 0.5em;
          border: 1px solid $color-txt;
          border-radius: 100%;
          transition: ease-in-out 0.2s;

          &:hover {
            box-shadow: -2px 2px $color-txt;
            transition: ease-in-out 0.2s;
          }

          &:focus {
            box-shadow: -2px 2px $color-txt;
            background: $color-podcast;
          }
        }
      }
    }

    ul {
      display: inline-flex;
      justify-content: flex-start;

      li {
        a {
          color: $color-txt;
          position: relative;
        }
      }

      p {
        font-size: $size;
        line-height: $size;
        text-indent: 2em;

        a {
          text-decoration: underline;
          text-shadow: -2px 2px $color-podcast;
        }
      }
    }


  }

  .header {
    display: inline;
  }

.menu {
    width: 100%;
    background: transparent;
    font-family: "Redaction_10-Bold-CVB";
    font-weight: normal;
    color: #00dab0;
    font-size: 5em;
    -webkit-text-stroke: 0.004em #3e0a51;
    text-shadow: -0.05em 0.05em #3e0a51;
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    &:hover {
      text-shadow: 0 0 #3e0a51;
      transition: all 0.25s ease-in-out;
      cursor: pointer;
    }

    .menu-bottom,
    .menu-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .menu-top {
      align-items: start;
      height: 49%;
    }

    .menu-bottom {
      align-items: flex-end;
      height: 49%;
    }

    .title {
      padding: 0 0.3em;
      z-index: 100;

      &:nth-of-type(2) {
        text-align: right;
      }
    }
  }
}
