/* Error: Undefined variable.
 *    ,
 * 43 |     font-size: $size/2;
 *    |                ^^^^^
 *    '
 *   Documents/travail/2021/CVB/www.nosfuturs/theme-bak/static/css/box-player.scss 43:16  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 43 \2502      font-size: $size/2;\a    \2502                 ^^^^^\a    \2575 \a   Documents/travail/2021/CVB/www.nosfuturs/theme-bak/static/css/box-player.scss 43:16  root stylesheet";
}
