.flex-box {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  margin-right: -17px;
  overflow-x: auto;
  padding-left: 17px;
  width: 100vw;
}

.head_close {
  display: flex;
  background: transparent;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;
  padding-right: 1.15em;

  .close {
    background: inherit;
    cursor: pointer;
    font-family: "HKGrotesk-Bold";
    font-size: 1.15em;
    margin-top: 0.15em;
    transition: all 0.25s ease-in-out;
    position: absolute;
    z-index: 1;

    &:hover {
      transition: all 0.25s ease-in-out;
    }
  }
}

#box-bottom {
  .head_close {
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 1;
    cursor: pointer;
    font-family: "HKGrotesk-Bold";
    font-size: $size/2;
    margin-top: 2em;
  }
}
//////////
// BOXs //
//////////

#box-left {
  background: white;
  display: none;
  max-height: 100vh;
	max-width: 40%;
  overflow: hidden;
  z-index: 200;
  transition: transform 250ms cubic-bezier(0,.02,1,1);
  width: auto;
}

#box-left .open {
  transition: transform 250ms cubic-bezier(0,.02,1,1);
}

#box-bottom {
  display: none;
  background: $color-podcast;
  transition: all 0.15s ease-in-out;
  z-index: 200;
  overflow: hidden;

  &.open_info {
    margin-top: 60%;
  }
}

#box-top {
  display: none;
  background: $color-txt;
  overflow: hidden;
  z-index: 5;

  .head_close {
    color: white;
  }
}

#box-right {
  height: 100vh;
  max-width: 30%;
  min-width: 25%;
  background: #00dab0;
  border-left: 1px solid;
  display: none;
  overflow: hidden;
  z-index: 100;
  width: auto;
  .head_close {
    .close:hover{
      color: $rose;
    }
  }
}

.box-reader:not(#box-top) {
  > .content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .header > .content {
    padding: 1.15em 1.15em 1.15em 0;
  }
}
//////////////////
// HEAD ARTICLE //
//////////////////

#box-left,
#box-top {
  .header {
    margin-bottom: 6em;
    // padding: 5em;
    position: sticky;
  }

  h1 {
    font-family: 'HKGrotesk-Bold';
    font-size: 2em;
    text-decoration: underline 0.07em;
    line-height: normal;
    position: sticky;
    top: 0.5em;
    transition: font-size 2s;
  }

  details {
    summary {
      &::-webkit-details-marker,
      &::marker {
        display: none;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
/////////////
// READERS //
/////////////

.reader_texte {
  padding: 1em;

  .header h1 {
    background: white;
    text-decoration-color: $color-podcast !important;
    top: 0;
  }

  .date,
  span {
    color: $color-podcast !important;
    font-family: "Redaction-Regular";
    font-size: 0.8em;
    line-height: 1.6em;

    &:before {
      -webkit-text-stroke: 1px $color-txt;
      color: $color-podcast;
      content: "●";
      font-size: 1.3em;
      padding-right: 1vw;
      text-shadow: -2px 2px $color-txt;
    }
  }

  .content {
    font-family: "HKGrotesk-Medium";
    line-height: $size*1.10;

    h2 {
      font-family: "HKGrotesk-Bold";
      font-size: $size*1.5;
      line-height: $size;
      margin-bottom: 0.5em;
      margin-top: 1em;
    }

    p {
      font-family: "HKGrotesk-Medium";
      font-size: 1em;
      line-height: $size;
      text-indent: 2em;
      width: 90%;

      em {
        font-family: "HKGrotesk-MediumItalic";
        font-style: normal;
      }
    }

    blockquote {
      color: $color-podcast;
      font-family: "Redaction-Italic";
      font-size: $size*1.5;
      line-height: $size;
      margin: 1em auto;
      text-align: center;
      width: 70%;

      span {
        font-size: 0.5em;
        vertical-align: super;

        &:before {
          content: "";
        }
      }
    }

    ol,
    ul {
      border-radius: 5px;
      border: 1px solid $color-podcast;
      box-shadow: -2px 2px $color-podcast;
      color: $color-txt;
      background: $color-fond;
      font-family: "Redaction-Regular";
      font-size: $size/1.2;
      line-height: 1.4em;
      margin: 2em 0 2em 2em;
      padding: 1em;
      width: 50%;

      li {
        list-style: none;
      }
    }

    img {
      margin-bottom: 2vh;
      margin-top: 2vh;
      width: 95%;
    }
  }
}

.reader_documentaire-primaire {
  padding: 1em;
  background: #3e0a51;
  color: white;
  height: 50vh;
  top: 0;
  width: 100%;
  z-index: 500;


    display: none;
  }

  .date {
  h1 {
    text-decoration-color: $color-podcast !important;
  }

  h2 {
    font-family: "HKGrotesk-Medium";
    width: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: $color-podcast;
    font-size: 1em;
  }

  h3 {
    margin-bottom: $size/2;
    margin-top: $size/2;
    width: auto;
    font-family: "HKGrotesk-bold";

    &:before {
      -webkit-text-stroke: 1px $color-podcast;
      color: white;
      content: "●";
      float: left;
      padding-right: 1vw;
      text-shadow: -2px 2px $color-podcast;
      transition: ease-in-out 0.2s;
    }
  }

  .flex-box {
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    margin-right: -17px;
    overflow-x: auto;
    padding-left: 17px;
    width: 100vw;
  }

  .info-primaires {
    order: 1;
    color: white;
    height: 100%;
    width: 35vw;

    details {
      font-family: "HKGrotesk-Medium";
      width: 90%;
      line-height: $size;

      summary {
        background: white;
        border-radius: 10px;
        border: 1px solid $color-podcast;
        box-shadow: -2px 2px $color-podcast;
        color: $color-txt;
        padding: 0.5em;
        font-family: "HKGrotesk-Bold";
        width: 60%;
        cursor: pointer;
        list-style: none;

        &:after {
          content: " ↓";
          color: $color-podcast;
          font-size: $size;
          font-family: "HKGrotesk-bold";
        }

        &:hover {
          color: white;
          background: $color-podcast;
          border: 1px solid white;
          box-shadow: -2px 2px white;
        }
      }
    }

    details[open] {
      background: white;
      border-radius: 10px;
      border: 1px solid $color-podcast;
      box-shadow: -2px 2px $color-podcast;
      color: $color-txt;
      padding: 1em;

      summary {
        background: white;
        border-radius: 10px;
        border: 0 solid $color-txt;
        box-shadow: 0 0 white;
        color: $color-txt;
        padding: 0;
        margin-bottom: 1.5vh;

        &:after {
          content: " ↑";
        }

        &:hover {
          color: $color-podcast;
        }
      }
    }

    ul {
      list-style: none;
      font-family: "redaction-regular";
      margin-top: 2vh;
      line-height: 1.3em;
      font-size: $size/1.5;
      border-top: 1px solid $color-podcast;
      color: $color-podcast;
      padding-top: 2vh;
      width: 50%;

      li {
        display: inline;

        strong {
          text-decoration: underline;
          font-family: "Redaction-Bold";
        }

        &:after {
          content: " | ";
        }

        &:nth-last-of-type(1) {
          display: block;
          margin-top: 2vh;

          em {
            font-family: "HKGrotesk-BoldItalic";
          }

          &:after {
            content: "";
          }
        }
        &:nth-last-of-type(1){
          content:"";
        }
      }
    }
  }

  .info-primaires p {
    padding: 0.575em;
    font-family: "HKGrotesk-Medium";
    font-size: 1em;
    line-height: $size;
    text-indent: 2em;

    strong {
      font-family: "HKGrotesk-Bold";
      font-weight: normal;
      text-decoration: underline;
    }
  }

  .iframe_box {
    height: 100%;
    margin-left: 2.3em;
    order: 2;
    width: 50%;
    background: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.reader_court-metrage {
  background: $color-txt-b;
  color: #3e0a51;
  padding: 1em;
  height: auto;

  .header{

        h1 {
          color: $color-txt;
          z-index: 2;
          background: $color-txt-b;
          font-size: 1.4em;
          line-height: normal;
          text-decoration: underline 0.07em white;
          text-decoration-color: white !important;
          margin-bottom: 2vh;
          top: 0em !important;
          width: 98%;
        }
  }

  .date {
    display: none;
  }

  .info-primaires {
    font-family: "HKGrotesk-Medium";
    margin-left: 1vw;

    strong {
      font-family: "HKGrotesk-Bold";
      font-weight: normal;
    }

    em {
      font-family: "HKGrotesk-MediumItalic";
      font-style: normal;
    }

    h2 {
      font-family: "HKGrotesk-Medium";
      width: auto;
      margin-top: 2vh;
      margin-bottom: 2vh;
      color: white;
      font-size: 1em;
    }

    h3 {
      font-family: "HKGrotesk-Bold";
      margin-bottom: 2vh;
      margin-top: 2vh;
      width: 90%;
      line-height: 1.15em;
    }

    ul {
      list-style: none;
      font-family: "redaction-regular";
      margin-top: 2vh;
      line-height: 1.3em;
      font-size: $size/1.5;
      border-top: 1px solid white;
      color: $color-txt;
      padding-top: 2vh;
      width: 50%;

      li {
        display: inline;

        strong {
          text-decoration: underline;
          font-family: "Redaction-Bold";
        }

        &:after {
          content: " | ";
        }

        &:nth-last-of-type(1) {
          display: block;
          margin-top: 2vh;

          em {
            font-family: "HKGrotesk-BoldItalic";
          }

          &:after {
            content: "";
          }
        }
        &:nth-last-of-type(1){
          content:"";
        }
      }
    }

    p {
      font-family: "HKGrotesk-Medium";
      font-size: 1em;
      line-height: 1.15em;
      margin-bottom: 0.575em;
      text-indent: 2em;
      width: 90%;

      a {
        font-family: "HKGrotesk-MediumItalic";
        margin: 0;
        padding: 0;
        text-decoration: underline;

        &:hover {
          background: $color-docu;
          color: #f0d4fd;
          font-family: "HKGrotesk-Medium";
        }
      }

      img {
        border-radius: 10px;
        margin-top: 1vh;
        width: 75%;
      }
    }

    details {
      font-family: "HKGrotesk-Medium";
      width: 90%;
      line-height: $size;
      margin-top: 2vh;

      summary {
        background: white;
        border-radius: 10px;
        border: 1px solid $color-txt;
        box-shadow: -2px 2px $color-txt;
        color: $color-txt;
        padding: 0.5em;
        font-family: "HKGrotesk-Bold";
        width: 50%;
        cursor: pointer;
        list-style: none;

        &:after {
          content: " ↓";
          color: $color-podcast;
          font-size: $size;
          font-family: "HKGrotesk-bold";
        }

        &:hover {
          color: white;
          background: $color-txt;
          border: 1px solid white;
          box-shadow: -2px 2px white;
        }
      }
    }

    details[open] {
      background: white;
      border-radius: 10px;
      border: 1px solid $color-txt;
      box-shadow: -2px 2px $color-txt;
      color: $color-txt;
      padding: 1em;

      summary {
        background: white;
        border-radius: 10px;
        border: 0 solid $color-txt;
        box-shadow: 0 0 white;
        color: $color-txt;
        padding: 0;
        margin-bottom: 1.5vh;

        &:after {
          content: " ↑";
        }

        &:hover {
          color: $color-podcast;
        }
      }
    }

  }
}

.reader_episode-podcast {
  .player_episode-podcast {
    margin: 0;
    width: 100%;
  }

  #player_source {
    display: none;
  }

  .down {
    height: 5vh;
  }

  .date {
    display: none;
  }

  .info {
    display: none;
    height: auto;
    width: 100%;

    h1 {
      margin-bottom: $size/2;
      margin-left: $size;
      padding-left: $size/2;
      top: -1vh;
      width: 100%;
      font-family: 'HKGrotesk-Bold';
      font-size: 2em;
      text-decoration: underline 0.07em;
      text-decoration-color: white !important;
      line-height: normal;
      position: sticky;
      top: 0;
    }

    ul {
      list-style: none;
      font-family: "redaction-regular";
      margin-top: 2vh;
      line-height: 1.3em;
      font-size: $size/1.5;
      border-top: 1px solid $color-txt;
      padding-top: 2vh;

      li {
        display: inline;

        strong {
          text-decoration: underline;
          font-family: "Redaction-Bold";
        }

        &:after {
          content: " | ";
        }

        &:nth-of-type(1) {
          display: block;
          margin-bottom: 2vh;

          em {
            font-family: "HKGrotesk-BoldItalic";
          }

          &:after {
            content: "";
          }
        }
      }
    }

    .texte {

      h2 {
        font-family: "HKGrotesk-MediumItalic";
        width: auto;
        font-size: 1.2em;
      }

      a,
      h3 {
        width: auto;
        font-family: "HKGrotesk-bold";
      }

      a::before,
      h3::before {
        content: "●";
        color: white;
        -webkit-text-stroke: 1px #3e0a51;
        text-shadow: -2px 2px #3e0a51;
        transition: ease-in-out 0.2s;
        float: left;
      }

      h3::before {
        padding-right: 1vw;
      }

      a::before {
        padding-right: 0;
      }

      a:hover {
        text-decoration: underline $color-txt 0.05em;
        color: white;
        font-family: "HKGrotesk-Medium";
      }

      p {
        font-family: "HKGrotesk-Medium";
        font-size: 1em;
        line-height: $size;
        margin-bottom: $size/2;
        text-indent: 2em;

        em {
          font-family: "HKGrotesk-MediumItalic";
          font-style: normal;
        }

        strong {
          font-family: "HKGrotesk-Bold";
          font-weight: normal;
        }
      }

      details {
        font-family: "HKGrotesk-Medium";
        width: 50%;
        line-height: $size;

        summary {
          background: white;
          border-radius: 10px;
          border: 1px solid $color-txt;
          box-shadow: -2px 2px $color-txt;
          color: $color-txt;
          padding: 0.5em;
          font-family: "HKGrotesk-Bold";
          width: 50%;
          cursor: pointer;
          list-style: none;

          &:after {
            content: " ↓";
            color: $color-podcast;
            font-size: $size;
            font-family: "HKGrotesk-bold";
          }

          &:hover {
            color: white;
            background: $color-txt;
            border: 1px solid white;
            box-shadow: -2px 2px white;
          }
        }
      }

      details[open] {
        background: white;
        border-radius: 10px;
        border: 1px solid $color-txt;
        box-shadow: -2px 2px $color-txt;
        color: $color-txt;
        padding: 1em;

        summary {
          background: white;
          border-radius: 10px;
          border: 0 solid $color-txt;
          box-shadow: 0 0 white;
          color: $color-txt;
          padding: 0;
          margin-bottom: 1.5vh;

          &:after {
            content: " ↑";
          }

          &:hover {
            color: $color-podcast;
          }
        }
      }
    }

    .part-fat {
      width: 50%;
      padding-left: 4% ;
      padding-right: $size;

      height: 80%;
      padding-bottom: 20%;
      p{
        font-family: "HKGrotesk-Medium";
        width: 75%;
        height: auto;

      }
    }

    .part-small {
      height: 80%;
      width: 20%;
      padding-left: $size;
      line-height: $size;

      img {
        width: 100%;
        position: sticky;
        top: 0;
      }
    }
  }
}

.videoDocument {
  color: white;

  .head_close {}

  .date {
    display: none;
  }

  h1 {
    background: #3e0a51;
    color: white;
    font-family: $hkbold;
    font-size: $size;
    padding: 0.575em;
    position: sticky;
    top: -1vh;
  }

  h2 {
    font-family: $hkboldit;
    font-size: $size;
    line-height: $size;
    padding-bottom: $size/2;
  }

  iframe {
    height: 100%;
    margin-left: $size*2;
    order: 2;
    width: 50%;
  }

  .info-primaires,
  h1,
  h2 {
    margin-left: $size/2;
  }

  .info-primaires {
    color: white;
    height: 100%;
    order: 1;
    width: 35vw;

    p {
      font-family: $hkmedium;
      font-size: $size;
      line-height: $size;
      padding: $size/2;

      em {
        font-family: $hkmediumit;
        font-weight: normal;
      }
    }
  }
}

.reader_lexique {
  align-self: flex-end;
  right: 0;
  height: 100%;
  background: $color-podcast;
  max-width: 100%;
  overflow: hidden;

  h1 {
    font-family: $hkbold;
    font-size: 1.2em;
    font-weight: normal;
    height: 10vh;

    span {
      font-family: $hkboldit;
    }
  }

  .header {
    display: none;
  }

  .lexique {
    background: $color-podcast;
  }

  .content {
    overflow-y: hidden !important;
  }

  details {
    margin-right: -17px;
    padding-right: 17px;
    font-family: $hkmedium;
    margin-left: 5px;

    summary {
      border-bottom: 1px solid white;
      cursor: pointer;
      font-size: $size;
      list-style: none;
      margin-left: 0.5vw;
      margin-right: 0.5vw;
      padding-bottom: 1vh;
      padding-top: 1vh;

      &:hover {
        color: white;
      }

      &::-webkit-details-marker,
      &::marker {
        display: none;
      }

      &:focus {
        outline: none;
      }
    }
  }

  details[open] {
    margin-left: 5px;

    summary {
      border-bottom: 0 solid $color-txt-b;
      font-family: $hkbold;
      outline: none;
      position: fixed;
      width: 100%;

      &:focus {
        outline: none;
      }

      &:active {
        outline: none;
      }

      &:link {
        outline: none;
      }
    }
  }

  iframe {
    height: 200px;
    margin-top: 15px;
    padding-left: 0.5vw;
    width: 250px;

    &:nth-of-type(1) {
      margin-top: 5vh;
    }
  }
}

.reader_ressource {
  background: #f7f1e7;
  z-index: 100;
  padding: 1.2em;
  line-height: 1.4em;

  .date {
    display: none;
  }

  h2 {
    font-family: "Redaction-Bold";
    font-size: $size;
    margin-top: 2vh;
    text-decoration: underline $color-podcast;
  }

  h2:nth-of-type(1) {
    margin-top: 2vh;
  }

  h3 {
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-family: "Redaction-Regular";
    margin-left: 3vw;
    background: white;
    padding: 1em;
    box-shadow: -2px 2px #3e0a51;
    font-size: 0.9583333333em;
    line-height: 1.4em;
    border: 1px solid #3e0a51;
    border-radius: 5px;
    width: 80%;
  }

  ul {
    list-style: none;
    font-size: $size/1.2;

    li {
      font-family: "Redaction-Regular";
      margin-top: 1vh;
      padding: 0;

      &::before {
        content: "●";
        color: #00dab0;
        -webkit-text-stroke: 1px #3e0a51;
        text-shadow: -2px 2px #3e0a51;
        transition: ease-in-out 0.2s;
        float: left;
        padding-right: 1vw;
      }

      &:hover:before {
        content: "●";
        color: #3e0a51;
        -webkit-text-stroke: 1px #00dab0;
        text-shadow: -2px 2px #00dab0;
        transition: ease-in-out 0.2s;
      }

      a {
        font-family: "Redaction-Bold";
        text-decoration: underline;

        &:hover {
          color: #00dab0;
          text-decoration: none;
        }
      }
    }
  }
}

.player {
  font-family: "HKGrotesk-Bold";
}

.open {
  transition: .05s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: block !important;
}
// .player_court-metrage_off {
//   background: #f0d4fd;
//   color: #3e0a51;
//   height: 100%;
//   left: 0;
//   overflow-x: hidden;
//   overflow-y: scroll;
//   padding: 0.5vw;
//   position: fixed;
//   top: 0;
//   width: 40%;
//   z-index: 500;
//
//   h2 {
//     font-family: "Redaction-Bold";
//     font-size: $size;
//     margin-top: 4vh;
//     text-decoration: underline $color-podcast;
//
//     &:nth-of-type(1) {
//       margin-top: 2vh;
//     }
//   }
//
//   h3 {
//     background: white;
//     border-radius: 5px;
//     border: 1px solid $color-txt;
//     box-shadow: -2px 2px $color-txt;
//     font-family: "Redaction-Regular";
//     font-size: $size/1.2;
//     line-height: 1.4em;
//     margin-bottom: 3vh;
//     margin-left: 3vw;
//     margin-top: 3vh;
//     padding: 1em;
//   }
//
//   ul {
//     font-size: $size/1.2;
//     line-height: 1.4em;
//     list-style: none;
//
//     li {
//       font-family: "Redaction-Regular";
//       margin-top: 1vh;
//       padding: 0;
//
//       &:before { 
//         -webkit-text-stroke: 1px $color-txt;
//         color: $color-podcast;
//         content: "●";
//         float: left;
//         padding-right: 1vw;
//         text-shadow: -2px 2px $color-txt;
//         transition: ease-in-out 0.2s;
//       }
//
//       &:hover {
//         -webkit-text-stroke: 1px $color-podcast;
//         color: $color-txt;
//         content: "●";
//         text-shadow: -2px 2px $color-podcast;
//         transition: ease-in-out 0.2s;
//
//         &:before {}
//       }
//
//       a {
//         // font-family: "Redaction_10-Italic";
//         font-family: "Redaction-Bold";
//         text-decoration: underline;
//
//         &:hover {
//           color: $color-podcast;
//           text-decoration: none;
//         }
//       }
//     }
//   }
// }

.open_bottom {
  .flexcentre {
    height: calc(100% - 50px);
  }

  &.open_bottom_info {
    .flexcentre {
      height: 50%;
    }

    .info {
      display: block;
    }
  }
}
