/* Error: Undefined variable.
 *   ,
 * 6 |     font-family: $hkmedium;
 *   |                  ^^^^^^^^^
 *   '
 *   main.scss 6:18  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 6 \2502      font-family: $hkmedium;\a   \2502                   ^^^^^^^^^\a   \2575 \a   main.scss 6:18  root stylesheet";
}
