
main {
  // définition de la grille
  .item {
    margin: 0;
    font-family: $hkmedium;
		position: absolute;
		width: 100%;
    height: 100%;
		display: flex;
		flex-flow: wrap;
		align-items: flex-end;
    // style général d'une box
    .box-infos {
      border-radius: 5px;
      font-size: $size;
      line-height: $size*1.10;
      padding: 0vw;
      overflow-x: hidden;
      overflow-y: auto;
      // transform-origin: top left;
      // position: absolute;
      transition: all 0.2s ease-in-out;
      font-family: $hkmedium;
      img{
        width:17.5vw;
        filter: grayscale(1) contrast(1.3);
        mix-blend-mode: screen;
      }
			&:hover{
				z-index: 100;
        img{
          filter: grayscale(0) contrast(1) ;
          mix-blend-mode:normal;
          transition: all 0.2s ease-in-out;
        }
			}
      h1, h2 {
        font-size: $size !important;
        line-height: $size*1.10;
        margin-bottom: 1vh;
        font-family: "HKGrotesk-Bold";
      }
			.header {
				width: max-content;
				position: relative;
				display: inline-block;
				font-family:$hkmedium;
      }
      .content {
        width: 100%;
        height: 80%;
      }
    }
  // niveau de profondeur
      .niveau_1{
        width: auto;
        height: auto;
        img{
          width:35vw;
        }
      }
      .niveau_2{
        font-size: 1.2em;
      }
      .niveau_3{

        // min-width: 12.5vw;
        // max-width: 22.5vw;
        // width: auto;
        // height: auto;
			}
      .niveau_4{
  			font-size: .8em;
      }
    // styles des types box
		.texte {
			// overflow: visible;
			.header {
				padding: 0.5em;
				background: #F3F3F3;
			}
		}
    .lexique {
			display: none;
			cursor: pointer;
      color: $color-podcast;
      transition: all 0.2s ease-in-out;
      text-align: center;
      vertical-align: middle;
      margin-top: auto;
      margin-bottom: auto;
      font-weight: normal;
      color: #00dab0;
      -webkit-text-stroke: 0.004em #3e0a51;
      text-shadow: -0.05em 0.05em #3e0a51;
      transition: all 0.25s ease-in-out;
      .header-info {
        display: flex;
      }
      &:hover{
         color: $color-txt-b;
      }
      h1:before {
        display: inline;
        content: "#\0202F";
      }
        }
    .ressource{
      background: #00dab0;
      transition: all 1.3s;
      position: absolute;
      top: 15vh !important;
      left: 0% !important;
      background: transparent;
      font-family: "Redaction_10-Bold-CVB";
      font-weight: normal;
      color: #00dab0;
      -webkit-text-stroke: 0.004em #3e0a51;
      text-shadow: -0.05em 0.05em #3e0a51;
      transition: all 0.25s ease-in-out;
      &:hover{

        text-shadow: 0 0 #3e0a51;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
      }

      // overflow: visible;
      .header {
        // color:#3e0a51;
        padding: .5em;
      }
      .header-info {
        display: flex;
      }
      @include btn-play(1.2em, #3e0a51, #f7f1e7);

    }
    .podcast, .cycle-conferences {
			transition: all 1.3s;
			.header {
				background: $color-podcast;
				padding: .5em;
			}
			.header-info {
				display: flex;
			}
			@include btn-play(1.2em,  #3e0a51, $color-podcast);
			.list_podcast {
				background: $color-podcast;
				font-family: $hkmedium;
				font-size: .8em;
				display: none;
			}
			.list_podcast li{
				cursor: pointer;
				padding: 0 0.5em;
				border-top: 1px solid #3e0a51;
				&:hover {
					background: #3e0a51;
					color: $color-podcast;
					@include btn-play(1.2em, $color-podcast, #3e0a51);
				}
			}
			&:hover .list_podcast {
				display: block;
			}
	}
    .outil-pedagogique,
    .documentaire-primaire {
			  overflow: hidden;
				background: $color-docu;
        color: white;
				// color: $color-txt-b;
				@include btn-play(5em, #00dab0, #3e0a51);

        .header {
  				padding: 0.5em;
            text-align: center;
  			}

    }
    .outil-pedagogique {
      // border: .35em #00dab0 solid;
      background: $color-docu;
      // transition: all 1.3s;

				// .play {
				// 	margin: 5vw;
        //   position: absolute;
				// }
        .header {
          text-align: center;
  				padding: 0.5em;
  			}
        @include btn-play(1.2em,  $color-podcast, $color-txt);

        .list_documentaire {
          background: $color-txt;
          font-family: $hkmedium;
          font-size: .8em;
          display: none;
        }
        ul{
          display: flex;
          flex-flow: row wrap;
        }
        .list_documentaire li{
          cursor: pointer;
          padding: 0;
          border-top: 1px solid $color-podcast;
          img{
            filter: grayscale(1) contrast(1.3);
            mix-blend-mode: screen;
            height: auto;
            width: 5vw;
            vertical-align: middle;
						display: none;
          }
          &:hover {
            background: $color-podcast;
            color: $color-txt;
            @include btn-play(1.2em, white, $color-txt);

            img{
              filter: grayscale(0) contrast(1);
              mix-blend-mode: normal;
            }
          }
        }
        &:hover .list_documentaire {
          display: block;
        }
    }


    .court-metrage {
      transform-origin: top left;
      color: $color-docu;
			// overflow: visible;
			.header {
				background: $color-txt-b;
				padding: .5em;
			}
			.header-info {
				display: flex;
			}
			@include btn-play(1.8em, $color-docu, $color-txt-b);
			.type-media {
				font-size: 0.8em;
			}
    }
      .documentaire-primaire {
        font-family: "HKGrotesk-Bold";
        overflow-y: hidden;
        // border: .35em $color-docu solid;
        background:#00dab0 ;

        .play {
					margin: 12.5vw;
          position: absolute;
				}
        h1{
          margin-bottom: 0.2em;
        }
      }
  }

.category {
  summary {
    transition: .000002s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: #00dab0;
    -webkit-text-stroke: .004em #3e0a51;
    text-shadow: -0.05em 0.05em #3e0a51;
    font-family: "HKGrotesk-Bold";
    font-size: 1.15em;
    padding-left: .3em;
    margin-top: 12vh;
    cursor: pointer;
    width: max-content;

        &:focus {
          outline: none;
          box-shadow: initial;
        }

    &:hover{
              text-shadow: 0 0 #3e0a51;

              cursor: pointer;
    }
  }
  details[open]{
    background:#00dab0; 
    z-index: 1000;
    position: fixed;
    height: auto;
    opacity: .9;
    overflow-y: auto;
    width: 100vw;
    top: 2vh;
    bottom: 2vh;
    border-radius: 2em #00dab0;
    transition: .2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-box-shadow: 10px 10px 80px 100px #00dab0;
    -moz-box-shadow: 10px 10px 80px 100px #00dab0;
    box-shadow: 10px 10px 80px 100px #00dab0;
    margin-top: 10vh;

  }
  details[open] summary {
      transition: .2s cubic-bezier(0.165, 0.84, 0.44, 1);
      margin-top: 0vh;
      padding-left:0;
      padding-bottom: $size/2;
      -webkit-text-stroke: 0em;
      text-shadow: 0 0 #f7f1e7;
      color:#3e0a51;
      background: transparent;
      &:after{
        content:("✕");
        right: 2vw;
        position: absolute;

      }


    &:hover{
     color: white;
  }
    &::-webkit-details-marker,
        &::marker {
          display: none;
          color:transparent;
    }
    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
    }
    &:link{
      outline: none;
    }
  }
	details {
    transition: .2s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: auto;
    margin: 0;
    opacity: .9;
    font-size: $size;
    position: absolute;

    // z-index: 111;
    h1{
      font-family: 'HKGrotesk-Bold';
      text-decoration: underline 0.07em;
      text-decoration-color: currentcolor;
      line-height: normal;
      padding-left:$size;
      position: sticky;
      padding-top: $size;
    }
	}
  .edito {
    padding-left: 1.15em;
    padding-right: 1.15em;

    p {
      font-family: $hkmedium;
      font-size: $size;
      line-height: $size;
      padding-top: $size/2;
      a{
        color:#3e0a51;
        text-decoration: underline;
        // text-shadow: -0.05em 0.05em #3e0a51;
        &:hover{
        color: #f7f1e7;
        text-decoration: none;
        }
      }
    }
    p:nth-of-type(1){
      text-indent: 0em;
    padding-top: 5vh;
    }
  }
}

}
