@mixin btn-play($font-size, $cl-front, $cl-back) {

.play {
	font-family: "Redaction_10-Bold-CVB";
	font-weight: normal;
	color: $cl-front;
	font-size: $font-size;
	-webkit-text-stroke: 0.004em $cl-back;
	text-shadow: -0.05em 0.05em $cl-back;
	padding: 0 0.3em;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
	&:hover {
		text-shadow: 0 0 #3e0a51;
		transition: all 0.25s ease-in-out;
	}
}
}
