.player_podcast {
	h1 {
      font-family: "HKGrotesk-Bold";
	}
}
.btn_info {
	&:hover{
	color:white;
	cursor: pointer; 
	}
}
.audio-player {
  height: 50px;
  width: 100vw;
  font-family: arial;
  color: white;
  font-size: 0.75em;
  overflow: hidden;
  display: grid;
  grid-template-rows: 6px auto;
	top: 95vh;
	background: #00dab0;
  .timeline {
    background: white;
    width: 100%;
    position: relative;
    cursor: pointer;
    .progress {
      background: #3e0a51;
      width: 0%;
      height: 100%;
      transition: 0.25s;
    }
  }
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 20px;
		color:  #3e0a51;
		width: 90vw;

    > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .toggle-play {
      &.play {
        cursor: pointer;
        position: relative;
        left: 0;
        height: 0;
        width: 0;
        border: 7px solid #0000;
        border-left: 13px solid white;
        &:hover {
          transform: scale(1.1);
        }
      }
      &.pause {
        height: 15px;
        width: 20px;
        cursor: pointer;
        position: relative;
        &:before {
          position: absolute;
          top: 0;
          left: 0px;
          background: white;
          content: "";
          height: 15px;
          width: 3px;
        }
        &:after {
          position: absolute;
          top: 0;
          right: 8px;
          background: white;
          content: "";
          height: 15px;
          width: 3px;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .time {
      display: flex;

      > * {
        padding: 2px;
      }
    }

		.name {
			font-weight: bold;
		}
    .volume-container {
      cursor: pointer;
      .volume-button {
        height: 26px;
        display: flex;
        align-items: center;
        .volume {
          transform: scale(0.7);
        }
      }

      position: relative;
      z-index: 2;
      .volume-slider {
        position: absolute;
        left: -3px; top: 18px;
        z-index: -1;
        width: 80px;
				height: 5px;
				background: white;
        transition: .25s;
        .volume-percentage {
          background: #3e0a51;
          height: 100%;
          width: 75%;
        }
      }
    }
  }
}
