@charset "UTF-8";
@import 'reset.css';
@font-face {
  font-family: "Redaction_10-Bold-CVB";
  src: url("../font/redaction/webfonts/Redaction35-Bold-CVB.ttf");
}
@font-face {
  font-family: "Redaction_10-Bold";
  src: url("../font/redaction/webfonts/Redaction_10-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_10-Italic";
  src: url("../font/redaction/webfonts/Redaction_10-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_10-Regular";
  src: url("../font/redaction/webfonts/Redaction_10-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_20-Bold";
  src: url("../font/redaction/webfonts/Redaction_20-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_20-Italic";
  src: url("../font/redaction/webfonts/Redaction_20-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_20-Regular";
  src: url("../font/redaction/webfonts/Redaction_20-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_35-Bold";
  src: url("../font/redaction/webfonts/Redaction_35-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_35-Italic";
  src: url("../font/redaction/webfonts/Redaction_35-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_35-Regular";
  src: url("../font/redaction/webfonts/Redaction_35-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_50-Bold";
  src: url("../font/redaction/webfonts/Redaction_50-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_50-Italic";
  src: url("../font/redaction/webfonts/Redaction_50-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_50-Regular";
  src: url("../font/redaction/webfonts/Redaction_50-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_70-Bold";
  src: url("../font/redaction/webfonts/Redaction_70-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_70-Italic";
  src: url("../font/redaction/webfonts/Redaction_70-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_70-Regular";
  src: url("../font/redaction/webfonts/Redaction_70-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_100-Bold";
  src: url("../font/redaction/webfonts/Redaction_100-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_100-Italic";
  src: url("../font/redaction/webfonts/Redaction_100-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction_100-Regular";
  src: url("../font/redaction/webfonts/Redaction_100-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction-Bold";
  src: url("../font/redaction/webfonts/Redaction-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction-Italic";
  src: url("../font/redaction/webfonts/Redaction-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction-Regular";
  src: url("../font/redaction/webfonts/Redaction-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "HKGrotesk-Medium";
  src: url("../font/HKGrotesk-Medium.otf");
}
@font-face {
  font-family: "HKGrotesk-MediumItalic";
  src: url("../font/HKGrotesk-MediumItalic.otf");
}
@font-face {
  font-family: "HKGrotesk-Bold";
  src: url("../font/HKGrotesk-Bold.otf");
}
@font-face {
  font-family: "HKGrotesk-BoldItalic";
  src: url("../font/HKGrotesk-BoldItalic.otf");
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Redaction-Regular";
  font-size: 1.15em;
  margin: 0;
  padding: 0;
  color: #3e0a51;
  background: #f7f1e7;
  overflow: hidden;
}
body .flexdetout {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
body .flexdetout .reader-top {
  min-width: 100%;
  align-self: stretch;
  min-height: 10%;
}
body .flexdetout .flexcentre {
  width: 100%;
  display: flex;
  align-self: stretch;
}
body .flexdetout .flexcentre .reader-left {
  order: 1;
  flex: 1.5 1 auto;
}
body .flexdetout .flexcentre .reader-right {
  order: 3;
  flex: auto;
}
body .flexdetout .flexcentre .main {
  order: 2;
  flex: 4 1 auto;
}
body .flexdetout .readerbot {
  width: 100%;
  min-height: 10%;
  align-self: stretch;
}
body #menu-edito {
  font-size: 0.9583333333em;
  line-height: 1.4em;
  position: absolute;
  top: 5vh;
  left: 25vw;
  background: white;
  z-index: 300;
  max-width: 50vw;
  width: 50vw;
  height: 85vh;
  border: 1px solid #00dab0;
  box-shadow: -5px 5px #00dab0;
  padding: 0.6vw 2vw 0.6vw 0.6vw;
  overflow: auto;
  border-radius: 10px;
  cursor: default;
  transition: all 0.25s ease-in-out;
}
body #menu-edito ::selection {
  background: #f0d4fd;
}
body #menu-edito .text {
  margin-right: 10vw;
  margin-left: 3vw;
}
body #menu-edito .text h2 {
  font-family: "Redaction_10-Bold";
  margin-top: 2vh;
}
body #menu-edito .text p:nth-of-type(1) {
  text-indent: 0;
  margin-top: 1.4vw;
}
body #menu-edito .text p {
  text-indent: 2vw;
}
body #menu-edito .text p a {
  text-decoration: underline;
}
body #menu-edito .text p a:hover {
  color: #00dab0;
}
body #menu-edito .text strong {
  font-family: "Redaction_10-Bold-CVB";
  color: #00dab0;
  text-shadow: -2px 2px #3e0a51;
  font-size: 1.2em;
}
body #menu-edito .colophon p {
  text-indent: 0px;
}
body #menu-edito .colophon img {
  display: inline-flex;
  width: 6vw;
  padding-left: 3vw;
  vertical-align: middle;
}
body #menu-edito .close {
  position: absolute;
  margin-left: 48vw;
  font-size: 1.15em;
}
body #menu-edito .close:hover {
  color: #00dab0;
}
body #menu-edito .reseau {
  position: fixed;
  bottom: 10vh;
  right: 25vw;
  text-align: right;
  display: block;
}
body #menu-edito .reseau a {
  color: #3e0a51;
}
body #menu-edito .reseau a:hover {
  color: #00dab0;
}
body #menu-edito .reseau a:hover:before {
  content: "●";
  color: #00dab0;
  -webkit-text-stroke: 1px #3e0a51;
  text-shadow: 2px 2px #3e0a51;
  padding-right: 1vw;
  text-decoration: none;
}
body #menu-edito .EditoNav {
  margin-top: 2vh;
}
body #menu-edito .EditoNav li {
  color: #3e0a51;
  font-family: "Redaction_10-Bold";
  cursor: pointer;
}
body #menu-edito .EditoNav li a {
  margin: 0.2em;
  padding: 0.5em;
  border: 1px solid #3e0a51;
  border-radius: 100%;
  transition: ease-in-out 0.2s;
}
body #menu-edito .EditoNav li a:hover {
  box-shadow: -2px 2px #3e0a51;
  transition: ease-in-out 0.2s;
}
body #menu-edito .EditoNav li a:focus {
  box-shadow: -2px 2px #3e0a51;
  background: #00dab0;
}
body #menu-edito ul {
  display: inline-flex;
  justify-content: flex-start;
}
body #menu-edito ul li a {
  color: #3e0a51;
  position: relative;
}
body #menu-edito ul p {
  font-size: 1.15em;
  line-height: 1.15em;
  text-indent: 2em;
}
body #menu-edito ul p a {
  text-decoration: underline;
  text-shadow: -2px 2px #00dab0;
}
body .header {
  display: inline;
}
body .menu {
  width: 100%;
  background: transparent;
  font-family: "Redaction_10-Bold-CVB";
  font-weight: normal;
  color: #00dab0;
  font-size: 5em;
  -webkit-text-stroke: 0.004em #3e0a51;
  text-shadow: -0.05em 0.05em #3e0a51;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
body .menu:hover {
  text-shadow: 0 0 #3e0a51;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
body .menu .menu-bottom,
body .menu .menu-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .menu .menu-top {
  align-items: start;
  height: 49%;
}
body .menu .menu-bottom {
  align-items: flex-end;
  height: 49%;
}
body .menu .title {
  padding: 0 0.3em;
  z-index: 100;
}
body .menu .title:nth-of-type(2) {
  text-align: right;
}

main .item {
  margin: 0;
  font-family: "HKGrotesk-Medium";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: flex-end;
}
main .item .box-infos {
  border-radius: 5px;
  font-size: 1.15em;
  line-height: 1.265em;
  padding: 0vw;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.2s ease-in-out;
  font-family: "HKGrotesk-Medium";
}
main .item .box-infos img {
  width: 17.5vw;
  filter: grayscale(1) contrast(1.3);
  mix-blend-mode: screen;
}
main .item .box-infos:hover {
  z-index: 100;
}
main .item .box-infos:hover img {
  filter: grayscale(0) contrast(1);
  mix-blend-mode: normal;
  transition: all 0.2s ease-in-out;
}
main .item .box-infos h1, main .item .box-infos h2 {
  font-size: 1.15em !important;
  line-height: 1.265em;
  margin-bottom: 1vh;
  font-family: "HKGrotesk-Bold";
}
main .item .box-infos .header {
  width: max-content;
  position: relative;
  display: inline-block;
  font-family: "HKGrotesk-Medium";
}
main .item .box-infos .content {
  width: 100%;
  height: 80%;
}
main .item .niveau_1 {
  width: auto;
  height: auto;
}
main .item .niveau_1 img {
  width: 35vw;
}
main .item .niveau_2 {
  font-size: 1.2em;
}
main .item .niveau_4 {
  font-size: 0.8em;
}
main .item .texte .header {
  padding: 0.5em;
  background: #F3F3F3;
}
main .item .lexique {
  display: none;
  cursor: pointer;
  color: #00dab0;
  transition: all 0.2s ease-in-out;
  text-align: center;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: normal;
  color: #00dab0;
  -webkit-text-stroke: 0.004em #3e0a51;
  text-shadow: -0.05em 0.05em #3e0a51;
  transition: all 0.25s ease-in-out;
}
main .item .lexique .header-info {
  display: flex;
}
main .item .lexique:hover {
  color: #f0d4fd;
}
main .item .lexique h1:before {
  display: inline;
  content: "# ";
}
main .item .ressource {
  background: #00dab0;
  transition: all 1.3s;
  position: absolute;
  top: 15vh !important;
  left: 0% !important;
  background: transparent;
  font-family: "Redaction_10-Bold-CVB";
  font-weight: normal;
  color: #00dab0;
  -webkit-text-stroke: 0.004em #3e0a51;
  text-shadow: -0.05em 0.05em #3e0a51;
  transition: all 0.25s ease-in-out;
}
main .item .ressource:hover {
  text-shadow: 0 0 #3e0a51;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
main .item .ressource .header {
  padding: 0.5em;
}
main .item .ressource .header-info {
  display: flex;
}
main .item .ressource .play {
  font-family: "Redaction_10-Bold-CVB";
  font-weight: normal;
  color: #3e0a51;
  font-size: 1.2em;
  -webkit-text-stroke: 0.004em #f7f1e7;
  text-shadow: -0.05em 0.05em #f7f1e7;
  padding: 0 0.3em;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
main .item .ressource .play:hover {
  text-shadow: 0 0 #3e0a51;
  transition: all 0.25s ease-in-out;
}
main .item .podcast, main .item .cycle-conferences {
  transition: all 1.3s;
}
main .item .podcast .header, main .item .cycle-conferences .header {
  background: #00dab0;
  padding: 0.5em;
}
main .item .podcast .header-info, main .item .cycle-conferences .header-info {
  display: flex;
}
main .item .podcast .play, main .item .cycle-conferences .play {
  font-family: "Redaction_10-Bold-CVB";
  font-weight: normal;
  color: #3e0a51;
  font-size: 1.2em;
  -webkit-text-stroke: 0.004em #00dab0;
  text-shadow: -0.05em 0.05em #00dab0;
  padding: 0 0.3em;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
main .item .podcast .play:hover, main .item .cycle-conferences .play:hover {
  text-shadow: 0 0 #3e0a51;
  transition: all 0.25s ease-in-out;
}
main .item .podcast .list_podcast, main .item .cycle-conferences .list_podcast {
  background: #00dab0;
  font-family: "HKGrotesk-Medium";
  font-size: 0.8em;
  display: none;
}
main .item .podcast .list_podcast li, main .item .cycle-conferences .list_podcast li {
  cursor: pointer;
  padding: 0 0.5em;
  border-top: 1px solid #3e0a51;
}
main .item .podcast .list_podcast li:hover, main .item .cycle-conferences .list_podcast li:hover {
  background: #3e0a51;
  color: #00dab0;
}
main .item .podcast .list_podcast li:hover .play, main .item .cycle-conferences .list_podcast li:hover .play {
  font-family: "Redaction_10-Bold-CVB";
  font-weight: normal;
  color: #00dab0;
  font-size: 1.2em;
  -webkit-text-stroke: 0.004em #3e0a51;
  text-shadow: -0.05em 0.05em #3e0a51;
  padding: 0 0.3em;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
main .item .podcast .list_podcast li:hover .play:hover, main .item .cycle-conferences .list_podcast li:hover .play:hover {
  text-shadow: 0 0 #3e0a51;
  transition: all 0.25s ease-in-out;
}
main .item .podcast:hover .list_podcast, main .item .cycle-conferences:hover .list_podcast {
  display: block;
}
main .item .outil-pedagogique,
main .item .documentaire-primaire {
  overflow: hidden;
  background: #3e0a51;
  color: white;
}
main .item .outil-pedagogique .play,
main .item .documentaire-primaire .play {
  font-family: "Redaction_10-Bold-CVB";
  font-weight: normal;
  color: #00dab0;
  font-size: 5em;
  -webkit-text-stroke: 0.004em #3e0a51;
  text-shadow: -0.05em 0.05em #3e0a51;
  padding: 0 0.3em;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
main .item .outil-pedagogique .play:hover,
main .item .documentaire-primaire .play:hover {
  text-shadow: 0 0 #3e0a51;
  transition: all 0.25s ease-in-out;
}
main .item .outil-pedagogique .header,
main .item .documentaire-primaire .header {
  padding: 0.5em;
  text-align: center;
}
main .item .outil-pedagogique {
  background: #3e0a51;
}
main .item .outil-pedagogique .header {
  text-align: center;
  padding: 0.5em;
}
main .item .outil-pedagogique .play {
  font-family: "Redaction_10-Bold-CVB";
  font-weight: normal;
  color: #00dab0;
  font-size: 1.2em;
  -webkit-text-stroke: 0.004em #3e0a51;
  text-shadow: -0.05em 0.05em #3e0a51;
  padding: 0 0.3em;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
main .item .outil-pedagogique .play:hover {
  text-shadow: 0 0 #3e0a51;
  transition: all 0.25s ease-in-out;
}
main .item .outil-pedagogique .list_documentaire {
  background: #3e0a51;
  font-family: "HKGrotesk-Medium";
  font-size: 0.8em;
  display: none;
}
main .item .outil-pedagogique ul {
  display: flex;
  flex-flow: row wrap;
}
main .item .outil-pedagogique .list_documentaire li {
  cursor: pointer;
  padding: 0;
  border-top: 1px solid #00dab0;
}
main .item .outil-pedagogique .list_documentaire li img {
  filter: grayscale(1) contrast(1.3);
  mix-blend-mode: screen;
  height: auto;
  width: 5vw;
  vertical-align: middle;
  display: none;
}
main .item .outil-pedagogique .list_documentaire li:hover {
  background: #00dab0;
  color: #3e0a51;
}
main .item .outil-pedagogique .list_documentaire li:hover .play {
  font-family: "Redaction_10-Bold-CVB";
  font-weight: normal;
  color: white;
  font-size: 1.2em;
  -webkit-text-stroke: 0.004em #3e0a51;
  text-shadow: -0.05em 0.05em #3e0a51;
  padding: 0 0.3em;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
main .item .outil-pedagogique .list_documentaire li:hover .play:hover {
  text-shadow: 0 0 #3e0a51;
  transition: all 0.25s ease-in-out;
}
main .item .outil-pedagogique .list_documentaire li:hover img {
  filter: grayscale(0) contrast(1);
  mix-blend-mode: normal;
}
main .item .outil-pedagogique:hover .list_documentaire {
  display: block;
}
main .item .court-metrage {
  transform-origin: top left;
  color: #3e0a51;
}
main .item .court-metrage .header {
  background: #f0d4fd;
  padding: 0.5em;
}
main .item .court-metrage .header-info {
  display: flex;
}
main .item .court-metrage .play {
  font-family: "Redaction_10-Bold-CVB";
  font-weight: normal;
  color: #3e0a51;
  font-size: 1.8em;
  -webkit-text-stroke: 0.004em #f0d4fd;
  text-shadow: -0.05em 0.05em #f0d4fd;
  padding: 0 0.3em;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
main .item .court-metrage .play:hover {
  text-shadow: 0 0 #3e0a51;
  transition: all 0.25s ease-in-out;
}
main .item .court-metrage .type-media {
  font-size: 0.8em;
}
main .item .documentaire-primaire {
  font-family: "HKGrotesk-Bold";
  overflow-y: hidden;
  background: #00dab0;
}
main .item .documentaire-primaire .play {
  margin: 12.5vw;
  position: absolute;
}
main .item .documentaire-primaire h1 {
  margin-bottom: 0.2em;
}
main .category summary {
  transition: 0.000002s cubic-bezier(0.165, 0.84, 0.44, 1);
  color: #00dab0;
  -webkit-text-stroke: 0.004em #3e0a51;
  text-shadow: -0.05em 0.05em #3e0a51;
  font-family: "HKGrotesk-Bold";
  font-size: 1.15em;
  padding-left: 0.3em;
  margin-top: 12vh;
  cursor: pointer;
  width: max-content;
}
main .category summary:focus {
  outline: none;
  box-shadow: initial;
}
main .category summary:hover {
  text-shadow: 0 0 #3e0a51;
  cursor: pointer;
}
main .category details[open] {
  background: #00dab0;
  z-index: 1000;
  position: fixed;
  height: auto;
  opacity: 0.9;
  overflow-y: auto;
  width: 100vw;
  top: 2vh;
  bottom: 2vh;
  border-radius: 2em #00dab0;
  transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-box-shadow: 10px 10px 80px 100px #00dab0;
  -moz-box-shadow: 10px 10px 80px 100px #00dab0;
  box-shadow: 10px 10px 80px 100px #00dab0;
  margin-top: 10vh;
}
main .category details[open] summary {
  transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-top: 0vh;
  padding-left: 0;
  padding-bottom: 0.575em;
  -webkit-text-stroke: 0em;
  text-shadow: 0 0 #f7f1e7;
  color: #3e0a51;
  background: transparent;
}
main .category details[open] summary:after {
  content: "✕";
  right: 2vw;
  position: absolute;
}
main .category details[open] summary:hover {
  color: white;
}
main .category details[open] summary::-webkit-details-marker, main .category details[open] summary::marker {
  display: none;
  color: transparent;
}
main .category details[open] summary:focus {
  outline: none;
}
main .category details[open] summary:active {
  outline: none;
}
main .category details[open] summary:link {
  outline: none;
}
main .category details {
  transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin: auto;
  margin: 0;
  opacity: 0.9;
  font-size: 1.15em;
  position: absolute;
}
main .category details h1 {
  font-family: "HKGrotesk-Bold";
  text-decoration: underline 0.07em;
  text-decoration-color: currentcolor;
  line-height: normal;
  padding-left: 1.15em;
  position: sticky;
  padding-top: 1.15em;
}
main .category .edito {
  padding-left: 1.15em;
  padding-right: 1.15em;
}
main .category .edito p {
  font-family: "HKGrotesk-Medium";
  font-size: 1.15em;
  line-height: 1.15em;
  padding-top: 0.575em;
}
main .category .edito p a {
  color: #3e0a51;
  text-decoration: underline;
}
main .category .edito p a:hover {
  color: #f7f1e7;
  text-decoration: none;
}
main .category .edito p:nth-of-type(1) {
  text-indent: 0em;
  padding-top: 5vh;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  margin-right: -17px;
  overflow-x: auto;
  padding-left: 17px;
  width: 100vw;
}

.head_close {
  display: flex;
  background: transparent;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;
  padding-right: 1.15em;
}
.head_close .close {
  background: inherit;
  cursor: pointer;
  font-family: "HKGrotesk-Bold";
  font-size: 1.15em;
  margin-top: 0.15em;
  transition: all 0.25s ease-in-out;
  position: absolute;
  z-index: 1;
}
.head_close .close:hover {
  transition: all 0.25s ease-in-out;
}

#box-bottom .head_close {
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 1;
  cursor: pointer;
  font-family: "HKGrotesk-Bold";
  font-size: 0.575em;
  margin-top: 2em;
}

#box-left {
  background: white;
  display: none;
  max-height: 100vh;
  max-width: 40%;
  overflow: hidden;
  z-index: 200;
  transition: transform 250ms cubic-bezier(0, 0.02, 1, 1);
  width: auto;
}

#box-left .open {
  transition: transform 250ms cubic-bezier(0, 0.02, 1, 1);
}

#box-bottom {
  display: none;
  background: #00dab0;
  transition: all 0.15s ease-in-out;
  z-index: 200;
  overflow: hidden;
}
#box-bottom.open_info {
  margin-top: 60%;
}

#box-top {
  display: none;
  background: #3e0a51;
  overflow: hidden;
  z-index: 5;
}
#box-top .head_close {
  color: white;
}

#box-right {
  height: 100vh;
  max-width: 30%;
  min-width: 25%;
  background: #00dab0;
  border-left: 1px solid;
  display: none;
  overflow: hidden;
  z-index: 100;
  width: auto;
}

.box-reader:not(#box-top) > .content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.box-reader:not(#box-top) .header > .content {
  padding: 1.15em 1.15em 1.15em 0;
}

#box-left .header,
#box-top .header {
  margin-bottom: 6em;
  position: sticky;
}
#box-left h1,
#box-top h1 {
  font-family: "HKGrotesk-Bold";
  font-size: 2em;
  text-decoration: underline 0.07em;
  line-height: normal;
  position: sticky;
  top: 0.5em;
  transition: font-size 2s;
}
#box-left details summary::-webkit-details-marker, #box-left details summary::marker,
#box-top details summary::-webkit-details-marker,
#box-top details summary::marker {
  display: none;
}
#box-left details summary:focus,
#box-top details summary:focus {
  outline: none;
}

.reader_texte {
  padding: 1em;
}
.reader_texte .header h1 {
  background: white;
  text-decoration-color: #00dab0 !important;
  top: 0;
}
.reader_texte .date,
.reader_texte span {
  color: #00dab0 !important;
  font-family: "Redaction-Regular";
  font-size: 0.8em;
  line-height: 1.6em;
}
.reader_texte .date:before,
.reader_texte span:before {
  -webkit-text-stroke: 1px #3e0a51;
  color: #00dab0;
  content: "●";
  font-size: 1.3em;
  padding-right: 1vw;
  text-shadow: -2px 2px #3e0a51;
}
.reader_texte ::selection {
  background: #f0d4fd;
}
.reader_texte .content {
  font-family: "HKGrotesk-Medium";
  line-height: 1.265em;
}
.reader_texte .content h2 {
  font-family: "HKGrotesk-Bold";
  font-size: 1.725em;
  line-height: 1.15em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
.reader_texte .content p {
  font-family: "HKGrotesk-Medium";
  font-size: 1em;
  line-height: 1.15em;
  text-indent: 2em;
  width: 90%;
}
.reader_texte .content p em {
  font-family: "HKGrotesk-MediumItalic";
  font-style: normal;
}
.reader_texte .content blockquote {
  color: #00dab0;
  font-family: "Redaction_10-Italic";
  font-size: 1.725em;
  line-height: 1.15em;
  margin: 1em auto;
  text-align: center;
  width: 70%;
}
.reader_texte .content blockquote span {
  font-size: 0.5em;
  vertical-align: super;
}
.reader_texte .content blockquote span:before {
  content: "";
}
.reader_texte .content ol,
.reader_texte .content ul {
  border-radius: 5px;
  border: 1px solid #00dab0;
  box-shadow: -2px 2px #00dab0;
  color: #3e0a51;
  background: #f7f1e7;
  font-family: "Redaction-Regular";
  font-size: 0.9583333333em;
  line-height: 1.4em;
  margin: 2em 0 2em 2em;
  padding: 1em;
  width: 50%;
}
.reader_texte .content ol li,
.reader_texte .content ul li {
  list-style: none;
}
.reader_texte .content img {
  margin-bottom: 2vh;
  margin-top: 2vh;
  width: 95%;
}

.reader_documentaire-primaire {
  padding: 1em;
  background: #3e0a51;
  color: white;
  height: 50vh;
  top: 0;
  width: 100%;
  z-index: 500;
}
.reader_documentaire-primaire .date {
  display: none;
}
.reader_documentaire-primaire h1 {
  text-decoration-color: #00dab0 !important;
}
.reader_documentaire-primaire h2 {
  font-family: "HKGrotesk-Medium";
  width: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: #00dab0;
  font-size: 1em;
}
.reader_documentaire-primaire h3 {
  margin-bottom: 0.575em;
  margin-top: 0.575em;
  width: auto;
  font-family: "HKGrotesk-bold";
}
.reader_documentaire-primaire h3:before {
  -webkit-text-stroke: 1px #00dab0;
  color: white;
  content: "●";
  float: left;
  padding-right: 1vw;
  text-shadow: -2px 2px #00dab0;
  transition: ease-in-out 0.2s;
}
.reader_documentaire-primaire .flex-box {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  margin-right: -17px;
  overflow-x: auto;
  padding-left: 17px;
  width: 100vw;
}
.reader_documentaire-primaire .info-primaires {
  order: 1;
  color: white;
  height: 100%;
  width: 35vw;
}
.reader_documentaire-primaire .info-primaires details {
  font-family: "HKGrotesk-Medium";
  width: 90%;
  line-height: 1.15em;
}
.reader_documentaire-primaire .info-primaires details summary {
  background: white;
  border-radius: 10px;
  border: 1px solid #00dab0;
  box-shadow: -2px 2px #00dab0;
  color: #3e0a51;
  padding: 0.5em;
  font-family: "HKGrotesk-Bold";
  width: 60%;
  cursor: pointer;
  list-style: none;
}
.reader_documentaire-primaire .info-primaires details summary:after {
  content: " ↓";
  color: #00dab0;
  font-size: 1.15em;
  font-family: "HKGrotesk-bold";
}
.reader_documentaire-primaire .info-primaires details summary:hover {
  color: white;
  background: #00dab0;
  border: 1px solid white;
  box-shadow: -2px 2px white;
}
.reader_documentaire-primaire .info-primaires details[open] {
  background: white;
  border-radius: 10px;
  border: 1px solid #00dab0;
  box-shadow: -2px 2px #00dab0;
  color: #3e0a51;
  padding: 1em;
}
.reader_documentaire-primaire .info-primaires details[open] summary {
  background: white;
  border-radius: 10px;
  border: 0 solid #3e0a51;
  box-shadow: 0 0 white;
  color: #3e0a51;
  padding: 0;
  margin-bottom: 1.5vh;
}
.reader_documentaire-primaire .info-primaires details[open] summary:after {
  content: " ↑";
}
.reader_documentaire-primaire .info-primaires details[open] summary:hover {
  color: #00dab0;
}
.reader_documentaire-primaire .info-primaires ul {
  list-style: none;
  font-family: "redaction-regular";
  margin-top: 2vh;
  line-height: 1.3em;
  font-size: 0.7666666667em;
  border-top: 1px solid #00dab0;
  color: #00dab0;
  padding-top: 2vh;
  width: 50%;
}
.reader_documentaire-primaire .info-primaires ul li {
  display: inline;
}
.reader_documentaire-primaire .info-primaires ul li strong {
  text-decoration: underline;
  font-family: "Redaction-Bold";
}
.reader_documentaire-primaire .info-primaires ul li:after {
  content: " | ";
}
.reader_documentaire-primaire .info-primaires ul li:nth-last-of-type(1) {
  display: block;
  margin-top: 2vh;
}
.reader_documentaire-primaire .info-primaires ul li:nth-last-of-type(1) em {
  font-family: "HKGrotesk-BoldItalic";
}
.reader_documentaire-primaire .info-primaires ul li:nth-last-of-type(1):after {
  content: "";
}
.reader_documentaire-primaire .info-primaires ul li:nth-last-of-type(1) {
  content: "";
}
.reader_documentaire-primaire .info-primaires p {
  padding: 0.575em;
  font-family: "HKGrotesk-Medium";
  font-size: 1em;
  line-height: 1.15em;
  text-indent: 2em;
}
.reader_documentaire-primaire .info-primaires p strong {
  font-family: "HKGrotesk-Bold";
  font-weight: normal;
  text-decoration: underline;
}
.reader_documentaire-primaire .iframe_box {
  height: 100%;
  margin-left: 2.3em;
  order: 2;
  width: 50%;
  background: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.reader_documentaire-primaire .iframe_box iframe {
  width: 100%;
  height: 100%;
}

.reader_court-metrage {
  background: #f0d4fd;
  color: #3e0a51;
  padding: 1em;
  height: auto;
}
.reader_court-metrage .header h1 {
  color: #3e0a51;
  z-index: 2;
  background: #f0d4fd;
  font-size: 1.4em;
  line-height: normal;
  text-decoration: underline 0.07em white;
  text-decoration-color: white !important;
  margin-bottom: 2vh;
  top: 0em !important;
  width: 98%;
}
.reader_court-metrage .date {
  display: none;
}
.reader_court-metrage ::selection {
  background: white;
  color: #00dab0;
}
.reader_court-metrage .info-primaires {
  font-family: "HKGrotesk-Medium";
  margin-left: 1vw;
}
.reader_court-metrage .info-primaires strong {
  font-family: "HKGrotesk-Bold";
  font-weight: normal;
}
.reader_court-metrage .info-primaires em {
  font-family: "HKGrotesk-MediumItalic";
  font-style: normal;
}
.reader_court-metrage .info-primaires h2 {
  font-family: "HKGrotesk-Medium";
  width: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: white;
  font-size: 1em;
}
.reader_court-metrage .info-primaires h3 {
  font-family: "HKGrotesk-Bold";
  margin-bottom: 2vh;
  margin-top: 2vh;
  width: 90%;
  line-height: 1.15em;
}
.reader_court-metrage .info-primaires ul {
  list-style: none;
  font-family: "redaction-regular";
  margin-top: 2vh;
  line-height: 1.3em;
  font-size: 0.7666666667em;
  border-top: 1px solid white;
  color: #3e0a51;
  padding-top: 2vh;
  width: 50%;
}
.reader_court-metrage .info-primaires ul li {
  display: inline;
}
.reader_court-metrage .info-primaires ul li strong {
  text-decoration: underline;
  font-family: "Redaction-Bold";
}
.reader_court-metrage .info-primaires ul li:after {
  content: " | ";
}
.reader_court-metrage .info-primaires ul li:nth-last-of-type(1) {
  display: block;
  margin-top: 2vh;
}
.reader_court-metrage .info-primaires ul li:nth-last-of-type(1) em {
  font-family: "HKGrotesk-BoldItalic";
}
.reader_court-metrage .info-primaires ul li:nth-last-of-type(1):after {
  content: "";
}
.reader_court-metrage .info-primaires ul li:nth-last-of-type(1) {
  content: "";
}
.reader_court-metrage .info-primaires p {
  font-family: "HKGrotesk-Medium";
  font-size: 1em;
  line-height: 1.15em;
  margin-bottom: 0.575em;
  text-indent: 2em;
  width: 90%;
}
.reader_court-metrage .info-primaires p a {
  font-family: "HKGrotesk-MediumItalic";
  margin: 0;
  padding: 0;
  text-decoration: underline;
}
.reader_court-metrage .info-primaires p a:hover {
  background: #3e0a51;
  color: #f0d4fd;
  font-family: "HKGrotesk-Medium";
}
.reader_court-metrage .info-primaires p img {
  border-radius: 10px;
  margin-top: 1vh;
  width: 75%;
}
.reader_court-metrage .info-primaires details {
  font-family: "HKGrotesk-Medium";
  width: 90%;
  line-height: 1.15em;
  margin-top: 2vh;
}
.reader_court-metrage .info-primaires details summary {
  background: white;
  border-radius: 10px;
  border: 1px solid #3e0a51;
  box-shadow: -2px 2px #3e0a51;
  color: #3e0a51;
  padding: 0.5em;
  font-family: "HKGrotesk-Bold";
  width: 50%;
  cursor: pointer;
  list-style: none;
}
.reader_court-metrage .info-primaires details summary:after {
  content: " ↓";
  color: #00dab0;
  font-size: 1.15em;
  font-family: "HKGrotesk-bold";
}
.reader_court-metrage .info-primaires details summary:hover {
  color: white;
  background: #3e0a51;
  border: 1px solid white;
  box-shadow: -2px 2px white;
}
.reader_court-metrage .info-primaires details[open] {
  background: white;
  border-radius: 10px;
  border: 1px solid #3e0a51;
  box-shadow: -2px 2px #3e0a51;
  color: #3e0a51;
  padding: 1em;
}
.reader_court-metrage .info-primaires details[open] summary {
  background: white;
  border-radius: 10px;
  border: 0 solid #3e0a51;
  box-shadow: 0 0 white;
  color: #3e0a51;
  padding: 0;
  margin-bottom: 1.5vh;
}
.reader_court-metrage .info-primaires details[open] summary:after {
  content: " ↑";
}
.reader_court-metrage .info-primaires details[open] summary:hover {
  color: #00dab0;
}

.reader_episode-podcast .player_episode-podcast {
  margin: 0;
  width: 100%;
}
.reader_episode-podcast #player_source {
  display: none;
}
.reader_episode-podcast .down {
  height: 5vh;
}
.reader_episode-podcast ::selection {
  background: white;
  color: #00dab0;
}
.reader_episode-podcast .date {
  display: none;
}
.reader_episode-podcast .info {
  display: none;
  height: auto;
  width: 100%;
}
.reader_episode-podcast .info h1 {
  margin-bottom: 0.575em;
  margin-left: 1.15em;
  padding-left: 0.575em;
  top: -1vh;
  width: 100%;
  font-family: "HKGrotesk-Bold";
  font-size: 2em;
  text-decoration: underline 0.07em;
  text-decoration-color: white !important;
  line-height: normal;
  position: sticky;
  top: 0;
}
.reader_episode-podcast .info ul {
  list-style: none;
  font-family: "redaction-regular";
  margin-top: 2vh;
  line-height: 1.3em;
  font-size: 0.7666666667em;
  border-top: 1px solid #3e0a51;
  padding-top: 2vh;
}
.reader_episode-podcast .info ul li {
  display: inline;
}
.reader_episode-podcast .info ul li strong {
  text-decoration: underline;
  font-family: "Redaction-Bold";
}
.reader_episode-podcast .info ul li:after {
  content: " | ";
}
.reader_episode-podcast .info ul li:nth-of-type(1) {
  display: block;
  margin-bottom: 2vh;
}
.reader_episode-podcast .info ul li:nth-of-type(1) em {
  font-family: "HKGrotesk-BoldItalic";
}
.reader_episode-podcast .info ul li:nth-of-type(1):after {
  content: "";
}
.reader_episode-podcast .info .texte h2 {
  font-family: "HKGrotesk-MediumItalic";
  width: auto;
  font-size: 1.2em;
}
.reader_episode-podcast .info .texte a,
.reader_episode-podcast .info .texte h3 {
  width: auto;
  font-family: "HKGrotesk-bold";
}
.reader_episode-podcast .info .texte a::before,
.reader_episode-podcast .info .texte h3::before {
  content: "●";
  color: white;
  -webkit-text-stroke: 1px #3e0a51;
  text-shadow: -2px 2px #3e0a51;
  transition: ease-in-out 0.2s;
  float: left;
}
.reader_episode-podcast .info .texte h3::before {
  padding-right: 1vw;
}
.reader_episode-podcast .info .texte a::before {
  padding-right: 0;
}
.reader_episode-podcast .info .texte a:hover {
  text-decoration: underline #3e0a51 0.05em;
  color: white;
  font-family: "HKGrotesk-Medium";
}
.reader_episode-podcast .info .texte p {
  font-family: "HKGrotesk-Medium";
  font-size: 1em;
  line-height: 1.15em;
  margin-bottom: 0.575em;
  text-indent: 2em;
}
.reader_episode-podcast .info .texte p em {
  font-family: "HKGrotesk-MediumItalic";
  font-style: normal;
}
.reader_episode-podcast .info .texte p strong {
  font-family: "HKGrotesk-Bold";
  font-weight: normal;
}
.reader_episode-podcast .info .texte details {
  font-family: "HKGrotesk-Medium";
  width: 50%;
  line-height: 1.15em;
}
.reader_episode-podcast .info .texte details summary {
  background: white;
  border-radius: 10px;
  border: 1px solid #3e0a51;
  box-shadow: -2px 2px #3e0a51;
  color: #3e0a51;
  padding: 0.5em;
  font-family: "HKGrotesk-Bold";
  width: 50%;
  cursor: pointer;
  list-style: none;
}
.reader_episode-podcast .info .texte details summary:after {
  content: " ↓";
  color: #00dab0;
  font-size: 1.15em;
  font-family: "HKGrotesk-bold";
}
.reader_episode-podcast .info .texte details summary:hover {
  color: white;
  background: #3e0a51;
  border: 1px solid white;
  box-shadow: -2px 2px white;
}
.reader_episode-podcast .info .texte details[open] {
  background: white;
  border-radius: 10px;
  border: 1px solid #3e0a51;
  box-shadow: -2px 2px #3e0a51;
  color: #3e0a51;
  padding: 1em;
}
.reader_episode-podcast .info .texte details[open] summary {
  background: white;
  border-radius: 10px;
  border: 0 solid #3e0a51;
  box-shadow: 0 0 white;
  color: #3e0a51;
  padding: 0;
  margin-bottom: 1.5vh;
}
.reader_episode-podcast .info .texte details[open] summary:after {
  content: " ↑";
}
.reader_episode-podcast .info .texte details[open] summary:hover {
  color: #00dab0;
}
.reader_episode-podcast .info .part-fat {
  width: 50%;
  padding-left: 4%;
  padding-right: 1.15em;
  height: 80%;
  padding-bottom: 20%;
}
.reader_episode-podcast .info .part-fat p {
  font-family: "HKGrotesk-Medium";
  width: 75%;
  height: auto;
}
.reader_episode-podcast .info .part-small {
  height: 80%;
  width: 20%;
  padding-left: 1.15em;
  line-height: 1.15em;
}
.reader_episode-podcast .info .part-small img {
  width: 100%;
  position: sticky;
  top: 0;
}

.videoDocument {
  color: white;
}
.videoDocument .date {
  display: none;
}
.videoDocument h1 {
  background: #3e0a51;
  color: white;
  font-family: "HKGrotesk-Bold";
  font-size: 1.15em;
  padding: 0.575em;
  position: sticky;
  top: -1vh;
}
.videoDocument h2 {
  font-family: "HKGrotesk-BoldItalic";
  font-size: 1.15em;
  line-height: 1.15em;
  padding-bottom: 0.575em;
}
.videoDocument iframe {
  height: 100%;
  margin-left: 2.3em;
  order: 2;
  width: 50%;
}
.videoDocument .info-primaires,
.videoDocument h1,
.videoDocument h2 {
  margin-left: 0.575em;
}
.videoDocument .info-primaires {
  color: white;
  height: 100%;
  order: 1;
  width: 35vw;
}
.videoDocument .info-primaires p {
  font-family: "HKGrotesk-Medium";
  font-size: 1.15em;
  line-height: 1.15em;
  padding: 0.575em;
}
.videoDocument .info-primaires p em {
  font-family: "HKGrotesk-MediumItalic";
  font-weight: normal;
}

.reader_lexique {
  align-self: flex-end;
  right: 0;
  height: 100%;
  background: #00dab0;
  max-width: 100%;
  overflow: hidden;
}
.reader_lexique h1 {
  font-family: "HKGrotesk-Bold";
  font-size: 1.2em;
  font-weight: normal;
  height: 10vh;
}
.reader_lexique h1 span {
  font-family: "HKGrotesk-BoldItalic";
}
.reader_lexique .header {
  display: none;
}
.reader_lexique .lexique {
  background: #00dab0;
}
.reader_lexique .content {
  overflow-y: hidden !important;
}
.reader_lexique details {
  margin-right: -17px;
  padding-right: 17px;
  font-family: "HKGrotesk-Medium";
  margin-left: 5px;
}
.reader_lexique details summary {
  border-bottom: 1px solid white;
  cursor: pointer;
  font-size: 1.15em;
  list-style: none;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
.reader_lexique details summary:hover {
  color: white;
}
.reader_lexique details summary::-webkit-details-marker, .reader_lexique details summary::marker {
  display: none;
}
.reader_lexique details summary:focus {
  outline: none;
}
.reader_lexique details[open] {
  margin-left: 5px;
}
.reader_lexique details[open] summary {
  border-bottom: 0 solid #f0d4fd;
  font-family: "HKGrotesk-Bold";
  outline: none;
  position: fixed;
  width: 100%;
}
.reader_lexique details[open] summary:focus {
  outline: none;
}
.reader_lexique details[open] summary:active {
  outline: none;
}
.reader_lexique details[open] summary:link {
  outline: none;
}
.reader_lexique iframe {
  height: 200px;
  margin-top: 15px;
  padding-left: 0.5vw;
  width: 250px;
}
.reader_lexique iframe:nth-of-type(1) {
  margin-top: 5vh;
}

.reader_ressource {
  background: #f7f1e7;
  z-index: 100;
  padding: 1.2em;
  line-height: 1.4em;
}
.reader_ressource .date {
  display: none;
}
.reader_ressource h2 {
  font-family: "Redaction-Bold";
  font-size: 1.15em;
  margin-top: 2vh;
  text-decoration: underline #00dab0;
}
.reader_ressource h2:nth-of-type(1) {
  margin-top: 2vh;
}
.reader_ressource h3 {
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-family: "Redaction-Regular";
  margin-left: 3vw;
  background: white;
  padding: 1em;
  box-shadow: -2px 2px #3e0a51;
  font-size: 0.9583333333em;
  line-height: 1.4em;
  border: 1px solid #3e0a51;
  border-radius: 5px;
  width: 80%;
}
.reader_ressource ul {
  list-style: none;
  font-size: 0.9583333333em;
}
.reader_ressource ul li {
  font-family: "Redaction-Regular";
  margin-top: 1vh;
  padding: 0;
}
.reader_ressource ul li::before {
  content: "●";
  color: #00dab0;
  -webkit-text-stroke: 1px #3e0a51;
  text-shadow: -2px 2px #3e0a51;
  transition: ease-in-out 0.2s;
  float: left;
  padding-right: 1vw;
}
.reader_ressource ul li:hover:before {
  content: "●";
  color: #3e0a51;
  -webkit-text-stroke: 1px #00dab0;
  text-shadow: -2px 2px #00dab0;
  transition: ease-in-out 0.2s;
}
.reader_ressource ul li a {
  font-family: "Redaction-Bold";
  text-decoration: underline;
}
.reader_ressource ul li a:hover {
  color: #00dab0;
  text-decoration: none;
}

.player {
  font-family: "HKGrotesk-Bold";
}

.open {
  transition: 0.05s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: block !important;
}

.open_bottom .flexcentre {
  height: calc(100% - 50px);
}
.open_bottom.open_bottom_info .flexcentre {
  height: 50%;
}
.open_bottom.open_bottom_info .info {
  display: block;
}

.player_podcast h1 {
  font-family: "HKGrotesk-Bold";
}

.btn_info:hover {
  color: white;
  cursor: pointer;
}

.audio-player {
  height: 50px;
  width: 100vw;
  font-family: arial;
  color: white;
  font-size: 0.75em;
  overflow: hidden;
  display: grid;
  grid-template-rows: 6px auto;
  top: 95vh;
  background: #00dab0;
}
.audio-player .timeline {
  background: white;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.audio-player .timeline .progress {
  background: #3e0a51;
  width: 0%;
  height: 100%;
  transition: 0.25s;
}
.audio-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
  color: #3e0a51;
  width: 90vw;
}
.audio-player .controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-player .controls .toggle-play.play {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 7px solid #0000;
  border-left: 13px solid white;
}
.audio-player .controls .toggle-play.play:hover {
  transform: scale(1.1);
}
.audio-player .controls .toggle-play.pause {
  height: 15px;
  width: 20px;
  cursor: pointer;
  position: relative;
}
.audio-player .controls .toggle-play.pause:before {
  position: absolute;
  top: 0;
  left: 0px;
  background: white;
  content: "";
  height: 15px;
  width: 3px;
}
.audio-player .controls .toggle-play.pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: white;
  content: "";
  height: 15px;
  width: 3px;
}
.audio-player .controls .toggle-play.pause:hover {
  transform: scale(1.1);
}
.audio-player .controls .time {
  display: flex;
}
.audio-player .controls .time > * {
  padding: 2px;
}
.audio-player .controls .name {
  font-weight: bold;
}
.audio-player .controls .volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.audio-player .controls .volume-container .volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}
.audio-player .controls .volume-container .volume-button .volume {
  transform: scale(0.7);
}
.audio-player .controls .volume-container .volume-slider {
  position: absolute;
  left: -3px;
  top: 18px;
  z-index: -1;
  width: 80px;
  height: 5px;
  background: white;
  transition: 0.25s;
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
  background: #3e0a51;
  height: 100%;
  width: 75%;
}

/*# sourceMappingURL=style.css.map */
