@font-face {
  font-family: "Redaction_10-Bold-CVB";
  src: url("../font/redaction/webfonts/Redaction35-Bold-CVB.ttf"); }
@font-face {
  font-family: "Redaction_10-Bold";
  src: url("../font/redaction/webfonts/Redaction_10-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_10-Italic";
  src: url("../font/redaction/webfonts/Redaction_10-Italic.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_10-Regular";
  src: url("../font/redaction/webfonts/Redaction_10-Regular.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_20-Bold";
  src: url("../font/redaction/webfonts/Redaction_20-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_20-Italic";
  src: url("../font/redaction/webfonts/Redaction_20-Italic.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_20-Regular";
  src: url("../font/redaction/webfonts/Redaction_20-Regular.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_35-Bold";
  src: url("../font/redaction/webfonts/Redaction_35-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_35-Italic";
  src: url("../font/redaction/webfonts/Redaction_35-Italic.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_35-Regular";
  src: url("../font/redaction/webfonts/Redaction_35-Regular.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_50-Bold";
  src: url("../font/redaction/webfonts/Redaction_50-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_50-Italic";
  src: url("../font/redaction/webfonts/Redaction_50-Italic.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_50-Regular";
  src: url("../font/redaction/webfonts/Redaction_50-Regular.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_70-Bold";
  src: url("../font/redaction/webfonts/Redaction_70-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_70-Italic";
  src: url("../font/redaction/webfonts/Redaction_70-Italic.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_70-Regular";
  src: url("../font/redaction/webfonts/Redaction_70-Regular.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_100-Bold";
  src: url("../font/redaction/webfonts/Redaction_100-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_100-Italic";
  src: url("../font/redaction/webfonts/Redaction_100-Italic.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction_100-Regular";
  src: url("../font/redaction/webfonts/Redaction_100-Regular.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction-Bold";
  src: url("../font/redaction/webfonts/Redaction-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction-Italic";
  src: url("../font/redaction/webfonts/Redaction-Italic.woff2") format("woff2"); }
@font-face {
  font-family: "Redaction-Regular";
  src: url("../font/redaction/webfonts/Redaction-Regular.woff2") format("woff2"); }
@font-face {
  font-family: "HKGrotesk-Medium";
  src: url("../font/HKGrotesk-Medium.otf"); }
@font-face {
  font-family: "HKGrotesk-MediumItalic";
  src: url("../font/HKGrotesk-MediumItalic.otf"); }
@font-face {
  font-family: "HKGrotesk-Bold";
  src: url("../font/HKGrotesk-Bold.otf"); }
@font-face {
  font-family: "HKGrotesk-BoldItalic";
  src: url("../font/HKGrotesk-BoldItalic.otf"); }

/*# sourceMappingURL=variables.css.map */
