/* Error: Undefined variable.
 *   ,
 * 8 |   background: $vert;
 *   |               ^^^^^
 *   '
 *   Documents/travail/2022/CVB/www.nosfuturs/theme/static/css/base.scss 8:15  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 8 \2502    background: $vert;\a   \2502                ^^^^^\a   \2575 \a   Documents/travail/2022/CVB/www.nosfuturs/theme/static/css/base.scss 8:15  root stylesheet";
}
