/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $vert;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-track:hover {
  background: $rose;
}

.scroller {
  overflow-y: scroll;
  scrollbar-color: #f1f1f1 $vert;
  scrollbar-width: 5px;
  &:hover{
    scrollbar-color: #f1f1f1 $rose;
  }
}



body {
  width: 100vw;
  height: 100%;
  font-family: $fontReg;
  font-size: $size;
  margin: 0;
  padding: 0;
  color: $color-txt;
  background:  #d9e8ff;
  background-repeat: repeat;
  background-image: url("../image/grid-2-clair.png");
  overflow: hidden;
  ::selection {
    background: white;
    color: $color-podcast;
  }
  .flexdetout {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    .reader-top {
      min-width: 100%;
      align-self: stretch;
      min-height: 10%;
    }
    .flexcentre {
      width: 100%;
      display: flex;
      // min-height: 50%;
      align-self: stretch;

      .reader-left {
        order: 1;
        flex: 1.5 1 auto;
      }
      .reader-right {
        order: 3;
        flex: auto;
      }
      .main {
        order: 2;
        flex: 4 1 auto;
      }
    }
    .readerbot {
      width: 100%;
      min-height: 10%;
      align-self: stretch;
    }
  }


  h1,
  h2,
  h3,{
    font-weight: normal;
  }

  #box-edito {
			display: none;
    	width: 100%;
    	height: 100%;
    	position: fixed; 
    	z-index: 5;
      left: 0;
      top: 0;
      backdrop-filter: grayscale(1);

      .head_close{
        .close{
          margin-top: 0.15em;
          font-family: "HKGrotesk-Bold";
          margin-left: 0.4em;
          margin-right: 30vw ;
          color: $violet;
          &:hover{
            color:white;
          }
        }
      }

    .contener {

    .content_edito{
      font-size: $size/1.2;
      line-height: 1.4em;
      position: fixed;
      left: 30vw;
      overflow-x: hidden;
      overflow-y: auto;
      top: 0;
      background: $vert;
      width: 40vw;
      height: 100vh;
      overflow: auto;
      cursor: default;

    .text {
      margin-right: 3vw;
      margin-left: 3vw;

      h1{
        font-family: "Redaction-Bold";
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 0.2em;
      }
      h2{
        font-family: "Redaction-Italic";
        margin-top: 0;
        font-size: 2em;
        font-weight: normal;
      }
      h3{
        font-family: "Redaction-Bold";
        color: $violet;
        font-weight: normal;
        margin-top: 1vh;
        margin-bottom: 1vh;
      }
      h4{
        font-family: "Redaction-Bold";
        text-decoration: underline;
        color: $violet;
        font-weight: normal;
        margin-top: 1vh;
        margin-bottom: 1vh;
      }

      p:nth-of-type(1) {
        text-indent: 0;
        margin-top: 1.4vw;
      }
      p{
        text-indent: 2vw;
        margin-bottom: 0;
        margin-top: 0;

        a{
          color: $violet;
          text-decoration: underline;
          &:hover{
            color: white;
          }
        }
        sup{
          vertical-align: super;
          color: white;
          font-size: $size/2;
          a{
            color:$vert;
            text-decoration: none;
          }
        }
        em{
          font-family: "Redaction-Italic";
          font-style: normal;
        }
      }
      p:nth-last-of-type(1){
        margin-bottom: 8vh;
      }
      strong {
        font-family: "Redaction-Bold";
        color: $violet;
      }
      .footnote{
        hr{
          color: $violet;
        }
        ol{
          margin-left: 2em;
          font-size: 0.7em;
          margin-bottom: 2vh;
          li{
            list-style: decimal;
            &::marker{
              color: white;
            }
            a{
              color: white;
            }
          }
        }
      }
    }

    .colophon{
      h3{
        font-family: "Redaction-Bold";
        margin-top: 2vh;
      }
      a{
        color: $violet;
      }
      p{
        text-indent: 0px;
      }
      img{
        display: inline-flex;
        width: 6vw;
        padding-left: 3vw;
        vertical-align: middle;
      }
      ul{
        list-style: none;
        display: block;
        color: $violet;
        font-size: 0.8em;
        line-height: 1.5em;
        margin-bottom: 2vh;
        li{
          a{
            color:$violet;
            &:hover{
              color: white;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .close {
      position: absolute;
      margin-left: 38vw;
      font-size: $size;
      position: sticky;
      top: 0px;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }

    .reseau {
      position: fixed;
      bottom: 0;
      padding-bottom: 2.5vh;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      display: flex;
      list-style: none;
      background: $vert;
      margin-bottom: 0px;
      width: 40vw;
      padding-left: 0;

        a {
          color: $color-txt;
          text-decoration: none;
          margin-left: 0.1em;
          margin-right: 0.1em;
          &:hover {
            color: white;
            text-decoration: underline;
          }
        }

    }

    .intro{
      visibility: hidden;
    }

    .EditoNav {
      margin-top: 2vh;
      margin-bottom: 3em;
      list-style: none;

        li {
          color: #3e0a51;
          font-family: "Redaction-Bold";
          cursor: pointer;

          a {
            margin: 0.2em;
            padding: 0.7em;
            transition: ease-in-out 0.2s;
            border: 1px solid $violet;
            border-radius: 100%;
            text-decoration: none;

            &:hover {
              box-shadow: -2px 2px $color-txt;
              transition: ease-in-out 0.2s;
              color: $vert;
              background: white;
            }

            &:focus {
              box-shadow: -2px 2px $color-txt;
              background: white;
            }
          }
        }

    }

    ul {
      display: inline-flex;
      justify-content: flex-start;

      li {
        padding-left: $size;
        a {
          color: $color-txt;
          position: relative;
        }
      }

      p {
        font-size: $size;
        line-height: $size;
        text-indent: 2em;
        margin-top: 0;

        a {
          text-decoration: underline;
          text-shadow: -2px 2px $color-podcast;
        }
      }
      }
    }
    }
  }

  .header {
    display: inline;
  }

.menu {
    width: 100%;
    background: transparent;
    font-family: "Redaction_10-Bold-CVB";
    font-weight: normal;
    color: $vert;
    font-size: 5em;
    -webkit-text-stroke: 0.004em #3e0a51;
    text-shadow: -0.05em 0.05em #3e0a51;
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
		position: relative;


    &:hover {
      text-shadow: 0 0 #3e0a51;
      transition: all 0.25s ease-in-out;
      cursor: pointer;
    }
  }
    .menu-bottom,
    .menu-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
			// .menu-shadow {
			// 	box-shadow: 0px -20px 20px #f7f1e7;
			// }
    }
    .menu-top {
      align-items: start;
      height: 50%; 
			// .menu-shadow {
			// 	box-shadow: 0px 20px 20px #f7f1e7;
			// }

    }

    .menu-bottom {
      align-items: flex-end;
      height: 50%;

    }
		.menu-shadow {
			display: flex;
			justify-content: space-between;
			width: 100%;
			// z-index: 1;
		}

    .title {
      padding: 0 0.3em;
			z-index: 1;

      &:nth-of-type(2) {
        text-align: right;
      }
    }

}
