.flex-box {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	margin-right: -17px;
	overflow-x: hidden;
	padding-left: 17px;
	width: 100vw;
	overflow-y: scroll;
}

.head_close {
  display: flex;
  background: transparent;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;
  padding-right: 1.15em;
	margin-bottom: -32px;

  .close, .fullscreen {
    background: inherit;
    cursor: pointer;
    font-size: 22px;
    transition: all 0.25s ease-in-out;
    // position: absolute;
    z-index: 2;
    &:hover {
      transition: all 0.25s ease-in-out;
      color: $vert;
    }
  }

	.close {
    margin-top: 0.15em;
    font-family: "HKGrotesk-Bold";
    margin-left: 0.4em;
	}

  .fullscreen{
    margin-top: 0.15em;
    font-family: "HKGrotesk-Bold";
    margin-right: 0.4em;
  }
  .coda{
    font-family: "HKGrotesk-Bold";
  }


}

#box-bottom {
  .head_close {
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 2;
    cursor: pointer;
    font-family: "HKGrotesk-Bold";
    font-size: 22px;
    margin-top: 0.5em;
    .close:hover,
    .fullscreen:hover{
      color: white;
    }
    .coda:hover{
      color: $violet;
    }
  }
	.prev {
		margin-right: 1em;
	}
}
//////////
// BOXs //
//////////

#box-left {
  background: white;
  display: none;
  max-height: 100vh;
	max-width: 40%;
  overflow: hidden;
  z-index: 2;
  width: auto;
  .coda{
    margin-top: 0.20em;
    z-index: 1;
  }
}

#box-bottom {
  display: none;
  background: $color-podcast;
  transition: all 1s ease-in-out;
  z-index: 2;
  overflow: hidden;
  &.open_info {
    margin-top: 60%;
  }
}

#box-top {
  display: none;
  background: $color-txt;
  overflow: hidden;
  max-height: 50%;
  z-index: 5;
	max-height: 50%;

  .head_close {
		color: white;
    width: 99%;
    /* background: red; */
    z-index: 12;
    position: absolute;
    .close:hover,
    .fullscreen.hover{
      color: $vert;
    }
  }
	.content {
		// height: 0px;
	}
  .coda{
    margin-top: 0.20em;
    z-index: 1;
    &:hover{
      color: white;
    }
  }
}

#box-right {
  height: 100vh;
  max-width: 30%;
  min-width: 25%;
  background: #00dab0;
  border-left: 1px solid;
  display: none;
  overflow: hidden;
  z-index: 100;
  width: auto;
  .head_close {
    .close:hover,
    .fullscreen:hover{
      color: $vert;
    }
    .coda{
      color: $violet;
      margin-top: 0.20em;
      z-index: 1;

    }
  }
}

#box-edito {
	display:none;
}

#box-left.box-reader.reader-left{
  animation: slideLeft-in 0.5s forwards;
  -webkit-animation: slideLeft-in 0.5s forwards;
}
// #box-left.box-reader.reader-left.open{
//   animation: slide-out 0.5s forwards;
//   -webkit-animation: slide-out 0.5s forwards;
// }
@keyframes slideLeft-in {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}
@-webkit-keyframes slideLeft-in {
    0% { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0%); }
}
#box-right.box-reader.reader-right{
  background: white;
  animation: slideRight-in 0.5s forwards;
  -webkit-animation: slideRight-in 0.5s forwards;
}
@keyframes slideRight-in {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}
@-webkit-keyframes slideRight-in {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(0%); }
}
#box-top.box-reader.reader-top{
  animation: slideTop-in 0.5s forwards;
  -webkit-animation: slideTop-in 0.5s forwards;
}
@keyframes slideTop-in {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}
@-webkit-keyframes slideTop-in {
    0% { -webkit-transform: translateY(-100%); }
    100% { -webkit-transform: translateY(0%); }
}
#box-bottom.box-reader.reader-bottom{
  animation: slideBottom-in 0.5s forwards;
  -webkit-animation: slideBottom-in 0.5s forwards;
}
@keyframes slideBottom-in {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}
@-webkit-keyframes slideBottom-in {
    0% { -webkit-transform: translateY(100%); }
    100% { -webkit-transform: translateY(0%); }
}

.box-reader:not(#box-top) {
  > .content {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
		width: 100%;
  }

  .header > .content {
    padding: 1.15em 1.15em 1.15em 0;
  }
}
//////////////////
// HEAD ARTICLE //
//////////////////
#box-left, #box-right{
  .header{
    position: sticky;
    height: auto;
    margin-bottom: 1em;
    top: 0vh;
    display: block;
  }
}
#box-top{
  .header{
    top: 0px;
		position: absolute;
		background: #3e0a51;
  }
}
#box-left{
	h1{
		padding-bottom: 20px;
	}
}
#box-left,
#box-top {


  h1 {
    font-family: 'HKGrotesk-Bold';
    font-size: 2em;
    text-decoration: underline 0.07em;
    line-height: normal;
    margin-bottom: 0;
    position: sticky;
    font-weight: normal;
    transition: font-size 2s;
  }

  details {
    summary {
      &::-webkit-details-marker,
      &::marker {
        display: none;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.open{
  transition: ease-in-out .2s;
}
/////////////
// READERS //
/////////////

.box-fullscreen .background-content {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding-bottom: -4em;
}

.background-content_texte {
	background: $beige;
}

.background-content_court-metrage,
.background-content_court-metrage-2,
.background-content_cycle-conferences,
.background-content_outil-pedagogique{
	background: $color-blue;
}
.background-content_ressource {
	background: $vert;
}

.reader_texte {
  padding: 1em;
  background: white;
  .header h1 {
    background: white;
    text-decoration-color: $color-podcast !important;
    top: 0;
    margin-top: 0;
  }

  .date,
  span {
    color: $color-podcast !important;
    font-family: "Redaction-Regular";
    font-size: 0.8em;
    line-height: 1.6em;

    &:before {
      -webkit-text-stroke: 1px $color-txt;
      color: $color-podcast;
      content: "•";
      font-family: 'HKGrotesk-Medium';
      font-size: 2em;
      padding-right: 1vw;
      text-shadow: -2px 2px $color-txt;
    }
  }


  .content {
    font-family: "HKGrotesk-Medium";
    line-height: $size*1.10;

    h2 {
      font-family: "HKGrotesk-Bold";
      font-size: $size*1.5;
      line-height: $size;
      margin-bottom: 0.5em;
      margin-top: 1em;
    }

    p {
      font-family: "HKGrotesk-Medium";
      font-size: 1em;
      line-height: $size;
      text-indent: 2em;
      width: 90%;
      margin: 0px;

      &:nth-of-type(1){
        text-indent: 0px;
      }

      sup{
        vertical-align: super;
        color: $color-podcast;
        font-size: $size/2;
        a{
          color: $vert;
          text-decoration: none;
        }
      }
      em {
        font-family: "HKGrotesk-MediumItalic";
        font-style: normal;
      }
    }

    blockquote {
      color: $color-podcast;
      font-family: "Redaction-Italic";
      font-size: $size*1.5;
      line-height: $size;
      margin: 1em auto;
      text-align: center;
      width: 70%;

      span {
        font-size: 0.5em;
        vertical-align: super;

        &:before {
          content: "";
        }
      }
    }

    ul {
      border-radius: 5px;
      border: 1px solid $color-podcast;
      box-shadow: -2px 2px $color-podcast;
      color: $color-txt;
      background: $color-fond;
      font-family: "Redaction-Regular";
      font-size: $size/1.2;
      line-height: 1.4em;
      margin: 2em 0 2em 2em;
      padding: 1em;
      width: 50%;

      li {
        list-style: none;
      }
    }

    .footnote{
      hr{
        color: $color-txt;
      }
      ol{
        margin-left: 2em;
        font-size: 0.7em;
        li{
          list-style: decimal;
          &::marker{
            color: $color-podcast;
          }
          a{
            color: $color-podcast;
          }
        }
      }
    }

    img {
      margin-bottom: 2vh;
      margin-top: 2vh;
      width: 95%;
    }
  }
}

.reader_documentaire-primaire {
  padding: 1em;
  background: #3e0a51;
  color: white;
  height: 50vh;
  top: 0;
  width: 100%;
  z-index: 2;
	overflow-y: scroll;

  .header{
    width: 50%;
  }

  .date {
    display: none;
  }

  h1 {
    text-decoration-color: $color-podcast !important;
    position: sticky;
    display: inline-block;
    font-weight: normal;
    margin-top: 0;
  }

  h2 {
    font-family: "HKGrotesk-Medium";
    width: auto;
    margin-top: 2vh;
    padding-left: 2em;
    margin-bottom: 2vh;
    color: $color-podcast;
    font-size: 1em;
    display: inline-block;
  }

  h3 {
    margin-bottom: $size/2;
    margin-top: $size/2;
    width: auto;
    font-family: "HKGrotesk-bold";

    &:before {
      -webkit-text-stroke: 1px $color-podcast;
      color: white;
      content: "•";
      font-size: 2em;
      font-family: 'HKGrotesk-Medium';
      float: left;
      padding-right: 1vw;
      text-shadow: -2px 2px $color-podcast;
      transition: ease-in-out 0.2s;
    }
  }

  .flex-box {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-right: -17px;
    overflow-x: auto;
    padding-left: 17px;
    margin-top: 5%;
    width: 100vw;
  }

  .info-primaires {
		order: 1;
    color: white;
    height: 100%;
    width: 40vw;

    details {
      font-family: "HKGrotesk-Medium";
      width: 90%;
      line-height: $size;
      margin-top: 2vh;

      &:nth-of-type(1){
        color: white !important;
        background: $color-txt !important;
        summary{
          background: $color-txt!important;
          border-radius: 0px!important;
          border: 0px solid $color-txt!important;
          box-shadow: 0px 0px $color-txt!important;
          color: white!important;
          padding: 0em!important;
          &:hover{
            text-decoration: underline;
          }
        }
        &[open]{
          color: white !important;
          background: $color-txt !important;
          border-radius: 0px!important;
          border: 0px solid $color-txt!important;
          box-shadow: 0px 0px $color-txt!important;
          padding: 0em!important;
        }
      }
      summary {
        background: white;
        border-radius: 10px;
        border: 1px solid $color-podcast;
        box-shadow: -2px 2px $color-podcast;
        color: $color-txt;
        padding: 0.5em;
        font-family: "HKGrotesk-Bold";
        width: 60%;
        cursor: pointer;
        list-style: none;

        &:after {
          content: " ↓";
          color: $color-podcast;
          font-size: $size;
          font-family: "HKGrotesk-bold";
        }

        &:hover {
          color: white;
          background: $color-podcast;
          border: 1px solid white;
          box-shadow: -2px 2px white;
        }
      }
    }

    details[open] {
      background: white;
      border-radius: 10px;
      border: 1px solid $color-podcast;
      box-shadow: -2px 2px $color-podcast;
      color: $color-txt;
      padding: 1em;

      a{
        color: $violet;
      }
      summary {
        background: white;
        border-radius: 10px;
        border: 0 solid $color-txt;
        box-shadow: 0 0 white;
        color: $color-txt;
        padding: 0;
        margin-bottom: 1.5vh;

        &:after {
          content: " ↑";
        }

        &:hover {
          color: $color-podcast;
        }
      }
    }

    ul {
      list-style: none;
      font-family: "redaction-regular";
      margin-top: 2vh;
      line-height: 1.3em;
      font-size: $size/1.5;
      border-top: 1px solid $color-podcast;
      color: $color-podcast;
      padding-top: 2vh;
      padding-left: 0px;
      width: 50%;
      height: 100%;

      li {
        display: inline;

        strong {
          font-family: "Redaction-Bold";
          font-variant: small-caps;
          text-transform: lowercase;
          color: white;
          letter-spacing: 0.02em;
        }

        &:after {
          content: " | ";
        }

        &:nth-last-of-type(1) {
          display: block;
          margin-top: 2vh;

          em {
            font-family: "HKGrotesk-BoldItalic";
            font-style: normal;
          }

          &:after {
            content: "";
          }
        }
        &:nth-last-of-type(1){
          &:after {
            content: " ";
          }
        }
        a{
          color: $vert;
          text-decoration: underline;
          &:hover{
            color:white;
            text-decoration: none;
          }
        }
      }
    }
  }

  .info-primaires p {
    padding-left: 0.575em;
    padding-right: 0.575em;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "HKGrotesk-Medium";
    font-size: 1em;
    line-height: $size;
    text-indent: 2em;

    a{
      text-decoration: underline;
      &:hover{
        color: $color-podcast;
      }
    }

    strong {
      font-family: "HKGrotesk-Bold";
      font-weight: normal;
      text-decoration: underline;
    }
  em{
    font-family: "HKGrotesk-MediumItalic";
    color: $rose;
    font-style: normal;
  }
}

	iframe {
		position: fixed;
		order: 2;
		top:0;
		right: 0;
	}
	// }
}

.reader_cycle-conferences,
.reader_outil-pedagogique,
.reader_court-metrage,
.reader_court-metrage-2 {
  background: $color-txt-b;
  color: #3e0a51;
  padding: 1em;
  min-height: 100%;
  height: auto;
  z-index: 2;

  .header{
    background: $color-txt-b;

        h1 {
          color: $color-txt;
          font-size: 1.4em;
          line-height: normal;
          text-decoration: underline 0.07em white;
          text-decoration-color: white !important;
          margin-bottom: 2vh;
          margin-top: 0;
          width: auto;
          display: inline-flex;
          font-weight: normal;
        }

        h2 {
          font-family: "HKGrotesk-Medium";
          width: auto;
          margin-top: 2vh;
          padding-left: 2em;
          margin-bottom: 2vh;
          padding-left: 2em;
          color: white;
          font-size: 1em;
          display: inline-flex;
        }
  }

  .date {
    display: none;
  }

  .info-primaires {
    font-family: "HKGrotesk-Medium";
    margin-left: 1vw;

    strong {
      font-family: "HKGrotesk-Bold";
      font-weight: normal;
    }
    em {
      font-family: "HKGrotesk-MediumItalic";
      font-style: normal;
    }

    h3,
    h4{
      a{
        color: $violet;
        &:hover{
          color: white;
        }
      }
    }

    h3 {
      font-family: "HKGrotesk-Bold";
      margin-bottom: 2vh;
      margin-top: 2vh;
      width: 90%;
      line-height: 1.15em;
    }

    h4{
      font-weight: normal;
      width: 60%;
      margin-top: 1vh;
      border-top: 1px solid;
      padding-top: 2vh;
      line-height: 1.15em;
      &:before{
        content: "•";
        font-family: 'HKGrotesk-Medium';
        color: white;
        -webkit-text-stroke: 1px #3e0a51;
        text-shadow: -2px 2px #3e0a51;
        float: left;
        font-size: 2em;
        padding-right: 0.5em;
      }
      &:nth-last-of-type(1){
        border-bottom: 0px;
      }
      strong{
        font-family: "HKGrotesk-Bold";
        text-decoration: underline;
        text-decoration-color: white;
      }
    }


    ul {
      list-style: none;
      font-family: "redaction-regular";
      margin-top: 2vh;
      line-height: 1.3em;
      font-size: $size/1.5;
      border-top: 1px solid white;
      color: $color-txt;
      padding-top: 2vh;
      width: 60%;
      padding-left: 0;

      li {
        display: inline;

        strong {
          font-family: "Redaction-Bold";
          font-variant: small-caps;
          text-transform: lowercase;
          color: $color-podcast;
          letter-spacing: 0.02em;
        }

        &:before {
          content: " | ";
        }

        &:nth-last-of-type(1) {
          display: block;
          margin-top: 2vh;

          em {
            font-family: "HKGrotesk-BoldItalic";
            font-style: normal;
          }

          &:after {
            content: "";
          }
        }
        &:nth-last-of-type(1){
          &:after {
            content: " ";
          }
        }
      }
    }

    p {
      font-family: "HKGrotesk-Medium";
      font-size: 1em;
      line-height: 1.15em;
      margin-bottom: 0em;
      margin-top: 0;
      text-indent: 2em;
      width: 90%;

      &:nth-of-type(1){
        margin-top:3vh;
        text-indent: 0px;
      }

      a {
        font-family: "HKGrotesk-MediumItalic";
        margin: 0;
        padding: 0;
        text-decoration: underline;

        &:hover {
          background: $color-docu;
          color: #f0d4fd;
          font-family: "HKGrotesk-Medium";
        }
        em{
          color: $violet !important;
          &:hover{
            color: white!important;
          }
        }
      }

      img {
        border-radius: 10px;
        margin-top: 1vh;
        width: 75%;
      }

      .partenaires{
        filter: grayscale(1);
      }
    }

    details {
      font-family: "HKGrotesk-Medium";
      width: 90%;
      line-height: $size;
      margin-top: 2vh;

      summary {
        background: white;
        border-radius: 10px;
        border: 1px solid $color-txt;
        box-shadow: -2px 2px $color-txt;
        color: $color-txt;
        padding: 0.5em;
        font-family: "HKGrotesk-Bold";
        width: 50%;
        cursor: pointer;
        list-style: none;

        &:after {
          content: " ↓";
          color: $color-podcast;
          font-size: $size;
          font-family: "HKGrotesk-bold";
        }

        &:hover {
          color: white;
          background: $color-txt;
          border: 1px solid white;
          box-shadow: -2px 2px white;
        }
      }
    }

    details[open] {
      background: white;
      border-radius: 10px;
      border: 1px solid $color-txt;
      box-shadow: -2px 2px $color-txt;
      color: $color-txt;
      padding: 1em;

      a{
        color: $violet;
        &:hover{
          color: $rose;
          background: white;
          text-decoration: none;
        }
      }

      summary {
        background: white;
        border-radius: 10px;
        border: 0 solid $color-txt;
        box-shadow: 0 0 white;
        color: $color-txt;
        padding: 0;
        margin-bottom: 1.5vh;

        &:after {
          content: " ↑";
        }

        &:hover {
          color: $color-podcast;
        }
      }
    }
    .capsules{
      margin-top: 2vh;
      margin-bottom: 2vh;
      border-radius: 15px;
      display: block;
      &:nth-of-type(odd){
        right:0;
      }

    }
  }
}

.reader_episode-podcast {
  .player_episode-podcast {
    margin: 0;
    width: 100%;
  }

	.shadow-box  {
		position: fixed;
    margin-top: 60px;
    /* background: red; */
    width: 100%;
    height: 150px;
    z-index: 10;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, $vert 90%);
	}

  #player_source {
    display: none;
  }

  .down {
    height: 5vh;
  }


  .date {
    display: none;
  }

  .info {
    // display: none;
		overflow-y: scroll;
    width: 100%;
		height: calc(100% - 50px);

    h1 {
      margin-bottom: $size/2;
      margin-left: $size;
      padding-left: $size/2;
      margin-top: 0;
      top: -1vh;
      width: 100%;
      font-weight: normal;
      font-family: 'HKGrotesk-Bold';
      font-size: 1.75em;
      text-decoration: underline 0.07em;
      text-decoration-color: white !important;
      line-height: normal;
      // position: sticky;
      top: 0;

      em{
        font-family: "HKGrotesk-MediumItalic";
        font-style: normal;

        sup{
          vertical-align: super;
          font-size: $size/2;
          padding-left: 0.5em;
        }
      }
    }
    .link-logo{
      margin-left: 1.15em;
      padding-left: 1.15em;
			img {
				height: 30px;
				margin-right: 10px
			}
      .deezer{
        width: 2.25%;
        height: 5.5%;
      }
      .apple{
          width: 2%;
          height: 6%;
      }
      .spoty, .soundcloud, .rss{
          width: 3%;
          height: auto;
      }
      svg{

        fill:#3e0a51;
        padding-left: 0.575em;
        &:hover{
         fill: white;
        }
      }
    }
    ul {
      list-style: none;
      font-family: "redaction-regular";
      margin-top: 2vh;
      line-height: 1.3em;
      font-size: $size/1.5;
      border-top: 1px solid $color-txt;
      padding-top: 2vh;
      padding-left: 0px;

      li {
        display: inline;

        strong {
          font-family: "Redaction-Bold";
          font-variant: small-caps;
          text-transform: lowercase;
          color: white;
          letter-spacing: 0.02em;
        }

        &:after {
          content: " | ";
        }

        &:nth-last-of-type(1) {
          display: block;
          margin-top: 2vh;

          em {
            font-family: "HKGrotesk-BoldItalic";
            font-style: normal;
          }

          a{
            color: $violet;
            text-decoration: underline;
            &:hover{
              color: white;
              text-decoration: none;
            }
          }
          &:after {
            content: "";
          }
        }
      }
    }

    .texte {

      h2 {
        font-family: "HKGrotesk-MediumItalic";
        width: auto;
        font-size: 1.2em;
      }

      a,
      h3 {
        width: auto;
        font-family: "HKGrotesk-bold";
      }

      a::before,
      h3::before {
        content: "•";
        font-family: 'HKGrotesk-Medium';
        color: white;
        font-size: 2em;
        -webkit-text-stroke: 1px #3e0a51;
        text-shadow: -2px 2px #3e0a51;
        transition: ease-in-out 0.2s;
        float: left;
      }

      h3::before {
        padding-right: 1vw;
      }

      a::before {
        padding-right: 0;
      }

      a:hover {
        text-decoration: underline $color-txt 0.05em;
        color: white;
        font-family: "HKGrotesk-Medium";
      }

      p {
        font-family: "HKGrotesk-Medium";
        font-size: 1em;
        line-height: $size;
        margin-bottom: 0px;
        margin-top: 0px;
        text-indent: 2em;

        &:nth-of-type(1){
          text-indent: 0px;
        }
        em {
          font-family: "HKGrotesk-MediumItalic";
          font-style: normal;
        }

        strong {
          font-family: "HKGrotesk-Bold";
          font-weight: normal;
        }
      }

      details {
        font-family: "HKGrotesk-Medium";
        width: 50%;
        line-height: $size;
        margin-top: 2vh;

        summary {
          background: white;
          border-radius: 10px;
          border: 1px solid $color-txt;
          box-shadow: -2px 2px $color-txt;
          color: $color-txt;
          padding: 0.5em;
          font-family: "HKGrotesk-Bold";
          width: 50%;
          cursor: pointer;
          list-style: none;

          &:after {
            content: " ↓";
            color: $color-podcast;
            font-size: $size;
            font-family: "HKGrotesk-bold";
          }

          &:hover {
            color: white;
            background: $color-txt;
            border: 1px solid white;
            box-shadow: -2px 2px white;
          }
        }
      }

      details[open] {
        background: white;
        border-radius: 10px;
        border: 1px solid $color-txt;
        box-shadow: -2px 2px $color-txt;
        color: $color-txt;
        padding: 1em;

        summary {
          background: white;
          border-radius: 10px;
          border: 0 solid $color-txt;
          box-shadow: 0 0 white;
          color: $color-txt;
          padding: 0;
          margin-bottom: 1.5vh;

          &:after {
            content: " ↑";
          }

          &:hover {
            color: $color-podcast;
          }
        }
      }
    }

    .part-fat {
      width: 50%;
      padding-left: 4% ;
      padding-right: $size;

      height: 80%;
      padding-bottom: 20%;
      p{
        font-family: "HKGrotesk-Medium";
        width: 75%;
        height: auto;

      }
    }

    .part-small {
      height: 79%;
      width: 19%;
      padding-left: 2%;
      line-height: $size;

      p{
        margin-top: 0px;
      }
      img {
        width: 100%;
        position: sticky;
        top: 0;
      }
    }
  }
}

.videoDocument {
  color: white;


  .date {
    display: none;
  }

  h1 {
    background: #3e0a51;
    color: white;
    font-family: $hkbold;
    font-size: $size;
    padding: 0.575em;
    position: sticky;
    font-weight: normal;
    top: -1vh;
  }

  h2 {
    font-family: $hkboldit;
    font-size: $size;
    line-height: $size;
    padding-bottom: $size/2;
  }

  iframe {
    height: 100%;
    margin-left: $size*2;
    order: 2;
    width: 50%;
  }

  .info-primaires,
  h1,
  h2 {
    margin-left: $size/2;
  }

  .info-primaires {
    color: white;
    height: 100%;
    order: 1;
    width: 35vw;

    p {
      font-family: $hkmedium;
      font-size: $size;
      line-height: $size;
      padding: $size/2;
      em {
        font-family: $hkmediumit;
        font-weight: normal;
      }
    }
  }
}

.reader_lexique {
  right: 0;
  background: $color-podcast;
	max-width: 700px;
	min-height: 100%;
	margin: 0 auto;
  overflow: hidden;
	.box-mot {
		padding: 0 1em;
	}

  h1 {
		font-family: $hkbold;
		font-size: 1.2em;
		font-weight: normal;
		margin-top: 2vh;
		text-decoration: underline;
		text-decoration-color: white;
		span {
			font-family: $hkboldit;
		}
	}

	.header {
		display: none;
	}

	.lexique {
		background: $color-podcast;
	}

	.content {
		overflow-y: hidden !important;
	}

	.intro{
		h3{
			font-weight: normal;
			font-family: "HKGrotesk-BoldItalic";
			color: white;
			font-size: 1em;
			margin-bottom: 0;
			margin-top: 2vh;
		}
		p{
			font-family: "HKGrotesk-Medium";
			font-size: 1em;
			line-height: 1.15em;
			margin-bottom: 0em;
			margin-top: 0;
		}
		ul {
			list-style: none;
			font-family: "redaction-regular";
			margin-top: 2vh;
			line-height: 1.3em;
			font-size: $size/1.5;
			border-top: 1px solid white;
			color: $color-txt;
			padding-top: 2vh;
			width: 100%;
			padding-left: 0;

			li {
				display: inline;

				strong {
					font-family: "Redaction-Bold";
					font-variant: small-caps;
					text-transform: lowercase;
					color: white;
					letter-spacing: 0.02em;
				}

				&:after {
					content: " | ";
				}

				&:nth-last-of-type(1){
					&:after {
						content: " ";
					}
				}
			}
		}
	}

	iframe {
		margin-top: 15px;
		padding-left: 0.5vw;
		width: 100%;
		height: 15vw;

		&:nth-of-type(1) {
			margin-top: 5vh;
		}
	}
}

.reader_ressource {
  background: #f7f1e7;
  z-index: 2;
  padding: 1.2em;
  line-height: 1.4em;

  .date {
    display: none;
  }
  .header{
		background: #f7f1e7;
    h1{
      color: $color-txt;
      font-size: 2em;
      line-height: normal;
      text-decoration: underline 0.07em $vert;
      margin-bottom: 2vh;
      margin-top: 0;
      width: 100%;
      display: inline-flex;
      font-weight: normal;
    }
  }

  h2 {
    font-family: "Redaction-Bold";
    font-size: $size;
    margin-top: 2vh;
    text-decoration: underline $color-podcast;
  }

  h2:nth-of-type(1) {
    margin-top: 2vh;
  }

  h3 {
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-family: "Redaction-Regular";
    margin-left: 3vw;
    background: white;
    padding: 1em;
    box-shadow: -2px 2px #3e0a51;
    font-size: 0.9583333333em;
    line-height: 1.4em;
    border: 1px solid #3e0a51;
    border-radius: 5px;
    width: 80%;
  }

  h4 {
    font-weight: normal;
    font-size: $size/1.2;
    font-family: "Redaction-Regular";
    margin-top: 1vh;
    padding: 0;
    margin-left: 2vw;
      &::before {
        content: "†";
        font-family: "HKGrotesk-Medium";
        color: $rose;
        -webkit-text-stroke: 1px #3e0a51;
        text-shadow: -2px 2px #3e0a51;
        transition: ease-in-out 0.2s;
        float: left;
        padding-right: 1vw;;
        font-size: 2em;
      }
      &:hover:before {
        content: "†";
        font-family: "HKGrotesk-Medium";
        color: $violet;
        -webkit-text-stroke: 1px $rose;
        text-shadow: -2px 2px $rose;
        transition: ease-in-out 0.2s;
      }
      a {
        color: $violet;
        font-family: "Redaction-Bold";
        text-decoration: underline;

        &:hover {
          color: $rose;
          text-decoration: none;
        }
      }
      &:nth-of-type(1){
        margin-bottom: 0;
        margin-left: 0vw;
      }
  }

  ul {
    list-style: none;
    font-size: $size/1.2;

    li {
      font-family: "Redaction-Regular";
      margin-top: 1vh;
      padding: 0;

      &::before {
        content: "•";
        font-family: 'HKGrotesk-Medium';
        color: #00dab0;
        -webkit-text-stroke: 1px #3e0a51;
        text-shadow: -2px 2px #3e0a51;
        transition: ease-in-out 0.2s;
        float: left;
        font-size: 2em;
        padding-right: 1vw;
      }

      &:hover:before {
        content: "•";
        font-family: 'HKGrotesk-Medium';
        color: #3e0a51;
        -webkit-text-stroke: 1px #00dab0;
        text-shadow: -2px 2px #00dab0;
        transition: ease-in-out 0.2s;
      }

      a {
        color: $violet;
        font-family: "Redaction-Bold";
        text-decoration: underline;

        &:hover {
          color: #00dab0;
          text-decoration: none;
        }
      }
    }
    &:nth-of-type(1){
      padding-left: 0;
    }
  }
}

.player {
  font-family: "HKGrotesk-Bold";
}

.open {
  // transition: .05s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: block !important;
}

.open_bottom {
  .flexcentre {
    height: calc(100% - 200px);
  }
  &.open_bottom_info {
    .flexcentre {
      height: 50%;
    }

		.main .item {
			height: 50%;
		}

    .info {
      display: block;
    }
  }
}

.open_top {
	.flexcentre {
		height: 50%;
	}
	.main .item {
		height: 50%;
	}
	&.open_bottom {
		.flexcentre {
			height: calc(50% - 50px);
		}
		.main .item {
			height: calc(50% - 50px);
		}
	}
	#box-left:not(.box-fullscreen) > .content {
		    height: 50vh;
	}
	#box-right:not(.box-fullscreen) {
	   height: 50vh;
		 > .content {
			 height: 100%;
		 }
	}

}

.open_right {
	.item {
		width: 70%;
	}
}


.open_top, .open_bottom, .open_left, .open_right {
	.box-infos {
		filter: grayscale(1) blur(3px) opacity(0.3);
		transition: 0.2s ease-in-out;

		&:hover{
			filter: grayscale(1) blur(0px) opacity(1);
			transition: 0.2s ease-in-out;
		}

		&.lien-actif {
			filter: grayscale(0) blur(0px) opacity(1);
			z-index: 10;
		}
	}

	.box-infos, .title  {
		transform: scale(.7);
		&.top_left { transform-origin: top left }
		&.top_right { transform-origin: top right }
		&.bottom_left { transform-origin: bottom left }
		&.bottom_right { transform-origin: bottom right }
	}
	.box-infos.edito {
		font-size: .7em;
	}

	.niveau_3 {
		transform: scale(.5) !important;
	}
	.niveau_4 {
		transform: scale(.8) !important;
	}
}

.box-fullscreen {
	width: 100% !important;
	min-width: 100% !important;
	top: 0px;
	height: 100%;
	position: fixed;
	z-index: 5 !important;
  transition: height 0.5s ease-in-out;
	&#box-left .reader .header,
	&#box-left .reader .content,
	&#box-left .player
	{
		width: auto;
		max-width: 800px;
		margin: 0 auto;
	}
	&#box-top {
		max-height: 100%;
	}
	&#box-bottom {
		> .content {
			overflow-y: hidden;
		}
		#btn_info {
			#plusInfo {
				display: none;
			}
			#moinsInfo {
				display: block;
			}
		}
		.info {
			display: block;
		}
	}
	.player {
		height: 100% !important;
	}
	.flex-box {
		// height: 75%;
		// height: calc(100% - 170px);
	}

  .reader_texte,
  .reader_court-metrage,
	.reader_court-metrage-2,
  .reader_cycle-conferences,
  .reader_outil-pedagogique,
  .reader_ressource {
    width: 40vw;
    margin-left: 30vw;
    // position: fixed;
    overflow-y: scroll;
  }
	.shadow-box  {
		display: none;
	}

}

ol#nav_left{
	list-style: none;
	position: sticky;
	top: 50px;
	background: $rose;
	font-size: $size/1.7;
	border: 1px solid white;
	border-radius: 10px;
	padding: 5px;
	box-shadow: -2px 2px white;
	margin: 0px;
	li{
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
		max-width: 200px;
		line-height: 1.5em;
		margin-right: 1em;
		cursor: pointer;
		&:before{
			content: "•";
			font-family: 'HKGrotesk-Medium';
			color: white;
			font-size: 2em;
			-webkit-text-stroke: 1px #3e0a51;
			text-shadow: -2px 2px #3e0a51;
		}
		&:hover{
			color: white;
		}
		a{
			color: $color-txt;
			text-decoration: none;
			cursor: pointer;

		}
	}
}
