@mixin grid($verti, $horiz) {
	display: grid;
	grid-template-columns: repeat($verti, 1fr);
	// grid-template-rows: repeat($horiz, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

@keyframes here {
  0%   {transform: scale(0);}
  50%  {transform: scale(0.2);}
  98%  {transform: scale(0.6);}
  100% {transform: scale(0.5);}
}

.item {
	overflow-y: scroll;
	position: absolute;
	height: 100%;
	margin: 0 0%;
	display: grid;
	transition: all 0.5s ease-in-out;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(10, 1fr);
	// grid-template-columns: repeat(5, 1fr);
	// grid-template-rows: repeat(12, 200px);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

#shift {
	grid-area: 3/4/5/8;
	cursor: pointer;
	// grid-area: 3/4/2/8; PosAntoine
	.forme {
		display: block;
	}
}

#a-scene-ouverte {
	// grid-area: 4/12/6/9;  BAK
	grid-area: 3/15/6/10;
	transform: scale(0.7);
}

#la-peer-enquete {
	grid-area: 4/11/6/8;
	transform: scale(0.7);
		.forme{
		display: block;
	}

}
#curriculum-futurae {  grid-area: 3/1/7/3; }
#conference-pointculture {
	    transform: scale(.8);
	// display: none;
	grid-area: 9/3/7/1;
	.forme {
		display: block;
		margin-top: -50px !important;
	}
	.header {
		height: 200px;
		display: table-cell;
		vertical-align: middle;
		padding: 2em 0em;
	}
}

#ressource {
	// grid-area: 10/7/10/5;
	grid-area: 9/8/10/6;

	&:hover{
		h1{
			color: $vert;
		}
	}
}
#deliveroo_nous {
	// grid-area: 4 / 1 / 6 / 2;
	// grid-area: 6/6/8/8;
	grid-area: 6/7/8/9;
	display: block;
	transform: scale(.6);
	display: block;
	cursor: pointer;
	.box-content {
		transform: rotate(-25deg);
		transition: all 0.2s ease-in-out;
	}
	&:hover {
		.box-content {
			transform: rotate(-20deg);
			box-shadow: -0.4em 0.4em $violet;
			text-decoration: underline;
			transition: all 0.2s ease-in-out;
		}
	}
}

#alter_echo_article{
	display: block;
  grid-area: 10/3/9/5;
	transform: scale(.6);
	cursor: pointer;
	.box-content {
		transform: rotate(25deg);
		transition: all 0.2s ease-in-out;
	}
	&:hover {
		.box-content {
			transform: rotate(20deg);
			box-shadow: -0.4em 0.4em $violet;
			text-decoration: underline;
			transition: all 0.2s ease-in-out;
		}
	}
}

#le-travail-qui-vient {
	grid-area: 2/11/3/8;
	transform: scale(.8);
	.box-content {
		margin-top:0px;
	}
	h1{
		background: linear-gradient(90deg, $vert 30%, $rose 70%);
		cursor: pointer;
	}
	&:hover {
		h1 {
			background: linear-gradient(90deg, $rose 30%, $vert 70%);
			color: white;
		}
	}
}

#a-distance {
	grid-area: 7/3/11/6;
}

// ANIMATION

.house{
	overflow: hidden;
	position: absolute;
	.forme{
		z-index: -1;
	}
	#ho-1{
		position: absolute;
		transform: scale(0.6);
    transform-origin: top center;
		margin-left: 50px;
		transition: all 0.3s ease-in-out;
	}
	#ho-2,
	#ho-3,
	#ho-4,
	#ho-5,
	#ho-6,
	#ho-7{
		transform: scale(0);
		position: absolute;
		margin-left: -50px;
	}
	#ho-2{
		transition: all 0.3s ease-in-out;
		transform: scale(0);
	}
	#ho-3{
		position: absolute;
		transform: scale(0);
		transition: all 0.5s ease-in-out;
	}
	#ho-4{
		position: absolute;
		transform: scale(0);
		margin-top: -50px;
		transform-origin: center;
		transition: all 0.6s ease-in-out;
	}
	#ho-5{
		position: absolute;
		transform: scale(0);
		transition: all 0.3s ease-in-out;
	}
	#ho-6{
		position: absolute;
		transform: scale(0);
		transition: all 0.5s ease-in-out;
	}
	#ho-7{
		position: absolute;
		transform: scale(0);
		transition: all 0.2s ease-in-out;
	}
	&:hover{
		.forme{
			z-index: -3;

		}
		#ho-1{
			position: absolute;
			transform: scale(0.9);
			transform-origin: top;
			margin-left: 150px;
			transition: all 0.3s ease-in-out;
		}
		#ho-2{
			position: absolute;
			transform: scale(0.5);
			transform-origin: center;
			margin-top: -100px;
			transition: all 0.3s ease-in-out;
		}
		#ho-3{
			position: absolute;
			transform: scale(0.7);
			transform-origin: center;
			margin-top: -100px;
			transition: all 0.5s ease-in-out;
		}
		#ho-4{
			position: absolute;
			transform: scale(0.4);
			transform-origin: center;
			margin-top: -250px;
			transition: all 0.6s ease-in-out;
		}
		#ho-5{
			position: absolute;
			transform: scale(0.5);
			transform-origin: center;
			margin-top: -100px;
			transition: all 0.3s ease-in-out;
		}
		#ho-6{
			position: absolute;
			transform: scale(0.5);
			transform-origin: center;
			transition: all 0.5s ease-in-out;
		}
		#ho-7{
			position: absolute;
			transform: scale(0.5);
			transform-origin: center;
			margin-top: -100px;
			transition: all 0.2s ease-in-out;
		}
	}
}

.equalizer {
	.forme{
		z-index: -1;
		#eq-1{
			position: absolute;
			transform-origin: bottom;
			transform: scaleY(0.5);
			transition: all 0.6s ease-in-out;
		}
		#eq-2{
			position: absolute;
			transform-origin: bottom;
			transform: scaleY(0.6);
			transition: all 0.6s ease-in-out;
		}
		#eq-3{
			position: absolute;
			transform-origin: bottom;
			transform: scaleY(0.7);
			transition: all 0.6s ease-in-out;
		}
		#eq-4{
			position: absolute;
			transform-origin: bottom;
			transform: scaleY(0.8);
			transition: all 0.6s ease-in-out;
		}
		#eq-5{
			position: absolute;
			transform-origin: bottom;
			transform: scaleY(0.7);
			transition: all 0.6s ease-in-out;
		}
	}
	&:hover{
		.forme{
			z-index: -1;
			#eq-1{
				position: absolute;
				transform-origin: bottom;
				transform: scaleY(1);
				transition: all 0.3s ease-in-out;
			}
			#eq-2{
				position: absolute;
				transform-origin: bottom;
				transform: scaleY(0.7);
				transition: all 0.4s ease-in-out;
			}
			#eq-3{
				position: absolute;
				transform-origin: bottom;
				transform: scaleY(0.5);
				transition: all 0.5s ease-in-out;
			}
			#eq-4{
				position: absolute;
				transform-origin: bottom;
				transform: scaleY(0.6);
				transition: all 0.6s ease-in-out;
			}
			#eq-5{
				position: absolute;
				transform-origin: bottom;
				transform: scaleY(0.7);
				transition: all 0.7s ease-in-out;
			}
		}
	}
}


.communs{
	.forme {
		z-index: -1;
		position: absolute;
		transform-origin: center;
		transform: scale(0.9);
		#co-1{
			z-index: 1;
			position: absolute;
			transform-origin: center;
			transition: all 0.2s ease-in-out;
			mix-blend-mode: multiply;
			transform: scale(0.8);
			}
		#co-2{
			z-index: 2;
			position: absolute;
			transform-origin: center;
			transition: all 0.3s ease-in-out;
			mix-blend-mode: multiply;
			transform: scale(0);
		}
		#co-3{
			z-index: 3;
			position: absolute;
			transform-origin: center;
			transition: all 0.4s ease-in-out;
			mix-blend-mode: multiply;
			transform: scale(0);
		}
		#co-4{
			z-index: 4;
			position: absolute;
			transform-origin: center;
			transition: all 0.5s ease-in-out;
			mix-blend-mode: multiply;
			transform: scale(0);
		}
	}
	&:hover{
		.forme{
			#co-1{
				transform-origin: center;
				transition: all 0.2s ease-in-out;
				transform: scale(1);
			}
			#co-2{
				transform-origin: center;
				transition: all 0.3s ease-in-out;
				transform: scale(1);
			}
			#co-3{
				transform-origin: center;
				transition: all 0.4s ease-in-out;
				transform: scale(1);
			}
			#co-4{
				transform-origin: center;
				transition: all 0.5s ease-in-out;
				transform: scale(1);
			}
		}
	}
}

.chrono {
		.forme {
			z-index: -1;

			#ch-1{
				transform: rotate(0deg) scale(.35);
				z-index: 1;
				position: absolute;
				transform-origin: center;
				transition: all 0.6s ease-in-out;
				margin-top: 10%;

			}
			#ch-2{
				transform: rotate(0deg) scale(.35);
				z-index: 2;
				position: absolute;
				transform-origin: center;
				transition: all 0.6s ease-in-out;
				margin-top: 10%;

			}
		}
		&:hover {
			.forme {
				overflow-x: clip;
				#ch-1{
					transform: rotate(45deg) scale(0.8);
					transform-origin: center;
					transition: all 0.8s ease-in-out;
					margin-top: -30%;
				}
				#ch-2{
					transform: rotate(-720deg) scale(0.8);
					transform-origin: center;
					transition: all 0.8s ease-in-out;
					margin-top: -30%;
				}
			}
		}
}

.usine {
	overflow: hidden;
	.header {
		  padding: .5em 0em;
			position: absolute !important;
			margin-top: 0px;
			transition: all 0.2s ease-in-out;
	}
	.forme {
		transition: all 0.2s ease-in-out;
		transform: scale(1,1);
	}
	&:hover {
		.forme {
			transition: all 0.2s ease-in-out;
			transform: scale(2,1);
			margin-left: 100px;
		}
		.header {
		  padding: 2em 0em;
			transition: all 0.2s ease-in-out;
			margin-top: 100px !important;
		}
	}
}

.courbes {
	// overflow: hidden;
	overflow-x: hidden;
	position: absolute;
	.forme {
		z-index: -1;
		overflow-x: clip;

		#c-1{
			transform: scaleX(1);
			z-index: 1;
			position: absolute;
			transform-origin: bottom left;
			transition: all 0.4s ease-in-out;
		}
		#c-2{
			transform: scaleX(1);
			z-index: 1;
			position: absolute;
			transform-origin: bottom left;
			transition: all 0.2s ease-in-out;
		}
		#c-3{
			transform: scaleX(1);
			z-index: 3;
			position: absolute;
			transform-origin: bottom right;
			transition: all 0.3s ease-in-out;
		}
	}
	&:hover {
		.forme {
			overflow-x: clip;

			#c-1{
				transform: scaleX(2.7);
				transform-origin: bottom left;
				transition: all 0.4s ease-in-out;
			}
			#c-2{
				transform: scaleX(1.5);
				transform-origin: bottom left;
				transition: all 0.2s ease-in-out;
			}
			#c-3{
				transform: scaleX(2);
				transform-origin: bottom right;
				transition: all 0.3s ease-in-out;
			}
		}
	}
}

.here {
	overflow: hidden;
	position: absolute;
	.forme {
		z-index: -2;
		#h1{
			transform: scale(0.6) rotate(90deg);
			margin-top: -100px;
			transition: all 0.3s ease-in-out;
			transform-origin: center right;
		}
		#h2,
		#h3,
		#h4,
		#h5{
			transform: scale(0);
			position: absolute;
			transform-origin: center;
			margin-left: -50px;
		}
		#h2{
			transition: all 0.3s ease-in-out;
		}
		#h3{
			transition: all 0.5s ease-in-out;
		}
		#h4{
			transition: all 0.4s ease-in-out;
		}
		#h5{
			transition: all 0.7s ease-in-out;
		}
	}
	&:hover {
		.forme {

			#h1{
				transform: scale(1.2);
				transition: all 0.3s ease-in-out;
			}
			#h2{
				transition: all  0.3s ease-in-out;
				transform: scale(0.7);
				transform-origin: center;
			}
			#h3{
				transition: all  0.5s ease-in-out;
				transform: scale(0.7);
				transform-origin: center;
			}
			#h4{
				transition: all  0.4s ease-in-out;
				transform: scale(0.7);
				transform-origin: center;
			}
			#h5{
				transition: all  0.7s ease-in-out;
				transform: scale(0.7);
				transform-origin: center;
			}
		}
	}
}

.camembert{
	.forme {
		z-index: -1;
		overflow-x: clip;

		#cm-1{
			transform: rotate(-180deg);
			z-index: 1;
			position: absolute;
			transform-origin: center;
			transition: all 0.7s ease-in-out;
		}
		#cm-2{
			transform: rotate(20deg);
			z-index: 2;
			position: absolute;
			transform-origin: center;
			transition: all 0.6s ease-in-out;
		}
		#cm-3{
			transform: rotate(-260deg);
			z-index: 3;
			position: absolute;
			transform-origin: center;
			transition: all 1s ease-in-out;
		}
	}
	&:hover {
		.forme {
			overflow-x: clip;

			#cm-1{
				transform: rotate(180deg);
				transform-origin: center;
				transition: all 0.7s ease-in-out;
			}
			#cm-2{
				transform: rotate(-20deg);
				transform-origin: center;
				transition: all 0.6s ease-in-out;
			}
			#cm-3{
				transform: rotate(260deg);
				transform-origin: center;
				transition: all 1s ease-in-out;
			}
		}
	}
}
// .camembert{
// 	.forme {
// 		transform:  scaleX(1);
// 		transition: all 0.2s ease-in-out;
// 	}
// 	&:hover{
// 		.forme{
// 			transform:  scaleX(-1);
// 			transition: all 0.2s ease-in-out;
// 		}
// 	}
// }
