/* Error: Undefined variable.
 *    ,
 * 77 |             color: $vert;
 *    |                    ^^^^^
 *    '
 *   Documents/travail/2021/CVB/www.nosfuturs/theme/static/css/grid.scss 77:11  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 77 \2502              color: $vert;\a    \2502                     ^^^^^\a    \2575 \a   Documents/travail/2021/CVB/www.nosfuturs/theme/static/css/grid.scss 77:11  root stylesheet";
}
