
main {
  // définition de la grille
  .item {
    font-family: $hkmedium;
		z-index: 1;
		// padding-top: 5%;
		overflow: hidden;
    .box-infos {
      font-size: $size;
      line-height: $size*1.10;
      padding: 0vw;
      overflow: visible;
			position: relative;
      font-family: $hkmedium;
      // min-width: 12.5%; 
      // max-width: 37.5%;
      align-self: flex-start;
      flex-wrap: wrap;
      display: flex;
      transition: transform 330ms ease-in-out;

      img.photo_cover{
        width: 100%;
        display: none;
        filter: grayscale(1) contrast(1.3);
        mix-blend-mode: screen;
      }

			&:hover{
				z-index: 100;
        img.photo_cover {
          filter: grayscale(0) contrast(1) ;
          mix-blend-mode:normal;
          transition: all 0.2s ease-in-out;
        }
			}
			.forme {
				height: auto;
				position: absolute;
				margin-top: -100px;
			}
      .forme img{
				width: 100%;
				height: auto;
      }

      h1, h2 {
        font-size: $size ;
        margin-bottom: 1vh;
        font-family: "hkgrotesk-bold";
				word-break: break-word;
      }
			.header {
				position: relative;
				display: block;
				font-family: $hkmedium;
				z-index: 2;
      }

			h1 {
				margin: 0;
			}

      .content {
        // width: 100%;
        // height: 80%;
      }
			ul {
				padding: 0;
				list-style: none;
			}
    }
  // niveau de profondeur

    // styles des types breox
		.texte {
			.box-content {
				background: #00dab0;
			}
			.header {
				text-align: center;
				padding: 2em 1em;
				background: url(../../theme/image/svgs/back_svg/cercle.svg) center center no-repeat;
				background-size: 100% 100%;
			}
			h1{
				width: 100%;
			}
		}
    .podcast {
			transition: all 1.3s;
      cursor: pointer;
			.box-content {
				// background: #f0d4fd center center no-repeat;
        .photo_cover{
          height: 15vh;
          object-fit: cover;
        }
			}
			.header {
				padding: .5em;
				text-align: center;
				background-image: url(../../theme/image/svgs/back_svg/square.svg) ;
				background-size: 100% 100%;
			}
			.list_podcast {
				font-family: $hkmedium;
				font-size: .6em;
				// display: none;
				padding: 0;
				text-align: center;
				width: 100%;
			}
			.list_podcast li{
				cursor: pointer;
				padding: 0 0.5em;
				border-top: 1px solid $violet;
				list-style: none;
				background: white;
				line-height: 1em;
				padding: .5em;
				text-align: center;
				background: #f7f1e7;
				margin: 0 auto;
				&:hover {
					color: $color-podcast;
				}
				&:nth-last-of-type(1){
					border-top: 1px solid $violet;
				}
			}
	}
	.outil-pedagogique {
		.box-content {
			// background: $violet;
		}
		.header{
      cursor: pointer;
			background: url(../../theme/image/svgs/back_svg/square.svg) center center no-repeat;
      &:hover{
        .type-media,
        h1{
          color: $vert;
        }
      }
    }
		h1, .type-media {
			color: $violet;
		}
		ul.list {
			display: none;
			&:hover{
				display: none !important;

			}
		}
	}
	.cycle-conferences {
		.box-content {
			// background: #000632;
		}
		.header {
      cursor: pointer;
			background: url(../../theme/image/svgs/back_svg/cercle.svg) center center no-repeat;
      &:hover{
        color: $rose;
      }
  	}
		ul {
			display: none !important;
		}
		// h1, .type-media {
		// 	color: #00dab0;
		// }
	}
	.court-metrage {
		color: $color-docu;
		.header {
      transition: 0s;
      cursor: pointer;
			background: url(../../theme/image/svgs/back_svg/square.svg) center center no-repeat;
      &:hover{
        transition: 0s;
        color: $vert;
      }
    }
		.box-content {
			// background: $vert;
		}
	}
	.lexique {
		display: none;
		top: -100px;
		left: -100px;
    transition: all 3s ease-in-out;
		position: fixed;
		font-size: $size/1.4;
		font-weight: normal;
		color: $bleu;
		width: 200px;
		.header {
			background: url(../../theme/image/svgs/back_svg/square.svg) center center no-repeat;
			z-index: 1;
      h1{
        cursor: pointer;
      }
       &:hover{
         // background: url(../../theme/image/svgs/back_svg/square-vert.svg);
         filter:grayscale(0);
         color: $vert;
         text-decoration: underline;
       }
		}
		.box-content {
			padding: 0em;
		}
		&.visible {
			display: block;
		}
		&.lien-actif {
			display: block;

			h1 {
				color: $vert;
			}
		}

	}

	.ressource {
    cursor: pointer;
    color: $violet;
    background: $vert;
    h1{
      font-weight: normal;
    }
    .header{
      background: url(../../theme/image/svgs/back_svg/cercle.svg) center center no-repeat;
    }
	}
	#edito_nf_mobile {
		display: none;
	}

	.outil-pedagogique, .cycle-conferences, .court-metrage, .lexique, .edito, .ressource, .documentaire-primaire, .podcast {
		// overflow: visible;
		.box-content {
			// margin-top: 200px;
			width: 100%;
		}
		.header {
			text-align: center;
			width: 100%;
			padding: 1em 0;
			// // background: url(../../theme/image/svgs/back_svg/square.svg) center center no-repeat;
			background-size: 100% 100%;
		}
		.type-media {
			font-size: .8em;
		}
		.list {
			background: $color-txt;
          font-family: $hkmedium;
          font-size: .6em;
          // display: none;
					background: white;
        }
        ul{
          display: flex;
          flex-flow: row wrap;
        }
        .list li{
          cursor: pointer;
          padding: 0 0.5em;
          border-top: 1px solid $color-podcast;
          img{
            filter: grayscale(1) contrast(1.3);
            mix-blend-mode: screen;
            height: auto;
            width: 5vw;
            vertical-align: middle;
						display: none;
          }
          &:hover {
            background: $color-podcast;
            @include btn-play(1.2em, white, $color-txt);

            img{
              filter: grayscale(0) contrast(1);
              mix-blend-mode: normal;
            }
          }
        }
        &:hover .list {
          display: block;
        }
    }
      .documentaire-primaire {
        font-family: "HKGrotesk-Bold";
				.box-content {
					// background: #f0d4fd;
          .photo_cover{
            display: none;
            height: 20vh;
            object-fit: cover;
          }
				}
				.header {
					text-align: center;
					background: url(../../theme/image/svgs/back_svg/square.svg) center center no-repeat;
					background-size: 100% 100%;
					width: 100%;
          &:hover{
            color: $vert;
          }
				}
        .play {
					margin: 12.5vw;
          position: absolute;
				}
        h1{
					font-size: 2em;
					line-height: 1.2em;
        }
      }
      .edito  {
        font-family: "HKGrotesk-Bold";
        overflow: hidden;
				.header {
					text-align: center;
				}
        h1{
					// background: #e1dcd5;
					width: auto;
					display: inline-block;
					padding: 0em .5em;
					color: #3d074f;
					line-height: 2em;
					overflow: hidden;
        }
      }
  }

.category {
  display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1001;
  left: 0;
  top: 0;
//SOLUCE FACILE
  backdrop-filter:grayscale(1);

  .introduction{
    // filter:grayscale(0) !important;
    // mix-blend-mode: normal !important;
    z-index: 1000;
    position: fixed;
    overflow-y: auto;
    width: 40vw;
    height: 100vh;
    margin-top: 0vh;
    margin-left: 30vw;
    top: 0;
    bottom: 0;
    cursor: pointer;
    background: linear-gradient(0deg, $rose 00%, $vert 100%);
    border-right: 1px solid $violet;
    border-left: 1px solid $violet;

    h1{
      font-family: 'HKGrotesk-Bold';
      line-height: normal;
      color: white;
      top: 0;
      height: 4vh;
      width: 40vw;
      text-align: center;
      // position: fixed;
      margin-top: 2vh;
    }

    .edito {
      padding-left: 4vw;
      padding-right: 4vw;
      margin-top: 8vh;


      h2{
        font-family: 'HKGrotesk-Bold';
        color: $violet;
        font-weight: normal;
        font-size: 1.15em;
        padding-top: $size;
        text-decoration: underline;
        text-decoration-color: white;
      }

      h3{
        font-family: 'HKGrotesk-Bold';
        font-weight: normal;
        margin-top: 2vh;
        margin-bottom: 1vh;
        &:before{
          -webkit-text-stroke: 1px $violet;
          color: $color-fond;
          content: "•";
          font-family: 'HKGrotesk-Medium';
          font-size: 2em;
          padding-right: 1vw;
          text-shadow: -2px 2px $violet;
        }
      }

      p {
        font-family: $hkmedium;
        font-size: 1em;
        line-height: $size;
        margin-top: 0;
        margin-bottom: 0;
        text-indent: 2vw;
        &:nth-of-type(1){
          text-indent: 0;
        }
        a{
          color:$violet;
          text-decoration: underline;
          // text-shadow: -0.05em 0.05em $violet;
          &:hover{
          color: #f7f1e7;
          text-decoration: none;
          }
        }
        sup{
          vertical-align: super;
          color: white;
          font-size: $size/2;
          a{
            color: white;
            text-decoration: none;
          }
        }
      }
      .footnote{
        margin-top: 3vh;
        hr{
          height: 1px;
          border-width: 0;
          color: $violet;
          background-color: $violet;
        }
        ol{
          margin-top: 3vh;
          margin-left: 2em;
          font-size: 0.7em;
          margin-bottom: 2vh;
          li{
            list-style: decimal;
            &::marker{
              color: white;
            }
            a{
              color: white;
            }
          }
        }
      }
    }
  }

}

}
