/* Error: Undefined variable.
 *    ,
 * 66 |         border-left: 13px solid $violet;
 *    |                                 ^^^^^^^
 *    '
 *   Documents/travail/2021/CVB/www.nosfuturs/theme/static/css/players.scss 66:33  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 66 \2502          border-left: 13px solid $violet;\a    \2502                                  ^^^^^^^\a    \2575 \a   Documents/travail/2021/CVB/www.nosfuturs/theme/static/css/players.scss 66:33  root stylesheet";
}
