//
// @media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait)
// {
//   html {
//       overflow: scroll !important;
//        -webkit-overflow-scrolling: touch !important;
//      height: 100%;
//        position: relative;
//
//
//   }
//
// .mobile{
//   overflow: scroll !important;
//   -webkit-overflow-scrolling: touch !important;
//   height: auto!important;
//     position: relative;
//
//   .main{
//     // overflow-y: scroll!important;
//     height: auto !important;
//
//   }
// }
// }
// @media only screen
//     and (device-width: 414px)
//     and (device-height: 896px)
//     and (-webkit-device-pixel-ratio: 2) {
//       html {
//         overflow: scroll !important;
//          -webkit-overflow-scrolling: touch !important;
//          height: 100% !important;f0d4fd
//            position: relative;
//       }
//       .mobile{
//         overflow: scroll !important;
//          -webkit-overflow-scrolling: touch !important;
//         height: auto !important;
//           position: relative;
//
//         .main{
//           // overflow-y: scroll!important;
//           height: auto !important;
//
//         }
//     }
// }
// // html {
// //  	overflow: scroll!important;
// //  	height: 100% !important;
// // }
// // body {
// //  	height: 100vh !important;
// //  	overflow: scroll!important;
// // }
// // // @media (max-width: 800px){
//

.mobile{
  font-size: 2rem;
	overflow: scroll;
	height: 100% !important;
  position: relative;
	// position: absolute;
  // // height: 100% !important;
	.open_bottom,
	.open_top,
	.open_right,
	.open_left {
		.box-infos {display: none;}
	}
	// .open_bottom {
	// 	.menu-bottom {display: none;}
	// }
  #box-edito{
  height: 100%;
  overflow: auto;
  font-size: 3rem;
	.head_close .close {
		margin-right: 0px;
		z-index: 6;
	}
  .contener {
    .content_edito{
       .close {
         font-size: 1.5em;
         margin-left: 90%;
         position: sticky;
         top:0%;
       }
       .EditoNav {
         position: sticky;
         top: 0%;
       }
       .text{
         padding-bottom: 45%;
         h2{
          line-height: normal;
         }
     }
   }
  }
}
.background-content_ressource {
  background: transparent;
  padding-bottom: 20%;
}

  #box-left, #box-right, #box-top, #box-bottom{
    max-width: 100% !important;
    z-index: 0;
    height: 100%;
    z-index: 2;
    transition: all 0.2s ease-in-out;
  }
  main .item .documentaire-primaire h1 {
    font-size: 2em;
    line-height: -2.2em;
    color: white;
    background: #3e0a51;
  }
  .reader_lexique {
    max-width: 100%;
    iframe {
    height: 50vw;
  }
}
  .flexdetout{
    display: block !important;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    // min-height: 100%;
    height:100%;
  }
  .head_close{
    position: fixed;
    top: 10%;
    right: 5% !important;
    font-size: 1.5rem !important;
    z-index: 10;
    .close{
      font-size: 3rem;
    }
      .coda,
      .fullscreen{
        display: none;
      }
    }
  .reader_cycle-conferences .info-primaires p, .reader_outil-pedagogique .info-primaires p, .reader_court-metrage .info-primaires p{
    font-size: 1.15em;
    line-height: 1.25em;
  }
  .reader_texte .content p {
    font-size: 1.15em;
    line-height: 1.25em;
    text-indent: 2em;
    width: 95%;
  }
  .box-reader:not(#box-top) > .content {
		height: 100%;
  }
  #box-left.box-reader.reader-left, #box-top.box-reader.reader-top, #box-bottom.box-reader.reader-bottom, #box-right.box-reader.reader-right{
    animation: none;
    margin-top: -2vh;
    padding-bottom: 2vh;

  }
  #box-left, #box-right,#box-top,#box-bottom{
    position: absolute;
    width: 100%;
    max-width: 100%;
    font-size: 1.15em;
    .header {
      position: sticky;
      top: 0%;
    }
    h1{
      width: 100%;
      padding-top: 20%;
      width: 100%;
    }
    h2{
      padding-left: 0;
      padding-top: .56rem;
      margin: 0;
    }
  }

  #box-right{
    h1{
      width: 100%;
      padding-top: 20%;
    }
    .reader_lexique{
    h1{
      background:#00dab0;
    }
  }
    .reader_ressource{
    h1{
      background: #f7f1e7;
    }
}
    .header {

      top: 10%;
      position: sticky;
    }
  }
  #box-left{
    overflow: auto;
    height: auto;
    margin-bottom: 20%;
    .reader_outil-pedagogique .info-primaires .capsules{
      height: 450px;
      width: 750px;
    }
    .reader_cycle-conferences, .reader_outil-pedagogique, .reader_court-metrage {
      height: auto;
      padding-bottom: 25%;
        .info-primaires ul{
        font-size: .95rem;
        width: 80%;
      }
    }
  }

  #box-top {
    max-height: 100% !important;
    height: auto;
    overflow-y: auto;
    .head_close {
      width: auto;
      position: sticky;
    }

    .header {
      position: sticky;
      top: 11%;
      background: #3e0a51 !important;
    }
    h1{
      padding-top: 20%;
      width: 96%;
      background: #3e0a51;
      padding-bottom: 0;
      height: 100%;
    }
    h2{
      background: #3e0a51;
    }
    .reader_documentaire-primaire{
      height: auto!important;
      padding-bottom: 25%;
      padding-left: 1em;
      padding-right: 0;
      padding-top: 0;

      iframe{
        position: relative;
        width: 88vw;
				height: 49vw;
				transform: scale(1) !important;
				transform-origin: 0 0 !important;
      }
      .flex-box {
        height: auto;
        flex-direction: column-reverse !important;
        .info-primaires {
          width: 90%;
          padding-top: 5%;
          details{
            width: 85%;
        }
          ul{
            font-size: .95rem;
            width: 80%;
          }
        }

      }

    }
  }
  #box-bottom{
    position: absolute;
    .link-logo{
      position: fixed;
      top: 23%;
      margin: 0;
      padding: 10% 0% 0% 10%;
      background: #00dab0;
      width: 100%;
      height: auto;
      z-index: 0;
      .deezer{
        width: 9.25%;
        height: 10%;
        margin-top: -10%;
      }
      .apple{
        width: 11%;
        height: auto;
        margin-top: -15%;
      }
      .spoty, .soundcloud, .rss{
        width: 15%;
        height: 6%;
      }
      svg{
        fill:#3e0a51;
        padding-left: 0;
        &:hover{
         fill: white;
        }
      }
    }
     .header{
       width: 100%;
       padding-top: 20%;
       position: relative !important;
       background: #00dab0;
     }
     h1{
       position: fixed;
        top: 0%;
        margin-left: 0em;
        background: #00dab0;
        width: 100%;
        padding-bottom: 6%;
        z-index: 0;
        height: 11%;
     }

    .reader_episode-podcast {

      .audio-player {
        width: 100%;
        top: 21%;
        background: #00dab0;
        position: fixed;
        font-size: 1em;
        height: auto;
        border-bottom: 6px solid white;
        z-index:1;
        .controls > * {
          align-items: normal;
        }
        .controls {
          display: flex;
          align-items: stretch;
					padding: 1rem 3rem;
          color: #3e0a51;
          width: auto;
          flex-wrap: wrap;
          // margin-top: 3rem;
          // margin-left: 3rem;
          // margin-right: 2rem;
          .volume-container .volume-slider {
            // left: -40px;
            // top: 5px;
            // width: 60px;
            // height: 15px;
            display: none;
          }

          #next {
            margin-right: 20px;
          }
          .time {
            margin-left: -50px;
            margin-top: 5px;
          }
          .toggle-play.play {
            border: 25px solid #0000 !important;
            border-left-color: rgba(0, 0, 0, 0);
            border-left-style: solid;
            border-left-width: 12px;
            border-left: 45px solid white !important;
            width: auto;
          }
          .toggle-play.pause {
            &:before,
            &:after{
              height: 45px !important;
              width: 10px !important;
            }
            &:before{
              left: 14px;
            }
            &:after{
              right: 18px;
            }
          }
           .name {
             display: none;
           }
           #btn_info{
             display: none;
           }
					 img {
						 position: relative;
					 }
          }
        }
        .flex-box{
          height: 100%;
          padding-left: 0;
          padding-top: 80%;
        }
      .info {
        display: block !important;

        .part-fat {
          width: 100%;
          p{
            width: 85%;
          }
          details{
            width: 85%;
        }
      }

        .part-small {
          height: auto;
          width: 80%;
          padding: 1.15em;
          line-height: 1.15em;
          z-index: -1;
          }
      }
    }
  }

#box-edito .contener .content_edito{
    left: 0%;
    line-height: 1.4em;
    max-width: 100vw;
    width: 100%;
    padding-top: 35%;
    top: 0;
    .header{
      width: auto!important;
    }
    ul {
      li {
     padding-left: .15em;
     margin: .25em;
   }
 }
   .text h1{
      font-size: 1.4em !important;
      margin-bottom: 0.5em !important;
      line-height: normal;
      margin-top: .5em;
   }
   .close {
      margin-right: 2%;
      top: 0%;
      position: sticky;
    }
    .EditoNav {
      position: sticky;
      top: 0%;
      li a {
        background: white;
      }
    }
   .reseau{
     width: 100vw;
     display: flex;
     flex-wrap: wrap;
     align-content: baseline;
     line-height: 1em;
     a {
       background: #00dab0;
       text-decoration: underline;
       &:hover {
        color: #00dab0;
        background: #3e0a51;
        text-decoration: none;
       }
     }
   }
  }

  .menu{
    display: block!important;
    height: auto !important;
    font-size: 10rem;
    z-index: 10000 !important;
  }

.menu-top, .menu-bottom{
  position: fixed;
  left: 0px;
  height: auto !important;
  z-index: 1;
}
.menu-top{
  top: 0 !important;
  // .menu-shadow{
  //   background: rgba(247, 241, 231, .8);
  //   box-shadow: 0px 10px 30px #f7f1e7;
  // }
}
.menu-bottom{
  bottom:0 !important;
  // .menu-shadow{
  //   background: rgba(247, 241, 231, .8);
  //   box-shadow: 0px -10px 30px #f7f1e7;
  // }
}

main .item .lexique-video{
  display: none !important;
}
main .item .lexique {
  transition: all 3s ease-in-out;
  position: relative !important;
  color: #3e0a51;
  margin: 0 !important;
  transform: rotate(0deg) !important;
  font-size: 1.65em !important;
  align-content: center;
  width: 35vw !important;
  top: 0;
  left: 0;
  background:transparent;
  border: 1px solid white;
  height: auto;
	&.box-infos {
		display: flex;
		flex-wrap: wrap;
	}
  .box-content{
    width:50%;
  }
}
// #lexique_algorithme{
//   width:25%;
// }
.here .forme #h1 {
    transform: scale(0.3) rotate(90deg);
    margin-top: -115px;
    transition: all 0.3s ease-in-out;
    transform-origin: center right;
}
.here:hover .forme #h1 {
  transform: scale(0.3);
  transition: all 0.3s ease-in-out;
  margin-top: -350px;
}
 main .item .box-infos .forme{
  margin-top: -20px;
  transform: scale(.6);

}

main .item .box-infos img.photo_cover  {
  display: none;
}
.box-content{
  margin-top: 0 !important;

  .header{
    padding: 2em;
    display: block !important;
    height: auto !important;
    width: auto!important;
    min-width: 80vw;
  }
}
main .category .introduction {
    overflow-y: auto;
    width: 100vw;
    height:auto;
    margin-top: 0vh;
    margin-left: 0vw;
    border-left: 0px solid #3e0a51;
    h1{
      display: none;
    }
    .edito {
      padding-top: 10%;
      padding-bottom: 25%;
      h2{
        font-size: 1.3rem;
        padding-top: .56em;
      }
      p {
      font-size: 1.3em;
    }
  }
}
.item.niveau_4{

}

.item {
padding-top: 10% !important;
margin: 0;
height:auto;
  // padding-bottom: 20% !important;
  display: flex;
  width: 100%;
  margin-left: 0;
  // overflow-x: hidden;
  // overflow-y: hidden;
  position: relative;
  flex-wrap: wrap;
  .niveau_1{
     order:1;
     .box-content{
       padding-top: 12.5% !important;
       // height: 25vh;
       .header{
         margin-top: -12.5%;
         background: transparent;

      }
       .type-media{
         font-size: 1.2em;
          margin-top: 38%;
          color: white;
          background: #3e0a51;
          line-height: 4.5rem;
      }
    }
  }
  .niveau_2{
      order:2;
      height: 15%;
      flex: 1 1 auto;
    }
    .niveau_2-1{
        order:3;
    }
    .niveau_3{
        order:4;
        height: 10%;
        flex: 1 2 auto;
    }
    .niveau_3-1{
      order:5;
    }
    .niveau_3-2{
      order:6;
    }
    .niveau_3-3{
      order:7;
    }
    .niveau_3-4{
      order:8;
    }
    .niveau_4{
        order:9;
        flex: 1 4 auto;
        align-self: stretch;
        .box-content{
          width: auto !important;
          max-width: auto !important;
          .header {
            padding: 0em !important;
            background-size: 100% 100%;
            font-size: 2rem;
          }
        }
      }


  .documentaire-primaire {
    background:#3e0a51;
   .forme{
       margin-top: 50px;
       transform: scale(0.8) !important;
       z-index: 1;
    }
    // order:1;
  }
  .podcast{
    .header{
    background: transparent;
    }
    .box-content{
      font-size: 3rem;
      line-height: 5rem;
    }
  }
  .ressource,.texte{
    // order:3;
  }
  .cycle-conferences {
    background: #00dab0;
    // order:5;
  }
  .court-metrage,.outil-pedagogique{
    // order:4;
  }
  #ressource{
    // order:2;

  }
  #conference-pointculture,#ressource,#deliveroo_nous,#le-travail-qui-vient {
    transform: scale(1);
    box-shadow: -0.4em 0.4em transparent;
  }
  #ressource:hover{
    transform: rotate(0deg) scale(.95);
    box-shadow: 0em 0em transparent !important;
  }
  #le-travail-qui-vient {
    overflow-x: hidden;
    background: linear-gradient(90deg, #00dab0 30%, #f0d4fd 70%);
    transition: all 0.2s ease-in-out;
    width: 100%;
    display: flex !important;
    align-content: center;
    &:hover{
      transform: rotate(0deg) scale(.95);
      transition: all 0.2s ease-in-out;
      box-shadow: -0.4em 0.4em transparent;
      text-decoration: underline;
    }
    h1 {
      background: transparent;
    }
  }

	#edito_nf_mobile {
		display: block;
		overflow-x: hidden;
    // background: linear-gradient(90deg, #FFF 30%, #00dab0  70%);
    background: $vert;
		transition: all 0.2s ease-in-out;
		display: flex !important;
		align-content: center;
		font-size: 1em;
		padding: -2em !important;
		.header {
			padding: 1em;
		}

		h1 {
			text-align: center;
			font-family: 'Redaction-Bold';
			line-height: 1em;
			text-decoration: underline;
		}
	}



  #deliveroo_nous .box-content, #ressource.box-content{
    transform: rotate(0deg);
  }
  #deliveroo_nous{
    .box-infos{
    &:hover .box-content{
      transform: scale(.95);
      transition: all 0.2s ease-in-out;
      box-shadow: -0.4em 0.4em transparent;
    }
  }
  }
  .box-infos{
    width: 100%;
    height: auto;
    // display: flex !important;
    // flex-wrap: wrap;
    justify-content: center;
		align-self: auto;
    overflow: hidden;
     // font-size: 2em !important;
    &:hover .box-content{
      transform: rotate(0deg) scale(.95);
      transition: all 0.2s ease-in-out;
      color:inherit;
      box-shadow: -0.4em 0.4em transparent;
    }
}
  }
}


// }
@media only screen and (min-width: 423px) and (max-width:500px){
  body{
    // font-size: .6em;
  }
}
@media only screen and (max-width: 600px){
}
@media only screen and (orientation: landscape) and (max-height: 600px){
}
