@import 'variables';
@import 'players';


.player {
    font-family: "HKGrotesk-Bold";

		#player_source {
			display: none;
		}
}
body {
	background: #d9e8ff;
	width: 100vw;
	height: 100%;
	font-family: $fontReg;
	font-size: $size;
	margin: 0;
	padding: 0;
	color: $color-txt;
	font-size: 2rem;
  font-weight: normal;

	::selection {
		background: white;
		color: $color-podcast;
	}

	.flexdetout {
		margin: 0;
		padding: 0;
		width: 100vw;
		height: 100%;
	}
}

.open_bottom .title,
.open_left .title,
.open_right .title,
.open_top .title {
	transform: scale(0.7);
}
.reader_documentaire-primaire .info-primaires details[open]{
    background: white !important;
    border-radius: 10px;
    border: 1px solid #00dab0;
    box-shadow: -2px 2px #00dab0;
    color: #3e0a51 !important;
    padding: 1em;
}
.reader_documentaire-primaire .info-primaires details:nth-of-type(1)[open],.reader_documentaire-primaire .info-primaires details[open] summary{
  border: 0px solid #00dab0;
  box-shadow: 0px 0px #00dab0;
}
// .open_bottom .box-infos.top_right,
// .open_bottom .title.top_right,
// .open_left .box-infos.top_right,
// .open_left .title.top_right,
// .open_right .box-infos.top_right,
// .open_right .title.top_right,
// .open_top .box-infos.top_right,
// .open_top .title.top_right {
// 	transform-origin: top right;
// }

.mobile .menu .title {
	display: block !important;
	height: auto !important;
	font-size: 10rem;
	color: $vert;
	-webkit-text-stroke: 0.004em #3e0a51;
	text-shadow: -0.05em 0.05em #3e0a51;
	padding: 0 0.3em;
}

.menu {
	display: block!important;
	height: auto !important;
	z-index: 10000 !important;
	width: 100%;
	background: transparent;
	font-family: "Redaction_10-Bold-CVB";
	font-weight: normal;
	color: $vert;
	-webkit-text-stroke: 0.004em #3e0a51;
	text-shadow: -0.05em 0.05em #3e0a51;
	transition: all 0.25s ease-in-out;
	// display: flex;
	// flex-wrap: wrap;
	position: relative;
	font-size: 10rem;

	&:hover {
		text-shadow: 0 0 #3e0a51;
		transition: all 0.25s ease-in-out;
		cursor: pointer;
	}
}

.menu-shadow {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.menu-bottom,
.menu-top {
	position: fixed;
	left: 0;
	height: auto !important;
	z-index: 1;
	width: 100%;
}

.menu-top {
	top: 0 !important;

	.title {
		z-index: 1;
		left: 0;
		top: 0;
		padding: 0 0.3em;

		&:nth-of-type(2) {
			right: 0;
			text-align: right;
		}
	}
}

.menu-bottom {
	bottom: 0 !important; // .menu-shadow{
	//   background: rgba(247, 241, 231, .8);
	//   box-shadow: 0px -10px 30px #f7f1e7;
	// }

	.title {
		padding: 0 0.3em;
		z-index: 1;
		bottom: 0;
		left: 0;
		position: fixed;

		&:nth-of-type(2) {
			right: 0;
			text-align: right;
		}
	}
}

body #box-edito {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	backdrop-filter: grayscale(1);
	height: 100%;
	overflow: auto;
	font-size: 3rem;

	&.open {
		display: block;
	}


	.contener .content_edito {
		font-size: 0.9583333333em;

		position: fixed;
		overflow-x: hidden;
		overflow-y: auto;
		top: 0;
		background: #00dab0;
		width: 100%;
		height: 100%;
		overflow: auto;
		cursor: default;
		padding-top: 35%;

    .EditoNav {
      margin-bottom: 3em;
      list-style: none;
      position: fixed;
      width: auto;
      top:10%;

        .bouton:nth-of-type(1) {
          padding-top: 5%;
            padding-bottom: 10%;

          }
          .bouton:nth-of-type(2) {
            padding-top: 5%;
            padding-bottom: 10%;
          }
          .bouton:nth-of-type(3) {
            padding-bottom: 10%;
            padding-top: 5%;
          }

      li a {
          margin: 0.2em;
          padding: 0.5em;
          transition: ease-in-out 0.2s;
          border: 1px solid #3e0a51;
          border-radius: 100%;
          text-decoration: none;
          z-index: 1;
          background: white;

          &:hover{
            box-shadow: -2px 2px #3e0a51;
            transition: ease-in-out 0.2s;
            color: #00dab0;
            background: white;

          }
      }
    }
	}
	.text {
    margin-top: 20%;
		padding-bottom: 45%;
		margin-right: 3vw;
		margin-left: 3vw;
		h2 {
			font-family: "Redaction-Italic";
			margin-top: 0;
			font-size: 2em;
			font-weight: normal;
		}
	}
	.reseau {
		width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    line-height: 1em;
		position: fixed;
		bottom: 0;
		padding-bottom: 2.5vh;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		list-style: none;
		background: #00dab0;
		margin-bottom: 0px;
		padding-left: 0;
		height: 240px;

		li {
			padding-left: 0.15em;
			margin: 0.25em;
		}
	}
	.intro {
		display: none;
	}
	p:nth-last-of-type {
	  margin-bottom: 10em;
	}
}


// ITEMS HOME
.item {
	font-family: $hkmedium;
	z-index: 1;
	// padding-top: 5%;
	overflow: hidden;
	display: flex;
	width: 100%;
	margin-left: 0;
	position: relative;
	flex-wrap: wrap;
	padding-top: 20% !important;
  padding-bottom: 20% !important;
	#edito_nf_mobile {
		h1 {
			text-align: center;
			font-family: "Redaction-Bold";
			line-height: 1em;
			text-decoration: underline;
		}
	}

	.box-infos {
		width: 100%;
		height: auto;
		justify-content: center;
		align-self: auto;
		overflow: hidden;
		font-size: 1.15em;
		line-height: 1.265em;
		font-family: "HKGrotesk-Medium";

		h1 {
			font-size: 1.15em;
		}
	}

	.forme {
		display: none;
		position: absolute;
	}
}

.item #edito_nf_mobile {
	overflow-x: hidden;
	background: #00dab0;
	transition: all 0.2s ease-in-out;
	display: flex !important;
	align-content: center;
	font-size: 1em;

	h1 {
		font-weight: normal;
		text-align: center;
		text-decoration: underline;
	}
}

.item .documentaire-primaire {
	background: #3e0a51;
	color: white;
	text-align: center;
	.box-content {
		margin: 30px -45px;
	}
	.type-media {
		font-size: 1.2em;
	}

	h1 {
		font-size: 2em;
		line-height: 1.2em;
		margin: 0px;
	}
}

.item #le-travail-qui-vient {
	overflow-x: hidden;
	background: linear-gradient(90deg, #00dab0 30%, #f0d4fd 70%);
	transition: all 0.2s ease-in-out;
	width: 100%;
	display: flex !important;
	align-content: center;
}

.item .texte {
	.box-content {
		background: #00dab0;
	}

	.header {
		text-align: center;
		padding: 2em 1em;
		background: url("../../theme/image/svgs/back_svg/cercle.svg") center center no-repeat;
		background-size: 100% 100%;
	}
	h1 {
		margin: 0px;
	}
}

.item .podcast {
	.box-content {
		font-size: 2.5rem;
		line-height: 4rem;
		text-align: center;
	}
	h1  {
		margin: 0px;
	}

	ul {
		list-style: none;
	}
}

.item .cycle-conferences {
	background: #00dab0;

	.header {
		vertical-align: middle;
		padding: 2em 0;
		cursor: pointer;
		background: url("../../theme/image/svgs/back_svg/cercle.svg") center center no-repeat;
		background-size: 100% 100%;
		text-align: center;
	}

	.type-media {
		font-size: 0.8em;
	}

	h1 {
		font-size: 1.15em;
		margin-bottom: 1vh;
		font-family: "hkgrotesk-bold";
		word-break: break-word;
		margin: 0px;
	}

	ul {
		display: none;
	}
}

.item .outil-pedagogique {
	.header {
		cursor: pointer;
		background: url("../../theme/image/svgs/back_svg/square.svg") center center no-repeat;
		background-size: 100% 100%;
		text-align: center;
		padding: 1em;
	}
	h1 {
		margin: 0;
	}
}

.item .court-metrage {
	.header {
		cursor: pointer;
		background: url("../../theme/image/svgs/back_svg/square.svg") center center no-repeat;
		background-size: 100% 100%;
		text-align: center;
		padding: 1em;
	}
	h1 {
		margin: 0;
	}
}

.item .lexique {
	transition: all 3s ease-in-out;
	color: #3e0a51;
	margin: 0 !important;
	transform: rotate(0deg) !important;
	font-size: 1.65em !important;
	align-content: center;
	width: 50% !important;
	background: transparent;
	height: auto;

	.header {
		background: url("../../theme/image/svgs/back_svg/square.svg") center center no-repeat;
		background-size: 100% 100%;
		text-align: center;
	}

	h1 {
		font-size: 0.6em;
	}
}

.item .lexique-video {
	display: none;
}

.item #removeBox {
	display: none;
}
// BOX-READER
.box-reader {
	font-size: 1.15em;
	background: transparent;
	overflow: auto;
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	top: 0;
	z-index: 3;

	&.open {
		display: block;
	}
}

.category {
	width: auto;
	height: calc(100% - 12em);
	position: fixed;
	background: linear-gradient( 0deg , #f0d4fd 0%, #00dab0 100%);
	display: none;
	top: 0px;
	z-index: 5;
	padding: 6em 2em;
	overflow-y: scroll;
	&.open {
		display: block;
	}
	p {
		font-family: "HKGrotesk-Medium";
		font-size: 1em;
		line-height: 1.15em;
		margin-top: 0;
		margin-bottom: 0;
		text-indent: 2vw;
	}
	p:nth-last-of-type {
		margin-bottom: 10em;
	}
}

main .item .box-infos img.photo_cover {
	display: none;
}

main .item .edito .header {
	text-align: center;
}

#le-travail-qui-vient h1 {
	background: linear-gradient(90deg, #00dab0 30%, #f0d4fd 70%);
	cursor: pointer;
}

#box-left .reader_cycle-conferences,
#box-left .reader_outil-pedagogique,
.mobile #box-left .reader_court-metrage {
	height: auto;
	padding-bottom: 25%;
	overflow: auto;
}

#box-left{

  h1{
    width: 100%;
    font-family: "HKGrotesk-Bold";
    font-size: 2em;
    text-decoration: underline 0.07em white;
    line-height: normal;
    font-weight: normal;
    margin-bottom: 40px;
    padding-top: 20%;
  }

  ol#nav_left{
  	list-style: none;
  	position: sticky;
  	top: 50px;
  	background: $rose;
  	font-size: $size/1.7;
  	border: 1px solid white;
  	border-radius: 10px;
  	padding: 20px;
  	box-shadow: -2px 2px white;
  	margin: 0px;
  	li{
  		white-space: nowrap;
  		overflow: hidden;
  		text-overflow:ellipsis;
  		max-width: 100%;
  		line-height: 2.5em;
  		margin-right: 1em;
  		cursor: pointer;
  		&:before{
  			content: "•";
  			font-family: 'HKGrotesk-Medium';
  			color: white;
  			font-size: 2em;
        padding-right: 20px;
  			-webkit-text-stroke: 1px #3e0a51;
  			text-shadow: -2px 2px #3e0a51;
  		}

  		a{
  			color: $color-txt;
  			text-decoration: none;
  			cursor: pointer;

  		}
  	}
  }
}
#box-top h1 {
  	font-size: 2em;
    width: 96%;
    background: #3e0a51;
    padding-bottom: 0;
    text-decoration: underline 0.07em $color-podcast;
    line-height: normal;
    margin-bottom: 0;
    font-weight: normal;
    // padding-top: 20%;
}
#box-top .header {
    position: sticky;
    padding-top: 15%;
    top: 0%;
    background: #3e0a51 !important;
    margin-bottom: 5%;
    z-index: 1;
}
#box-top .head_close {
  width: auto;
position: fixed;
color: white;
right: 5%;
}
#box-top {

padding-bottom: 20%;
}
.mobile #box-right.box-reader.reader-right {
    animation: none;
    margin-top: -2vh;
    padding-bottom: 2vh;
}
.reader_documentaire-primaire .info-primaires ul li{
  display: inline;
}
.reader_documentaire-primaire .info-primaires ul li::after {
    content: " | ";
}

#box-bottom {

  background: $color-podcast;
  transition: all 1s ease-in-out;
  z-index: 2;

	.flex-box {
		padding-top: 10%;
		margin-bottom: 460px;
	}


	.link-logo {
		.deezer{
			width: 9.25%;
			height: 10%;
			margin-top: -10%;
		}
		.apple{
			width: 11%;
			height: auto;
			margin-top: -15%;
		}
		.spoty, .soundcloud, .rss{
			width: 15%;
			height: 6%;
		}
		svg{
			fill:#3e0a51;
			padding-left: 0;
			&:hover{
			 fill: white;
			}
		}
	}
	.header {
		width: 100%;
		padding-top: 20%;
		position: relative !important;
		background: #00dab0;
	}
	h1{
		position: fixed;
    bottom: 0;
    background: #00dab0;
    padding-top: 4%;
    padding-bottom: 3%;
    z-index: 1;
    height: 400px;
		border-top: 4px solid $violet;
	}
	.reader_episode-podcast {
		.info {
			overflow: hidden;
		}
		.info h1 {
			padding-left: 0.575em;
			text-decoration: underline 0.07em;
			text-decoration-color: white !important;
			line-height: normal;
			width: 100%;
			font-size: 1.3em;
			line-height: 0;
			margin: 0 auto;
			overflow: hidden;
			box-sizing: border-box;
			span {

				display: inline-block;
				width: max-content;
				padding-left: 100%;
				will-change: transform;
				animation: marquee 15s linear infinite;
			}

			@keyframes marquee {
				0% { transform: translate(0, 0); }
				100% { transform: translate(-100%, 0); }
			}

		}




	.info .part-small img {
		width: 100%;
		position: sticky;
		top: 0;
	}


		.audio-player {
      width: 100%;
			bottom: 0%;
			padding-top:0%;
			background: #00dab0;
			position: fixed;
			font-size: 1em;
			height: auto;
			border-bottom: 6px solid white;
			z-index: 2;
      padding-bottom: 15%;

			.timeline {
				margin-top: -20px;
			}

			.controls > * {
				align-items: normal;
			}
			.volume-container {
				display: none;
			}
			.controls {
				padding: 1rem 3rem;

				#next {
					margin-right: 20px;
				}
				.time {
					margin-left: -50px;
					margin-top: 5px;
				}
				.toggle-play.play {
					border: 25px solid #0000 !important;
					border-left-color: rgba(0, 0, 0, 0);
					border-left-style: solid;
					border-left-width: 12px;
					border-left: 45px solid white !important;
					width: auto;
				}
				.toggle-play.pause {
					&:before,
					&:after{
						height: 45px !important;
						width: 10px !important;
					}
					&:before{
						left: 14px;
					}
					&:after{
						right: 18px;
					}
				}
				 .name {
					 display: none;
				 }
				 #btn_info{
					 display: none;
				 }
				 img {
					 position: relative;
				 }
				}
			}
		.info {
			display: block !important;
			height: auto;
			width: 100%;
      .texte p strong {
        font-family: "HKGrotesk-Bold";
        font-weight: normal;
      }
      ul {
       list-style: none;
       font-family: "redaction-regular";
       margin-top: 2vh;
       line-height: 1.3em;
       font-size: 0.7666666667em;
       border-top: 1px solid #3e0a51;
       padding-top: 2vh;
       padding-left: 0px;
     }
       ul li {
         display: inline;
    }

		.part-fat {
			width: 100%;
			padding-left: 4%;
			padding-right: 1.15em;
			height: 80%;
			padding-bottom: 20%;
			p{
					width: 85%;
				}
				details{
					width: 85%;
			}
		}
		.info h1 {
		    margin-bottom: 0.575em;
		    margin-left: 1.15em;
		    padding-left: 0.575em;
		    margin-top: 0;
		    top: -1vh;
		    width: 100%;
		    font-weight: normal;
		    font-family: "HKGrotesk-Bold";
		    font-size: 1.75em;
				text-decoration: underline 0.07em;
				text-decoration-color: currentcolor;
				text-decoration-color: white !important;
				line-height: normal;
				position: sticky;
				top: 0;
			}

			.part-small {
				height: auto;
				width: 80%;
				padding: 1.15em;
				line-height: 1.15em;
				z-index: -1;
			}
		}
	}
}
#box-bottom {
	.link-logo {
		position: absolute;
		top: 8%;
		margin: 40px;
		background: #00dab0;
		z-index: 1;
		a{
		img{
			height: 7vw;
			margin-right: 1em;
		}
	}
}
  .prev{
    padding-left: 0.575em;
  }
}
.box-reader {
	font-size: 1.15em;

	p {
		text-indent: 2vw;
		margin-bottom: 0;
		margin-top: 0;
    font-size: .9em;
	}

	a {
		color: $violet;
		text-decoration: underline;

		&:hover {
			color: white;
		}
	}
}
#box-left h1,
#box-top h1 {
	font-family: "HKGrotesk-Bold";
	font-size: 2em;
	text-decoration: underline 0.07em;
	text-decoration-color: currentcolor;
	line-height: normal;
	position: sticky;
	font-weight: normal;
	transition: font-size 2s;
}

#box-top h1{
  margin-bottom: 0;
}

.reader_texte .header h1 {
	background: white;
	text-decoration-color: #00dab0 !important;
	top: 0;
	margin-top: 0;
}

.reader_texte {
	padding: 1em;
	background: white;

	.content p {
		font-family: "HKGrotesk-Medium";
		font-size: 1.15em;
		line-height: 1.25em;
		text-indent: 2em;
	}

	.header h1 {
		background: white;
		text-decoration-color: #00dab0 !important;
		top: 0;
		margin-top: 0;
	}

	.content img {
		margin-bottom: 2vh;
		margin-top: 2vh;
		width: 95%;
	}

	span {
		color: #00dab0 !important;
		font-family: "Redaction-Regular";
		font-size: 0.8em;
		line-height: 1.6em;
	}
}
.mobile #box-left h2, .mobile #box-right h2, .mobile #box-top h2, .mobile #box-bottom h2 {
    padding-left: 0;
    padding-top: 0.56rem;
    margin: 0;
}
.reader_texte .date::before,
.reader_texte span::before {
	-webkit-text-stroke: 1px #3e0a51;
	color: #00dab0;
	content: "•";
	font-family: "HKGrotesk-Medium";
	font-size: 2em;
	padding-right: 1vw;
	text-shadow: -2px 2px #3e0a51;
}
.reader_cycle-conferences .header h2, .reader_outil-pedagogique .header h2, .reader_court-metrage .header h2, .reader_court-metrage-2 .header h2 {
    font-family: "HKGrotesk-Medium";
    width: auto;
    margin-top: 2vh;
    padding-left: 2em;
    margin-bottom: 2vh;
    padding-left: 2em;
    color: white;
    font-size: 1em;
    display: inline-flex;
}
.reader_documentaire-primaire {
	padding: 1em;
	background: #3e0a51;
	color: white;
  top: 0;
  position: absolute;
  iframe {
    position: relative;
    width: 88vw;
    height: 49vw;
    transform: scale(1) !important;
    transform-origin: 0 0 !important;
    order: 1;
    top: 0;
    right: 0;
}

	details {
		width: 85%;
    padding-left: 0.575em;

		summary {
			background: white;
			border-radius: 10px;
			border: 1px solid #00dab0;
			box-shadow: -2px 2px #00dab0;
			color: #3e0a51;
			padding: 0.5em;
			font-family: "HKGrotesk-Bold";
			width: 60%;
			cursor: pointer;
			list-style: none;
      padding-left: 0.575em;
		}
	}
  .reader_documentaire-primaire .info-primaires details {
      font-family: "HKGrotesk-Medium";
      width: 90%;
      line-height: 1.15em;
      margin-top: 2vh;
  }


	details summary::after {
		content: " ↓";
		color: #00dab0;
		font-size: 1.15em;
		font-family: "HKGrotesk-bold";
	}

	.flex-box {
		display: flex;
		flex-wrap: wrap;
    .info-primaires{
      order: 2;
      padding-top: 5%;
       ul {
      font-size: 1.5rem;
      width: 80%;
      list-style: none;
      font-family: "redaction-regular";
      margin-top: 2vh;
      line-height: 1.3em;
      border-top: 1px solid #00dab0;
      color: #00dab0;
      padding-top: 2vh;
      padding-left: 0px;
      height: 100%;
      }
      li strong {
    font-family: "Redaction-Bold";
    font-variant: small-caps;
    text-transform: lowercase;
    color: white;
    letter-spacing: 0.02em;
    }
	}
}

	p {
		padding-left: 0.575em;
		padding-right: 0.575em;
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		font-family: "HKGrotesk-Medium";
		font-size: 1.05em;
		line-height: 1.15em;
		text-indent: 2em;

		em {
			font-family: "HKGrotesk-MediumItalic";
			color: #f0d4fd;
			font-style: normal;
		}
	}

	h2 {
		font-family: "HKGrotesk-Medium";
		width: auto;
		margin-top: 2vh;
		padding-left: 2em;
		margin-bottom: 2vh;
		color: #00dab0;
		font-size: 1em;
		display: inline-block;
	}
}
.reader_documentaire-primaire .info-primaires details:nth-of-type(1) {
    color: white !important;
    background: #3e0a51 !important;
}
.reader_documentaire-primaire .info-primaires details:nth-of-type(1) summary {
    background: #3e0a51 !important;
    border-radius: 0px !important;
    border: 0px solid #3e0a51 !important;
    box-shadow: 0px 0px #3e0a51 !important;
    color: white !important;

}
main .item .podcast .list_podcast li {
  font-family: "HKGrotesk-Medium";
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: .1em;
  background: #f7f1e7;
  padding: .1em;
  align-content: center;
  line-height: 1.3em;
}
main .item .podcast .list_podcast {
    font-family: "HKGrotesk-Medium";
    font-size: 0.6em;
    padding: 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 margin: 1em;
}
main .item .ressource{
	transform: scale(1);
	box-shadow: -0.4em 0.4em transparent;
	cursor: pointer;
	color: #3e0a51;
	background: #00dab0;
	.box-content {
		background: #00dab0;
	}
}
main .item .ressource .header{
  text-align: center;
  width: 100%;
  padding: 1em 0;
  background: url("../../theme/image/svgs/back_svg/cercle.svg") center center no-repeat;
  background-size: 100% 90%;

}
#box-right h1 {
    width: 100%;
    padding-top: 20%;
}
.reader_lexique {
    right: 0;
    background: #00dab0;
    margin: 0 auto;
		iframe:nth-of-type(1) {
    	margin-top: 5vh;
		}
		iframe {
			margin-top: 15px;
			height: 50vw;
	    padding-left: 0.5vw;
	    width: 100%;

		}
		.intro {
			ul {
		    list-style: none;
		    font-family: "redaction-regular";
		    margin-top: 2vh;
		    line-height: 1.3em;
		    font-size: 0.7666666667em;
		    border-top: 1px solid white;
		    color: #3e0a51;
		    padding-top: 2vh;
		    width: 100%;
		    padding-left: 0;
				li{
					display: inline;
				}
				li:nth-last-of-type(1)::after {
    			content: " ";
				}
				li::after {
    			content: " | ";
				}
				li strong {
		    font-family: "Redaction-Bold";
		    font-variant: small-caps;
		    text-transform: lowercase;
		    color: white;
		    letter-spacing: 0.02em;
			}
		}
			p {
    font-family: "HKGrotesk-Medium";
    font-size: 1em;
    line-height: 1.15em;
    margin-bottom: 0em;
    margin-top: 0;
		}
		h3 {
    font-weight: normal;
    font-family: "HKGrotesk-BoldItalic";
    color: white;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 2vh;
	}
}
		h1 {
    font-family: "HKGrotesk-Bold";
    font-size: 1.2em;
    font-weight: normal;
    margin-top: 2vh;
    text-decoration: underline;
        text-decoration-color: currentcolor;
    text-decoration-color: white;
}
		.box-mot {
	    padding: 0 1em;
	}
}
.reader_ressource {
  background: #f7f1e7;
  z-index: 2;
  padding: 1.2em;
  line-height: 1.4em;
  h3{
    font-weight: normal;
  }
  .date {
    display: none;
  }
  .header{
    h1{
      color: $color-txt;
      font-size: 2em;
      line-height: normal;
      text-decoration: underline 0.07em $vert;
      margin-bottom: 2vh;
      margin-top: 0;
      width: auto;
      display: inline-flex;
      font-weight: normal;
    }
  }

  h2 {
    font-family: "Redaction-Bold";
    font-size: $size;
    margin-top: 2vh;
    text-decoration: underline $color-podcast;
  }

  h2:nth-of-type(1) {
    margin-top: 2vh;
  }

  h3 {
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-family: "Redaction-Regular";
    margin-left: 3vw;
    background: white;
    padding: 1em;
    box-shadow: -2px 2px #3e0a51;
    font-size: 0.9583333333em;
    line-height: 1.4em;
    border: 1px solid #3e0a51;
    border-radius: 5px;
    width: 80%;
  }

  h4 {
    font-weight: normal;
    font-size: $size/1.2;
    font-family: "Redaction-Regular";
    margin-top: 1vh;
    padding: 0;
    margin-left: 2vw;
      &::before {
        content: "†";
        font-family: "HKGrotesk-Medium";
        color: $rose;
        -webkit-text-stroke: 1px #3e0a51;
        text-shadow: -2px 2px #3e0a51;
        transition: ease-in-out 0.2s;
        float: left;
        padding-right: 1vw;;
        font-size: 2em;
      }
      &:hover:before {
        content: "†";
        font-family: "HKGrotesk-Medium";
        color: $violet;
        -webkit-text-stroke: 1px $rose;
        text-shadow: -2px 2px $rose;
        transition: ease-in-out 0.2s;
      }
      a {
        color: $violet;
        font-family: "Redaction-Bold";
        text-decoration: underline;
        font-size: .9em;

        &:hover {
          color: $rose;
          text-decoration: none;
        }
      }
      &:nth-of-type(1){
        margin-bottom: 0;
        margin-left: 0vw;
      }
  }

  ul {
    list-style: none;
    font-size: $size/1.2;

    li {
      font-family: "Redaction-Regular";
      margin-top: 1vh;
      padding: 0;

      &::before {
        content: "•";
        font-family: 'HKGrotesk-Medium';
        color: #00dab0;
        -webkit-text-stroke: 1px #3e0a51;
        text-shadow: -2px 2px #3e0a51;
        transition: ease-in-out 0.2s;
        float: left;
        font-size: 2em;
        padding-right: 1vw;
      }

      &:hover:before {
        content: "•";
        font-family: 'HKGrotesk-Medium';
        color: #3e0a51;
        -webkit-text-stroke: 1px #00dab0;
        text-shadow: -2px 2px #00dab0;
        transition: ease-in-out 0.2s;
      }

      a {
        color: $violet;
        font-family: "Redaction-Bold";
        text-decoration: underline;
          font-size: .9em;

        &:hover {
          color: #00dab0;
          text-decoration: none;
        }
      }
    }
    &:nth-of-type(1){
      padding-left: 0;
    }
  }
}
.reader_court-metrage,
.reader_court-metrage-2,
.reader_cycle-conferences,
.reader_outil-pedagogique {
	background: #f0d4fd;
	color: #3e0a51;
	padding: 1em;
}

.reader_court-metrage .info-primaires,
.reader_court-metrage-2 .info-primaires,
.reader_cycle-conferences .info-primaires,
.reader_outil-pedagogique .info-primaires {
	font-family: "HKGrotesk-Medium";
	margin-left: 1vw;
}

.mobile .reader_court-metrage .info-primaires p,
.mobile .reader_cycle-conferences .info-primaires p,
.mobile .reader_outil-pedagogique .info-primaires p {
	font-size: 1.15em;
	line-height: 1.25em;
	font-family: "HKGrotesk-Medium";
	width: 90%;
}

.reader_court-metrage .info-primaires p:nth-of-type(1),
.reader_court-metrage-2 .info-primaires p:nth-of-type(1),
.reader_cycle-conferences .info-primaires p:nth-of-type(1),
.reader_outil-pedagogique .info-primaires p:nth-of-type(1) {
	margin-top: 3vh;
	text-indent: 0;
}

.reader_court-metrage .info-primaires strong,
.reader_court-metrage-2 .info-primaires strong,
.reader_cycle-conferences .info-primaires strong,
.reader_outil-pedagogique .info-primaires strong {
	font-family: "HKGrotesk-Bold";
	font-weight: normal;
}

.date {
	display: none;
}

.head_close {
	position: fixed;
	top: 10%;
	right: 5% !important;
	font-size: 6rem !important;
	z-index: 10;

	.coda,
	.fullscreen {
		display: none;
	}
}
.reader_episode-podcast .info h1 em {
    font-family: "HKGrotesk-MediumItalic";
    font-style: normal;
}

.top_left {
	transform-origin: top left;
}
.top_right {
	transform-origin: top right;
}
.bottom_left {
	transform-origin: bottom left;
}
.bottom_right {
	transform-origin: bottom right;
}

.niveau_1 {
	order: 1;
	.box-content .type-media {
		font-size: 1.2em;
		margin-top: 38%;
		color: white;
		background: #3e0a51;
		line-height: 4.5rem;
	}
}

.niveau_2 {
	order: 2;
}
.niveau_2-1 {
	order: 3;
}
.niveau_2-2 {
	order: 4;
}

.niveau_3 {
	order: 5;
}
.niveau_3-1 {
	order: 5;
}
.niveau_3-2 {
	order: 6;
}

.niveau_3-3 {
	order: 7;
}
.niveau_3-4 {
	order: 8;
}

.niveau_4 {
	order: 9;
}
#curriculum-futurae .forme {
	display: block !important;
	transform: scale(6);
	transform-origin: bottom left;
	width: auto !important;
	text-align: center;
	margin-left: auto;
margin-left: 25%;
z-index: -2;
width: auto;
}
.camembert .forme #cm-1 {
    transform: rotate(-180deg);
    z-index: 1;
    position: absolute;
    transform-origin: center;
    transition: all 0.7s ease-in-out;
		top: -10;
}
.camembert .forme #cm-2 {
    transform: rotate(20deg);
    z-index: 2;
    position: absolute;
    transform-origin: center;
    transition: all 0.6s ease-in-out;
			top: -10;
}
.camembert .forme #cm-3 {
    transform: rotate(-240deg);
    z-index: 3;
    position: absolute;
    transform-origin: center;
    transition: all 1s ease-in-out;
		top: -10;
}
.courbes .forme {
	display: block;
	transform: scale(0.5);
	transform-origin: bottom left;
	width: auto !important;
	text-align: center;
	margin: 0 auto;
	margin-left: 15%;
}

.courbes .forme #c-1 {
    z-index: 1;
    position: absolute;
    // transform-origin: bottom left;
    // transition: all 0.4s ease-in-out;
}

.courbes .forme #c-2 {
    z-index: 1;
    position: absolute;
    // transform-origin: bottom left;
    // transition: all 0.2s ease-in-out;
}

.courbes .forme #c-3 {
    z-index: 3;
    position: absolute;
    transform-origin: bottom right;
    // transition: all 0.3s ease-in-out;
}

.video-responsive {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}

.video-responsive iframe {
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}
