/* jaune : ffe55dff */
/* bleu : 20d1eaff */
/* rouge : ff4033ff */

@font-face {
  font-family: "Redaction_10-Bold-CVB";
  src: url("../font/redaction/webfonts/Redaction35-Bold-CVB.ttf");
}

@font-face {
  font-family: "HKGrotesk-Medium";
  src: url("../font/HKGrotesk-Medium.ttf");
}

@font-face {
  font-family: "HKGrotesk-Bold";
  src: url("../font/HKGrotesk-Bold.otf");
}

body{
  margin: 0;
  --size: 1.15em;
}

.containerTemporaryHome{
  width: 100%;
  height: 100%;
  display: flex;
  font-size: calc(var(--size)*0.9);
  line-height: var(--size);
  flex-direction: row;
  position: fixed;
  font-family: "HKGrotesk-Medium";
}

body ::selection {
    background: white;
    color: #3e0a51 !important;
  }

.containerTemporaryHome #editoLeTravailQuiVient,
.containerTemporaryHome #editioNosFuturs,
.containerTemporaryHome #editoAutogestion{
    width: 33.33%;
    height: 100%;
}

.containerTemporaryHome #editoLeTravailQuiVient h1,
.containerTemporaryHome #editoAutogestion h1{
  -webkit-text-stroke: 0.015em #3e0a51;
  text-shadow: -0.05em 0.05em #3e0a51;
  color: white;

}

.containerTemporaryHome h1{
  font-family: "HKGrotesk-Bold";
  font-size: calc(var(--size)*1.9);
  line-height: var(--size);
  padding-bottom: 1em;
  margin: -1em 0 0 0;

}

.containerTemporaryHome p{
  margin-top: 1em;
}

.containerTemporaryHome #editoLeTravailQuiVient{
  background: #f0d4fd;
}

.containerTemporaryHome #editoLeTravailQuiVient a{
  text-decoration: none;
  padding-top: 1em;
  color: #3e0a51; 
  font-family: "HKGrotesk-Bold";
}

.containerTemporaryHome #editoLeTravailQuiVient a:hover{
  color: white;
}

.containerTemporaryHome #editoAutogestion h2{
  color: white;
  font-family: "HKGrotesk-Bold";
  font-weight: normal;
}


.containerTemporaryHome #editoLeTravailQuiVient .textEdito a:before{
  content: "⟶ ";
}

.containerTemporaryHome #editoLeTravailQuiVient .textEdito,
.containerTemporaryHome #editoAutogestion .textEdito,
.containerTemporaryHome #editioNosFuturs .textEdito{
  padding-right:5%;
  padding-left:5%;
  padding-bottom: 5%;
  padding-top: 10em;
  cursor: default;
}

.containerTemporaryHome #editoLeTravailQuiVient .textEdito p i,
.containerTemporaryHome #editoAutogestion .textEdito p i,
.containerTemporaryHome #editioNosFuturs .textEdito p i{
  font-style: normal;
  font-family: "Redaction-Italic";
}

.containerTemporaryHome #editoLeTravailQuiVient .imgLTQV{
  object-fit: cover;
  height: 100%;
  width: 33.33%;
  position: fixed;
  /* z-index: -1; */
  mix-blend-mode: screen;
}

.containerTemporaryHome #editioNosFuturs{
  background: linear-gradient(0deg, #f0d4fd 0%, #ffe55dff 100%);;
  font-size: calc(var(--size)/1.2);
  line-height: 1.15em;
  font-family: "Redaction-Regular";
}

.containerTemporaryHome #editioNosFuturs a {
  color: #3e0a51;
}

.containerTemporaryHome #editioNosFuturs a:hover{
  color: white;
}

.containerTemporaryHome #editioNosFuturs h1{
  font-family: "Redaction-Italic";
  font-size: 2em;
}

.containerTemporaryHome #editoAutogestion {
  background: #ffe55d;
  color: #3e0a51;
}

.containerTemporaryHome #editoLeTravailQuiVient .textEdito,
.containerTemporaryHome #editoAutogestion .textEdito{
  display: none;
}

.containerTemporaryHome #editoAutogestion .imgAutoGestion{
  object-fit: contain;
  /* object-position: 50% 50%; */
  height: 100%;
  mix-blend-mode: screen;
}

.containerTemporaryHome #editoLeTravailQuiVient:hover .imgLTQV{
  display: none;
}

.containerTemporaryHome #editoAutogestion:hover .imgAutoGestion{
  display: none;
}

.containerTemporaryHome #editoLeTravailQuiVient:hover .textEdito{
  display: block;
}

.containerTemporaryHome #editoAutogestion:hover .textEdito{
  display: block;
}

body .menu-temp {
  font-family: "Redaction_10-Bold-CVB";
  font-weight: normal;
  color: white;
  font-size: 5em;
  -webkit-text-stroke: 0.004em black;
  text-shadow: -0.05em 0.05em black;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

body .menu-temp:hover{
  text-shadow: 0 0 black;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

body .menu-temp .nos,
body .menu-temp .futurs,
body .menu-temp .point,
body .menu-temp .net{
  position: fixed;
  z-index: 12;
}

body .menu-temp a{
  color: white;
  text-decoration: none;
  -webkit-text-stroke: 0.004em black;
  margin: 0;
}

body .menu-temp .nos{
  top: 0;
  left: 1.50vw;
}
body .menu-temp .futurs{
  top: 0;
  right: 1.5vw;
}
body .menu-temp .point{
  bottom: 0;
  left: 1.5vw;
}
body .menu-temp .net{
  bottom: 0;
  right: 1.5vw;
}

@media only screen and (max-width: 1200px){

  .containerTemporaryHome{
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: calc(var(--size)*1.5);

  }

  .containerTemporaryHome #editoLeTravailQuiVient,
  .containerTemporaryHome #editioNosFuturs,
  .containerTemporaryHome #editoAutogestion{
      width: 100%;
      height: auto;
      position: relative;
  }

  .containerTemporaryHome #editoLeTravailQuiVient .imgLTQV,
  .containerTemporaryHome #editoAutogestion .imgAutoGestion{
    display: none;
  }

  .containerTemporaryHome #editoLeTravailQuiVient .textEdito,
  .containerTemporaryHome #editoAutogestion .textEdito{
    display: block;
    order: 1;
    padding-top: 5em;
  }

  .containerTemporaryHome #editoAutogestion .textEdito p:nth-last-of-type(1){
    padding-bottom: 10em;
  }

  .containerTemporaryHome #editioNosFuturs{
    order: -1;
    background: linear-gradient(0deg, #ffe55dff 0%, #f0d4fd 100%);;
    line-height: 2em;
  }

  .containerTemporaryHome #editioNosFuturs .textEdito{
    padding-top: 14em;
  }

  .containerTemporaryHome h1{
    font-size: calc(var(--size)*5.5);
    line-height: var(--size);
    padding: 0;
  }

  body .menu-temp{
    font-size: 10rem;
  }

}
