
{% if article %}
<div class="reader reader_{{article.type}}">
	<div class="header">
	  <h1>
			{{ article.title }}
		</h1>
	</div>
	<div class="content">
		{{ article.content }}
	</div>
</div>

{% endif %}
