<html>
<head>
  <meta charset="utf-8" />
  <title>nos futurs</title>
  <link rel="stylesheet" href="theme/css/style.css">
  <link rel="shortcut icon" type="image/png" href="theme/image/favicon.png" />
</head>

<body>
  <div class="flexdetout">

    <section class="box-reader reader-top" id="box-top">
          <div class="head_close"><div class="close">✕</div></div>
          <div class="content">
        </div>

    </section>

    <section class="flexcentre">

      <div class="main">
        <main>
          {% block content %}{% endblock content %}
        </main>
        <header class="menu" onclick="boxmenu('menu-edito')">
          <div class="menu-top">
            <span class="title">nos</span>
            <span class="title">futurs</span>
          </div>
          <div class="menu-bottom">
            <span class="title">.</span>
            <span class="title">net</span>
          </div>
        </header>
        <div id="menu-edito" style="visibility:hidden">
          {% include 'parts/menu.part.html' %}
        </div>
      </div>

      <div class="box-reader reader-left" id="box-left">
        <div class="head_close"><div class="close">✕</div></div>
        <div class="content"></div>
      </div>

        <div class="box-reader reader-right" id="box-right">
            <div class="head_close"><div class="close">✕</div></div>
            <div class="content">
            </div>
        </div>

    </section>

    <section class="box-reader reader-bottom" id="box-bottom">
			<div class="head_close"><div class="close">✕</div></div>
			<div class="content">
      </div>
    </section>


  </div>
</body>

<script src="theme/js/placement.js"></script>
<script src="theme/js/player.js"></script>
<script src="theme/js/main.js"></script>

</html>
