{% if article %}

<div class="player salut reader_{{article.type}}">

	<div class="header">
		<h1>
			{{ article.title }}
		</h1>

		<span class="date" >
			{{ article.date }}
		</span>

		<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ article.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	</div>

	<div class="info-primaires">
		{{ article.content }}

	</div>

</div>
{% endif %}
