{% extends "base.html" %}

{% block content %}
<div class="projet">
<section class="documentaire">

   {{article.content}}


  <div class="tag-lexique">
    <ul>{% for tag in article.tags %}
      <li>{{ tag }}</li>
      {% endfor %}
    </ul>
  </div>
</section>
</div>
  {% endblock %}
