{% if article %}

<div class="player reader_{{article.type}}">
	<div class="header">

			<audio id="player_source" controls>
				<source id="player_source_item" src="{{ article.audio }}"  type="audio/mp3">
			</audio>
			<div class="audio-player">
				<div class="timeline">
					<div class="progress"></div>
				</div>
				<div class="controls">
					<div class="play-container">
						<div class="toggle-play play">
						</div>
					</div>
					<div class="time">
						<div class="current">0:00</div>
						<div class="divider">/</div>
						<div class="length"></div>
					</div>
					<div class="name">{% for podcast in articles if podcast.slug == article.category %}
						{{ podcast.title}} : {% endfor %}{{ article.title }}</div>
					<div class="btn_info">infos</div>
					<div class="volume-container">
						<div class="volume-button">
							<div class="volume icono-volumeMedium"></div>
						</div>

						<div class="volume-slider">
							<div class="volume-percentage"></div>
						</div>
					</div>
					<div class="btn_info">épisode suivant →</div>
				</div>
			</div>
	</div>
	<div class="info">
		<h1>
			{{ article.title }}
		</h1>
		<span class="date">
			{{ article.date }}
		</span>
	<div class="flex-box">
				<div class="part-small">
					<img src="images/{{ article.cover }}" alt="">
				</div>
				<div class="part-small">
					<div>{{ article.content }}</div>
				</div>
				<div class="part-fat texte">
					{% for podcast in articles if podcast.slug == article.category %}
						{{ podcast.content}}
					{% endfor %}
				</div>
	</div>
</div>

{% endif %}
