{% extends "base.html" %}

{% block content %}

<section class="item">
{% for art in articles %}
	{% if art.type == "lexique" %}

	<div id="{{art.slug}}" class="box-click box-infos {{art.type}} niveau_{{art.niveau}}" data-player="right" data-url="{{ art.url }}" >
			<div class="header">
				<div class="header-info">
					<!-- <div class="play">❑ </div> -->
					<h1>{{art.title}}</h1>
				</div>
			</div>
	</div>
	{% endif %}
	{% if art.type == 'ressource'%}

		<div class="box-click box-infos {{art.type}} niveau_{{art.niveau}}" data-player="right" data-liens="{{ art.liens }}"data-url="{{ art.url }}" >
			<div class="header">
				<div class="header-info">
					<!-- <div class="type-media">{{art.type}}</div> -->
					<!-- <div class="play">☴ </div> -->
					<h1>☴  {{art.title}}</h1>
					</div>
				</div>
			</div>
	{% endif %}

	{% if art.category == article.slug %}
		{% if art.type == 'podcast'%}
		<div class="box-infos {{art.type}} niveau_{{art.niveau}}" >
			<div class="header">
				<div class="header-info">
					<div class="type-media">podcast</div>
					<div class="play">›</div>
				</div>
				<h1> {{ art.title }} </h1>
			</div>
				<ul class="list_podcast" >
					{% for episode in articles if episode.category == art.slug %}
					<li class='box-click' data-player="bottom" data-url="{{episode.url}}" >
						<span class="episode_name">#{{ loop.index }} {{ episode.title }}</span>
						<span class="play">›</span>
					</li>
					{% endfor %}
				</ul>
		</div>
		{% endif %}
		
		{% if art.template == "cycle-conferences" %}
		<div class="box-infos {{art.type}} niveau_{{art.niveau}}" >
			<div class="header">
				<div class="header-info">
					<div class="type-media">conférences</div>
					<div class="play">›</div>
				</div>
				<h1> {{ art.title }} </h1>
			</div>
				<ul class="list_podcast" >
					{% for episode in articles if episode.category == art.slug %}
					<li class='box-click' data-player="bottom" data-url="{{episode.url}}" >
						<span class="episode_name">#{{ loop.index }} {{ episode.title }}</span>
						<span class="play">›</span>
					</li>
					{% endfor %}
				</ul>
		</div>
		{% endif %}

		{% if art.template == 'court-metrage'%}
		<div class="box-click box-infos {{art.template}} niveau_{{art.niveau}}"data-player="left" data-url="{{ art.url }}">
			<div class="header">
				<div class="header-info">
					<div class="type-media">{{ art.type}}</div>
					<div class="play">›</div>
				</div>
				<h1> {{ art.title }} </h1>
			</div>
		</div>
		{% endif %}

		{% if art.type == 'texte'%}
		<div class="box-click box-infos {{art.type}} niveau_{{art.niveau}}" data-player="left" data-url="{{ art.url }}">
			<div class="header">
				<div class="type-media">article</div>
				<h1>{{ art.title }}</h1>
			</div>
		</div>
		{% endif %}

		{% if art.type == 'outil-pedagogique'%}

		<div class="box-click box-infos {{art.type}} niveau_{{art.niveau}}" data-liens="{{ art.liens }}">

			<div class="header">
				<div class="type-media">{{ art.type}}</div>
				<h1> {{ art.title }} </h1>
				<div class="play">›</div>
				<img src="https://cvb.be/sites/default/files/styles/extra_large/public/photo_newsletter.jpg?itok=gIls_z-v"/>
			</div>
			<ul class="list_documentaire">
					{% for episode in articles if episode.category == art.slug %}
						<li class='box-click' data-player="left" data-url="{{episode.url}}" >
							<img src="https://cvb.be/sites/default/files/styles/extra_large/public/photo_principale_8.jpg?itok=wYdLM_5B"/>
							<span class="play">›</span>
							<span class="episode_name">{{ episode.title }}</span>
						</li>
					{% endfor %}
			</ul>

		</div>


		{% endif %}
		{% if art.type == 'documentaire-primaire'%}

		<div class="box-click box-infos {{art.type}} niveau_{{art.niveau}}" data-player="top" data-liens="{{ art.liens }}" data-url="{{ art.url }}">
			<div class="header">
				<h1> {{ art.title }} </h1>

				<div class="play">›</div>
				<img src="https://cvb.be/sites/default/files/styles/extra_large/public/films/shift_jb_lesbroussart.jpg?itok=bsVIHjFS"/>
			</div>
		</div>

		{% endif %}
	{% endif %}
{% endfor %}

</section>
<div class="category">
	<details class="introduction" open>
		<summary>{{ article.title }}</summary>
	<div class="edito">
		{% include 'edito-saison.html' %}

	</details>
</div>
{% endblock %}
