{% if article %}

<div class="reader_lexique">
	<!-- <h1 class="titreLexique">Le lexique du <span>travail qui vient</span></h1> -->
	<br>
	<br>
	 <div id="" class="box-mot">
		{% for mot in articles if mot.template == 'lexique' %}
		 <details {% if article.slug == mot.slug  %} open {% endif %} id="{{mot.slug}}" >
			 <summary>{{ mot.title }}</summary>
			 <iframe src="https://www.youtube.com/embed/" title="{{ mot.title }}" frameborder="0"  allowfullscreen></iframe>
		<br/>
		
		</details>
		{% endfor %}
	</div>
</div>
{% endif %}
