{% if article %}

<div class="lexique">
	 <div id="{{article.title}}" class="box-mot">
		<h1>{{article.content}}</h1>
		<iframe width="250px" height="250px" src="https://www.youtube-nocookie.com/embed/{{ article.video }}?autoplay=1" title="{{ article.title }}" frameborder="0" allow="autoplay"></iframe>
		</div>
</div>
{% endif %}
